
h4{
	margin-top: 20px;
	margin-left: 20px;
	letter-spacing:1px;
}
p{
	margin-top: 20px;
	margin-left: 20px;
	font-size: 18px;
	letter-spacing:1px;
}
h3{
		letter-spacing:1px;
}
.w1200{
	width: 1400px;
	margin: 0 auto;
	overflow: hidden;
	font-family: "微软雅黑";
	margin-bottom: 100px;
	/*background-image: url(../images/dabeijing3.jpg);*/
	/*background-image: url(../images/dabeijing2.jpg);*/
	/*background-image: url(../images/dabeijing.jpg);*/
	
}
.biaoti{
	text-align: center;
	margin-top: 50px;
}

.left1{
	width: 900px;
	float: left;
	margin-top: 50px;
	
}
.datu{
	width: 900px;
}
.datu img{
	width: 820px;
	height: 400px;
	
}
.left1 h2{
	height: 50px;
	margin-top: 30px;
	margin-bottom: 30;
	letter-spacing:1px;
	text-align: center;
	color: #FF6C9E;
}
.left1 h2:hover{
	color: #FF9617;
}
.left1 h3{
	margin-top: 30px;
	margin-bottom: 10px;
}
.left1 p{
	text-indent: 40px;
	line-height: 1.8em;
	color: #646464;
}
.left1 div{
	margin-left: 20px;
    padding-top: 18px;
    width: 175px;
    height: 51px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 51px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #434343;
    background: url("../images/cis_a.png") no-repeat center center;
}
.left1 img{
    display: block;
    margin: 20px auto;
}

.right1{
	margin-top: 50px;
	width: 400px;
	float: right;
	height: 700px;
}
.right1 h3{
	
	margin-left: 20px;
    padding-top: 18px;
    width: 175px;
    height: 51px;
      margin-top: 20px;
    margin-bottom: 20px;
    line-height: 51px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #434343;
	background: url("../images/cis_a.png") no-repeat center center;
	letter-spacing:1px;
}
.right1 ul li{
	margin-left: 70px;
	line-height: 2em;
}
.jieshao span{
	margin-left: 50px;
		letter-spacing:1px;
}
.right1 a{
	color: #FF8635;
		letter-spacing:1px;
}
.right1 a:hover{
	color: #FF6C9E;
}
