/*
* created by smpower
* email: bzsjxhywrf@outlook.com
* GitHub: https://github.com/smpower/
**/
* {
  padding: 0;
  margin: 0;
}
a:hover {
  color: #fff;
}
.nav .inner ul li.active {
  background-color: #fd3232;
  color: #fff;
}
/* 模块公共样式 */
.module .title {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #2d2d2d;
}
.module .title h2 {
  font-weight: bold;
  font-size: 40px;
}
.module .title .subtitle {
  font-size: 14px;
  letter-spacing: 2.5px;
}
.module-title .line {
  width: 100%;
  border-top: 2px solid #d6d5d5;
  position: relative;
  top: 66px;
}
.module-title .txt {
  margin: 0 auto;
  position: relative;
  bottom: -38px;
  color: #2d2d2d;
}
.module-title .txt h2 {
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 14px;
}
.module-title .txt p {
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ccc;
}
.main-inner {
  width: 1200px;
  margin: 0 auto;
}
/* 模块公共样式 */
.child-page {
  /* 模块二：橘子总结的经验 */
  /* /模块二：橘子总结的经验 */
  /* 模块四：视频课程 */
  /* /模块四：视频课程 */
  /* 模块六：首席主导师 */
  /* /模块六：首席主导师 */
  /* 模块八：给您的保障 */
  /* /模块八：给您的保障 */
}
.child-page .module.module-02 {
  margin-top: 67px;
}
.child-page .module.module-02 .module-title .txt {
  width: 403px;
  background: url("../img/course/title-icon02.png") no-repeat center 8px;
}
.child-page .module.module-02 .main {
  background: url("../img/course/m02-bg.jpg") no-repeat 0 0;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
}
.child-page .module.module-02 .main .top.txt {
  width: 1200px;
  margin: 0 auto;
}
.child-page .module.module-02 .main .top.txt .para {
  font-size: 24px;
  line-height: 36px;
}
.child-page .module.module-02 .main .top.txt .para:last-child {
  padding-top: 14px;
  padding-bottom: 68px;
}
.child-page .module.module-02 .main .bot.progress-circle {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.child-page .module.module-02 .main .bot.progress-circle .item {
  padding-bottom: 60px;
}
.child-page .module.module-02 .main .bot.progress-circle .item p.intro {
  font-size: 22px;
  font-weight: bold;
  padding-top: 45px;
}
.child-page .module.module-04 .module-title .txt {
  width: 403px;
  background: url("../img/course/title-icon04.png") no-repeat center 8px;
}
.child-page .module.module-04 .main {
  background: url("../img/course/m04-bg.png") no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
}
.child-page .module.module-04 .main .main-inner .title {
  font-size: 30px;
  font-weight: bold;
  height: 45px;
  line-height: 45px;
  padding: 64px 0 30px 0;
}
.child-page .module.module-04 .main .main-inner p {
  font-size: 24px;
  height: 42px;
  line-height: 42px;
}
.child-page .module.module-04 .main .main-inner p a {
  color: #fd3232;
}
.child-page .module.module-04 .main .main-inner .video {
  position: relative;
  padding-bottom: 61px;
}
.child-page .module.module-04 .main .main-inner .video .bg {
  background: url("../img/course/m04-video-bg.png") no-repeat 0 5px;
  width: 997px;
  height: 596px;
  margin: 130px auto 0;
  position: relative;
}
.child-page .module.module-04 .main .main-inner .video .bg .position {
  height: 35px;
}
.child-page .module.module-04 .main .main-inner .video .video-js {
  padding-top: 35px;
  width: 752px;
  height: 462px;
  margin: 0 auto;
}
.child-page .module.module-04 .main .main-inner .video button.vjs-big-play-button {
  top: 220px;
  left: 325px;
}
.child-page .module.module-04 .main .module04-btn {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 45px;
}
.child-page .module.module-04 .main .module04-btn .btn-course {
  height: 56px;
  -webkit-background-size: cover;
  background-size: cover;
  margin: 0 50px;
}
.child-page .module.module-04 .main .module04-btn .btn-course a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.child-page .module.module-04 .main .module04-btn .btn-course:first-child {
  width: 301px;
  background: url("../img/course/btn-more-course.png") no-repeat center center;
}
.child-page .module.module-04 .main .module04-btn .btn-course:last-child {
  width: 309px;
  background: url("../img/course/btn-pay-course.png") no-repeat center center;
}
.child-page .module.module-07 {
  overflow: hidden;
}
.child-page .module.module-07 .module-title .txt {
  width: 403px;
  background: url("../img/course/title-icon06.png") no-repeat center 8px;
}
.child-page .module.module-07 .main {
  background: url("../img/course/m06-bg.png") no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 820px;
}
.child-page .module.module-07 .main .team-group {
  display: flex;
  position: relative;
}
.child-page .module.module-07 .main .team-group .pic {
  position: relative;
}
.child-page .module.module-07 .main .team-group .pic p.pic-modal {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transform: skew(-15deg);
  height: 0;
  opacity: 0;
  transition: all .3s;
}
.child-page .module.module-07 .main .team-group .pic p.txt {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  opacity: 0;
  height: 0;
  transition: all .3s;
}
.child-page .module.module-07 .main .team-group .pic:hover p.pic-modal {
  opacity: 1;
  height: 45px;
}
.child-page .module.module-07 .main .team-group .pic:hover p.txt {
  height: 45px;
  opacity: 1;
}
.child-page .module.module-07 .main .team-group .pic-one {
  width: 583px;
  height: 479px;
  top: 139px;
  left: 295px;
}
.child-page .module.module-07 .main .team-group .pic-one img {
  position: absolute;
  top: 0;
  left: 0;
}
.child-page .module.module-07 .main .team-group .pic-one p.pic-modal {
  width: 462px;
}
.child-page .module.module-07 .main .team-group .pic-one p.txt {
  left: 25%;
  right: 30%;
}
.child-page .module.module-07 .main .team-group .pic-one:hover p.pic-modal {
  left: 5px;
}
.child-page .module.module-07 .main .team-group .pic-one:hover p.txt {
  left: 30%;
}
.child-page .module.module-07 .main .team-group .pic-md {
  position: absolute;
  width: 289px;
  height: 239px;
}
.child-page .module.module-07 .main .team-group .pic-md p.pic-modal {
  width: 230px;
  height: 0;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 0;
  bottom: 0;
}
.child-page .module.module-07 .main .team-group .pic-md p.txt {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  height: 0;
  left: 15%;
  right: 20%;
  bottom: 0;
}
.child-page .module.module-07 .main .team-group .pic-md:hover p.pic-modal {
  height: 45px;
  left: 5px;
}
.child-page .module.module-07 .main .team-group .pic-md:hover p.txt {
  height: 45px;
  left: 20%;
}
.child-page .module.module-07 .main .team-group .pic-two {
  top: 334px;
  left: 786px;
}
.child-page .module.module-07 .main .team-group .pic-three {
  top: 88px;
  left: 1082px;
}
.child-page .module.module-07 .main .team-group .pic-four {
  top: 334px;
  left: 1021px;
}
.child-page .module.module-07 .main .team-group .pic-five {
  top: 580px;
  left: 960px;
}
.child-page .module.module-07 .main .team-group .pic-six {
  top: 88px;
  left: 1318px;
}
.child-page .module.module-07 .main .team-group .pic-seven {
  top: 334px;
  left: 1255px;
}
.child-page .module.module-07 .main .team-group .pic-eight {
  top: 88px;
  left: 1555px;
}
.child-page .module.module-07 .main .team-group .pic-nine {
  top: 435px;
  left: 1465px;
}
.child-page .module.module-08 .module-title .txt {
  width: 403px;
  background: url("../img/course/title-icon08.png") no-repeat center 8px;
}
.child-page .module.module-08 .main {
  background: url("../img/course/m08-bg.png") no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 1081px;
  overflow: hidden;
}
.child-page .module.module-08 .main .txt-list {
  padding: 72px 0 72px 498px;
  position: relative;
}
.child-page .module.module-08 .main .txt-list .list-item {
  padding-bottom: 167px;
  display: flex;
}
.child-page .module.module-08 .main .txt-list .list-item p {
  font-size: 30px;
  color: #fff;
  line-height: 48px;
  padding-top: 40px;
  width: 1000px;
  margin-left: 14px;
}
.child-page .module.module-08 .main .txt-list .list-item:nth-child(2) {
  padding-left: 90px;
}
.child-page .module.module-08 .main .txt-list .list-item:nth-child(2) p {
  width: 890px;
}
.child-page .module.module-08 .main .txt-list .list-item:last-child {
  padding-left: 300px;
  padding-bottom: 0;
}
.child-page .module.module-08 .main .txt-list .list-item:last-child p {
  width: 682px;
}
.child-page .module.module-08 .main .txt-list .txt-list-div1 {
  position: absolute;
  right: -80%;
  top: 150px;
}
.child-page .module.module-08 .main .txt-list .txt-list-div2 {
  position: absolute;
  right: -80%;
  top: 450px;
}
.child-page .module.module-08 .main .txt-list .txt-list-div3 {
  position: absolute;
  right: -80%;
  top: 750px;
}
@media only screen and (max-width: 1199px) {
  .child-page .module.module-07 .main .team-group .pic-one {
    width: 583px;
    height: 479px;
    top: 100px;
    left: 0px;
  }
  .child-page .module.module-07 .main .team-group .pic-two {
    top: 300px;
    left: 485px;
  }
  .child-page .module.module-07 .main .team-group .pic-three {
    top: 88px;
    left: 780px;
  }
  .child-page .module.module-07 .main .team-group .pic-four {
    top: 334px;
    left: 716px;
  }
  .child-page .module.module-07 .main .team-group .pic-five {
    top: 580px;
    left: 655px;
  }
  .child-page .module.module-07 .main .team-group .pic-six {
    top: 88px;
    left: 1020px;
  }
  .child-page .module.module-07 .main .team-group .pic-seven {
    top: 334px;
    left: 955px;
  }
  .child-page .module.module-07 .main .team-group .pic-eight {
    top: 88px;
    left: 1260px;
  }
  .child-page .module.module-07 .main .team-group .pic-nine {
    top: 435px;
    left: 1168px;
  }
}
