* {
  padding: 0;
  margin: 0;
}
html,
body {
  min-width: 1106px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  color: #2d2d2d;
}
a:hover {
  color: #fff;
}
.nav .inner ul li.active {
  background-color: #fd3232;
  color: #fff;
}
.child-page {
  min-width: 1106px;
  /* 模块公共样式 */
  /* 模块公共样式 */
  /* 模块一：单身原因 */
  /* /模块一：单身原因 */
  /* 模块二：错误做法导致后果 */
  /* /模块二：错误做法导致后果 */
  /* 模块三：橘子情感订制服务 */
  /* /模块三：橘子情感订制服务 */
  /* 模块四：成功案例 */
  /* /模块四：成功案例 */
  /* 模块五：橘子优势 */
  /* /模块五：橘子优势 */
  /* 模块六：导师团队 */
  /* /模块六：导师团队 */
  /* 模块七：橘子承诺 */
  /* /模块七：橘子承诺 */
  /* 模块八：服务流程 */
  /* /模块八：服务流程 */
}
.child-page .module .title {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #2d2d2d;
}
.child-page .module .title h2 {
  font-weight: bold;
  font-size: 40px;
}
.child-page .module .title .subtitle {
  font-size: 14px;
  letter-spacing: 2.5px;
}
