/*
 * created by smpower
 * email: bzsjxhywrf@outlook.com
 * GitHub: https://github.com/smpower/
 */
* {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  color: #2d2d2d;
}
a:hover {
  color: #fff;
}
.page-inner {
  width: 1220px;
  margin: 0 auto;
}
.nav .inner ul li.active {
  background-color: #fd3232;
  color: #fff;
}
/* 模块公共样式 */
.module .title {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #2d2d2d;
}
.module .title h2 {
  font-weight: bold;
  font-size: 40px;
}
.module .title .subtitle {
  font-size: 14px;
  letter-spacing: 2.5px;
}
.module-title .line {
  width: 100%;
  border-top: 2px solid #d6d5d5;
  position: relative;
  top: 66px;
}
.module-title .txt {
  margin: 0 auto;
  position: relative;
  bottom: -38px;
  color: #2d2d2d;
}
.module-title .txt h2 {
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 14px;
}
.module-title .txt p {
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
/* 模块公共样式 */
.child-page {
  /* 模块三：橘子情感首席导师 */
  /* 模块三：橘子情感首席导师 */
}
.child-page .module.module-03 .module-title .txt {
  width: 403px;
  background: url("../img/focus-team/title-icon03.png") no-repeat center 8px;
}
