/*
 * 标题样式CSS
 */

.biaoti {
	width: 100%;
	min-width: 1106px;
	height: 100px;
	margin-top: 50px;
	text-align: center;
	position: relative;
}

.biaoti img {
	position: absolute;
	width: 42%;
	top: 15px;
}

.biaoti img:nth-child(1) {
	left: 0;
	margin-right: 10px;
}

.biaoti img:nth-child(3) {
	right: 0;
	margin-left: 10px;
}

.biaoti span {
	font-size: 40px;
	font-weight: bold;
}

.biaoti p {
	color: #CCCCCC;
	letter-spacing: 2px;
}

.biaoti-long img {
	position: absolute;
	width: 40%;
	top: 15px;
}

.biaoti-solong img {
	position: absolute;
	width: 36%;
	top: 15px;
}

.biaoti-solong1 img {
	position: absolute;
	width: 34%;
	top: 15px;
}



/*
 * 页面头图
 */
.save-love-top-img{
	background: url(../img/save-love/save-love-top-img.jpg) center center no-repeat;
	width: 100%;
	height: 885px;
	background-size: cover;
}


/*
 * 分手状态部分CSS
 */

.body1 {
	width: 100%;
	min-width: 1106px;
	height: 1450px;
	background: url(../img/save-love/background1.png) center center no-repeat;
	background-size: 100%;
	background-position: 0 0;
}

.body1_1 {
	padding-top: 600px;
}

.body1 .body1_1 .bottom1 {
	width: 100%;
	height: 450px;
	background-color: #2D2D2D;
	margin-top: 150px;
}

.body1 .body1_1 .bottom1 ul {
	width: 100%;
	height: 100%;
}

.body1 .body1_1 .bottom1 ul li {
	float: left;
	padding-top: -50px;
	width: 20%;
	height: 100%;
	margin-left: 4%;
	color: #FFFFFF;
	text-align: center;
}

.body1 .body1_1 .bottom1 ul li img {
	/*width: 60%;*/
	margin-top: -130px;
}

.body1 .body1_1 .bottom1 ul li h2 {
	margin-top: 20px;
	font-size: 35px;
}

.body1 .body1_1 .bottom1 ul li p {
	margin-top: 20px;
	font-size: 22px;
	letter-spacing: 1px;
	font: "微软雅黑";
	font-weight: 100;
	color: #C0C0C0;
}

.body1 .body1_1 .bottom1 ul li p:hover {
	color: #FFFFFF;
}


/*
 * 错误做法部分CSS
 */

.body2 {
	width: 100%;
	min-width: 1106px;
	height: 750px;
	background: url(../img/save-love/wrong-ways_02.png) center center no-repeat;
	background-size: 100%;
	background-position: 0 0;
}

.body2 .body2_1 ul {
	padding-top: 50px;
	padding-left: 9%;
}

.body2 .body2_1 ul li {
	float: left;
	width: 18%;
	height: 300px;
	margin-left: 9%;
}

.body2 .body2_1 ul li img {
	width: 100%;
}

.body2 .body2_1 ul li span {
	color: #FFFFFF;
	font-size: 1.6em;
	padding-top: 10px;
	display: block;
}

/*@media only screen and (max-width: 1500px) {
	.body1 {
		height: 1350px;
	}
	.body2 {
		height: 500px;
	}
	.body2 .body2_1 ul li {
		width: 18%;
		height: 200px;
	}
	.body2 .body2_1 ul li span {
		font-size: 1.1em;
	}
}*/


/*
 * 挽回失败原因CSS
 */

.body3 {
	width: 100%;
	height: 1500px;
	background: url(../img/save-love/background2.png) center center no-repeat;
	background-size: cover cover;
}

.body3 p:hover {
	color: #FFFFFF;
}

.body3-left {
	width: 48%;
	min-width: 540px;
	float: left;
}

.body3-left div {
	float: right;
}

.body3-left-wen {
	color: #FFFFFF;
	text-align: right;
	width: 60%;
	height: 120px;
	line-height: 30px;
	letter-spacing: 2px;
}

.body3-left-wen:nth-child(1) {
	margin-top: 160px;
}

.body3-left-wen:nth-child(3) {
	margin-top: 35px;
}

.body3-left-wen h2 {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
}

.body3-left-wen p {
	font-size: 18px;
	color: #BFBFBF;
}

.body3-left-tu {
	margin-top: 100px;
	width: 550px;
	height: 400px;
}

.body3-left-tu img {
	width: 100%;
	height: 100%;
}

.body3-right {
	width: 48%;
	min-width: 540px;
	float: right;
}

.body3-right div {
	float: left;
}

.body3-right-wen {
	color: #FFFFFF;
	text-align: left;
	width: 60%;
	height: 120px;
	line-height: 30px;
	letter-spacing: 2px;
	margin-top: 40px;
}

.body3-right-wen h2 {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
}

.body3-right-wen p {
	font-size: 18px;
	color: #BFBFBF;
}

.body3-right-tu img {
	width: 100%;
	height: 100%;
}

.body3-right-tu:nth-child(1) {
	margin-top: 80px;
	width: 500px;
	height: 350px;
}
.body3-right-wen:nth-child(2) {
	margin-top: 70px;
}
.body3-right-tu:nth-child(3) {
	margin-top: 120px;
	width: 500px;
	height: 350px;
}

.body3-right-wen:nth-child(4) {
	margin-top: 70px;
}



/*
 * 橘子情感优势部分CSS
 */
.body4 {
	width: 100%;
	height: 430px;
	background: url(../img/save-love/advantage1.png) center center no-repeat;
	background-size: 100%;
}


/*.body4 .body4-left{
	width: 15%;
	padding-left: 25%;
	height: 100%;
}
.body4 .body4-left h2{
	font-size: 26px;
}
.body4 .body4-left p{
	font-size: 16px;
}

.body4 .body4-right{
	float: right;
	width: 25%;
	padding-right: 25%;
	height: 100%;
}*/

/*
 * 擅长挽回的爱情类型部分CSS
 */


	/*keyframes 动画*/
@keyframes myfirst {
	from {
		padding: 10px;
	}
	to {
		padding: 1px;
	}
}

@-moz-keyframes myfirst
/* Firefox */

{
	from {
		padding: 10px;
	}
	to {
		padding: 1px;
	}
}

@-webkit-keyframes myfirst
/* Safari and Chrome */

{
	from {
		padding: 10px;
	}
	to {
		padding: 1px;
	}
}

@-o-keyframes myfirst
/* Opera */

{
	from {
		padding: 10px;
	}
	to {
		padding: 1px;
	}
}
/***********************/
.body5 {
	width: 100%;
	height: 550px;
	background-color: #F0F0F0;
}

.body5-ul ul {
	display: flex;
	justify-content: space-around;
}

.body5-ul ul li {
	margin: 50px 0;
	width: 18%;
	float: left;
	height: 450px;
	background-color: #2D2D2D;
	/*margin-left: 80px;*/
	color: #E9E9E9;
}

.body5-ul ul li img {
	width: 100%;
	height: 50%;
	padding: 10px;
}

.body5-ul ul li img:hover {
	animation: myfirst 0.5s;
	-moz-animation: myfirst 0.5s;
	/* Firefox */
	-webkit-animation: myfirst 0.5s;
	/* Safari 和 Chrome */
	-o-animation: myfirst 0.5s;
	/* Opera */
}

.body5-ul ul li h3 {
	padding: 15px 15px 5px 15px;
	font-size: 24px;
}

.body5-ul ul li p {
	line-height: 30px;
	padding: 15px;
	font-size: 18px;
}


/*
 * 能够提供的挽回爱情服务部分CSS
 */
.body6 {
	width: 100%;
	height: 600px;
	background: url(../img/save-love/service-delivery1.png) 100% 100% no-repeat;
	background-size: 100%;
	/*background-position: 0 0;*/
}

.body6-zhuti {
	float: right;
	padding-right: 25%;
	margin-top: 5%;
	color: #F5F5F5;
}

.body6-zhuti h4 {
	text-align: center;
	font-size: 32px;
	font-weight: bold;
}
.body6-zhuti ul {
	margin-top: 50px;
}

.body6-zhuti ul li {
	line-height: 50px;
	font-size: 22px;
	letter-spacing: 2px;
}

.body6-zhuti ul li:hover {}

/*@media only screen and (max-width: 1200px) {
	.body6-zhuti {
		float: right;
		padding-right: 20%;
		margin-top: 25%;
		color: #F5F5F5;
	}
	.body6-zhuti ul {
		margin-top: 5%;
	}
	.body6-zhuti ul li {
		line-height: 35px;
		font-size: 16px;
	}
}

@media only screen and (min-width: 1201px) and (max-width: 1500px) {
	.body6-zhuti {
		float: right;
		padding-right: 20%;
		margin-top: 15%;
		color: #F5F5F5;
	}
	.body6-zhuti ul {
		margin-top: 5%;
	}
	.body6-zhuti ul li {
		line-height: 40px;
		font-size: 18px;
	}
}*/



/*
 * 成功案例部分CSS
 */
.body7 {
	width: 100%;
	height: 1300px;
	background-color: #F0F0F0;
	display: flex;
    justify-content: space-around;
}

.body7-left {
	width: 700px;
	margin-top: -6px;
}

.body7-left h3 {
	margin-bottom: 20px;
	font-weight: bold;
}

.body7-left p {
	font-size: 18px;
	padding: 2px;
}

.body7-left img {
	width: 100%;
}

.body7-right {
	width: 700px;
}

.body7-right h3 {
	margin-bottom: 20px;
	margin-top: 95px;
	font-weight: bold;
}

.body7-right p {
	font-size: 18px;
	padding: 2px;
}

.body7-right img {
	width: 100%;
}


/*
 * 导师团队部分CSS
 */
.body8 {
	width: 100%;
	height: 700px;
	background: url(../img/save-love/daoshi-baimg.png) center center no-repeat;
	background-size: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.imageflow img {
	-webkit-box-shadow: 2px 2px 2px 2px hsla(0, 0%, 0%, 0.1);
	box-shadow: 2px 2px 2px 2px hsla(0, 0%, 0%, 0.1);
}

.imageflow {
	overflow: hidden;
	position: relative;
	text-align: left;
	visibility: hidden;
	width: 80%;
	min-width: 1106px;
	margin: 0 auto;
}

.imageflow img {
	border: none;
	position: absolute;
	top: 0px;
	visibility: hidden;
	-ms-interpolation-mode: bicubic
}

.imageflow p {
	margin: 0 auto;
	text-align: center
}

.imageflow .loading {
	border: 1px solid #ccc;
	height: 15px;
	left: 50%;
	margin-left: -106px;
	padding: 5px;
	position: relative;
	visibility: visible;
	width: 200px
}

.imageflow .loading_bar {
	background: #ccc;
	height: 15px;
	visibility: visible;
	width: 1%
}


/*设置导师图片滑动是否有界限
 * .imageflow .images {
	overflow: hidden;
	white-space: nowrap
}*/


/*
 * 挽回爱情服务流程部分CSS
 */
.body9 {
	width: 100%;
	height: 550px;
	background: url(../img/save-love/love-process-beijing_02.png) center center no-repeat;
	background-size: cover;
}

.body9-left {
	float: left;
	color: #F0F0F0;
	width: 35%;
	padding-left: 20%;
	font-size: 18px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.body9-left ul {
	padding-top: 50px;
}

.body9-left ul li {
	margin-top: 20px;
	height: 50px;
}
.body9-left ul li div{
	width: 44px;
	height: 44px;
	float: left;
	margin-top: -10px;
	margin-right: 5px;
}
.lli1-img{
	background: url(../img/save-love/love-process-consult.png);
	background-size: 100%;
}
.lli2-img{
	background: url(../img/save-love/love-process-signed.png) center center no-repeat;
	background-size: 100%;
}
.lli3-img{
	background: url(../img/save-love/love-process-team.png) center center no-repeat;
	background-size: 100%;
}
.lli4-img{
	background: url(../img/save-love/love-process-scheme.png) center center no-repeat;
	background-size: 100%;
}
.lli5-img{
	background: url(../img/save-love/love-process-maintain.png) center center no-repeat;
	background-size: 100%;
}
.lli6-img{
	background: url(../img/save-love/love-process-destroy.png) center center no-repeat;
	background-size: 100%;
}
.body9-left ul li span {
	margin-left: 10px;
}

.body9-right {
	float: right;
	/*margin-right: 415px;*/
    margin-right: 21.5%;
	padding-top: 53px;
}

.body9-right img {
	width: 580px;
	height: 390px;
}
/*@media only screen and (min-width: 1620px) and (max-width: 1920px){
	.body9-right {
		margin-top: -50px;
	}
	.body9-right img {
		width: 550px;
		height: 360px;
	}
}
@media only screen and (min-width: 1300px) and (max-width: 1500px) {
	.body9-left {
		font-size: 14px;
	}
	.body9-left ul {
		padding-top: 80px;
	}
	.body9-left ul li {
		margin-top: 10px;
		height: 40px;
	}
	.body9-right {
		margin-top: 3%;
	}
	.body9-right img {
		width: 380px;
		height: 260px;
	}
}
@media only screen and (min-width: 1200px) and (max-width: 1300px) {
	.body9-left {
		font-size: 14px;
	}
	.body9-left ul {
		padding-top: 80px;
	}
	.body9-left ul li {
		margin-top: 18px;
		height: 30px;
	}
	.body9-right {
		margin-top: 5%;
	}
	.body9-right img {
		width: 350px;
		height: 230px;
	}
}
@media only screen and (max-width: 1199px) {
	.body9-left {
		font-size: 14px;
		width: 37%;
	}
	.body9-left ul {
		padding-top: 85px;
	}
	.body9-left ul li {
		height: 40px;
		margin-top: 7px;
	}
	.body9-right {
		margin-top: 7%;
	}
	.body9-right img {
		width: 320px;
		height: 200px;
	}
}*/