* {
  padding: 0;
  margin: 0;
}
html,
body {
  min-width: 1106px;
}
.child-page {
  /* 模块公共样式 */
  /* 模块一：当下婚姻状态 */
  /* 模块一：当下婚姻状态 */
  /* 模块二：婚姻危机出现的原因 */
  /* 模块二：婚姻危机出现的原因 */
  /* 模块三：橘子情感优势 */
  /* 模块三：橘子情感优势 */
  /* 模块四：错误挽回方式 */
  /* 模块四：错误挽回方式 */
}
.child-page .module .title {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #2d2d2d;
}
.child-page .module .title h2 {
  font-weight: bold;
  font-size: 40px;
}
.child-page .module .title .subtitle {
  font-size: 14px;
  letter-spacing: 2.5px;
}
.child-page .module-01 .module-top {
  min-width: 1106px;
  position: relative;
  border-bottom: 2px solid #d6d5d5;
}
@media (min-width: 1570px) {
  .child-page .module-01 .module-top {
    height: 592px;
  }
}
@media (min-width: 1106px) and (max-width: 1570px) {
  .child-page .module-01 .module-top {
    height: 550px;
  }
}
@media (max-width: 1106px) {
  .child-page .module-01 .module-top {
    height: 500px;
  }
}
.child-page .module-01 .module-top .txt {
  letter-spacing: 15px;
  position: absolute;
  top: 50px;
  left: 10%;
  right: 10%;
}
@media (min-width: 1650px) {
  .child-page .module-01 .module-top .txt {
    font-size: 2em;
  }
}
@media (min-width: 1570px) and (max-width: 1650px) {
  .child-page .module-01 .module-top .txt {
    font-size: 1.6em;
  }
}
@meida (min-width: 1106px) and (max-width: 1570px) {
  font-size: 1.2em;
}
@media (max-width: 1106px) {
  .child-page .module-01 .module-top .txt {
    font-size: 1.3em;
    top: 35px;
  }
}
.child-page .module-01 .module-top .bg {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
@media (min-width: 1650px) {
  .child-page .module-01 .module-top .bg .bg-left {
    height: 324px;
    border-top: 162px solid #2d2d2d;
    border-right: 162px solid transparent;
    border-bottom: 162px solid transparent;
    border-left: 162px solid #2d2d2d;
  }
}
@media (min-width: 1106px) and (max-width: 1650px) {
  .child-page .module-01 .module-top .bg .bg-left {
    height: 260px;
    border-top: 130px solid #2d2d2d;
    border-right: 130px solid transparent;
    border-bottom: 130px solid transparent;
    border-left: 130px solid #2d2d2d;
  }
}
@media (min-width: 996px) and (max-width: 1106px) {
  .child-page .module-01 .module-top .bg .bg-left {
    height: 200px;
    border-top: 100px solid #2d2d2d;
    border-right: 100px solid transparent;
    border-bottom: 100px solid transparent;
    border-left: 100px solid #2d2d2d;
  }
}
.child-page .module-01 .module-top .bg .bg-mid {
  width: 100%;
  background: url("../img/save-marriage/part01-bg.png") no-repeat center top;
  -webkit-background-size: contain;
  background-size: contain;
}
@media (min-width: 1650px) {
  .child-page .module-01 .module-top .bg .bg-mid {
    height: 500px;
  }
}
@media (min-width: 1570px) and (max-width: 1650px) {
  .child-page .module-01 .module-top .bg .bg-mid {
    height: 400px;
  }
}
@media (min-width: 1106px) and (max-width: 1570px) {
  .child-page .module-01 .module-top .bg .bg-mid {
    height: 360px;
  }
}
@media (max-width: 1106px) {
  .child-page .module-01 .module-top .bg .bg-mid {
    height: 360px;
  }
}
@media (min-width: 1650px) {
  .child-page .module-01 .module-top .bg .bg-right {
    height: 260px;
    border-top: 162px solid #2d2d2d;
    border-right: 162px solid #2d2d2d;
    border-bottom: 162px solid transparent;
    border-left: 162px solid transparent;
  }
}
@media (min-width: 1106px) and (max-width: 1650px) {
  .child-page .module-01 .module-top .bg .bg-right {
    height: 260px;
    border-top: 130px solid #2d2d2d;
    border-right: 130px solid #2d2d2d;
    border-bottom: 130px solid transparent;
    border-left: 130px solid transparent;
  }
}
@media (min-width: 996px) and (max-width: 1106px) {
  .child-page .module-01 .module-top .bg .bg-right {
    height: 200px;
    border-top: 100px solid #2d2d2d;
    border-right: 100px solid #2d2d2d;
    border-bottom: 100px solid transparent;
    border-left: 100px solid transparent;
  }
}
.child-page .module-01 .module-mid.title {
  width: 100%;
  display: block;
}
.child-page .module-01 .module-mid.title .txt-cont {
  position: relative;
  background-color: #fff;
  display: inline-block;
  width: 330px;
}
@media (min-width: 1570px) {
  .child-page .module-01 .module-mid.title .txt-cont {
    top: -27px;
  }
}
@media (min-width: 1106px) and (max-width: 1570px) {
  .child-page .module-01 .module-mid.title .txt-cont {
    top: -26px;
  }
}
@media (max-width: 1106px) {
  .child-page .module-01 .module-mid.title .txt-cont {
    top: -24px;
  }
}
.child-page .module-01 .module-bot {
  width: 100%;
  height: 660px;
  background-color: transparent;
  position: relative;
}
.child-page .module-01 .module-bot .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
@media (min-width: 1106px) {
  .child-page .module-01 .module-bot .bg {
    height: 660px;
  }
}
@media (max-width: 1106px) {
  .child-page .module-01 .module-bot .bg {
    height: 500px;
  }
}
.child-page .module-01 .module-bot .bg .left {
  width: 90px;
  border-top: 90px solid #fd3232;
  border-right: 90px solid transparent;
  border-bottom: 90px solid transparent;
  border-left: 90px solid #fd3232;
  position: absolute;
  top: 0;
  left: 0;
}
.child-page .module-01 .module-bot .bg .left .left-inner {
  width: 75px;
  border-top: 75px solid #2d2d2d;
  border-right: 75px solid transparent;
  border-bottom: 75px solid transparent;
  border-left: 75px solid #2d2d2d;
  position: absolute;
  top: -90px;
  left: -90px;
}
.child-page .module-01 .module-bot .bg .right {
  width: 90px;
  border-top: 90px solid transparent;
  border-right: 90px solid #fd3232;
  border-bottom: 90px solid #fd3232;
  border-left: 90px solid transparent;
  position: absolute;
  bottom: 0;
  right: 0;
}
.child-page .module-01 .module-bot .bg .right .right-inner {
  width: 75px;
  border-top: 75px solid transparent;
  border-right: 75px solid #2d2d2d;
  border-bottom: 75px solid #2d2d2d;
  border-left: 75px solid transparent;
  position: absolute;
  bottom: -90px;
  right: -90px;
}
.child-page .module-01 .module-bot .pic-list {
  padding: 0 180px;
}
.child-page .module-01 .module-bot .pic-list .pic-list-item {
  padding-top: 68px;
  display: flex;
  justify-content: center;
  position: relative;
}
.child-page .module-01 .module-bot .pic-list .pic-list-item .pic {
  width: 340px;
}
.child-page .module-01 .module-bot .pic-list .pic-list-item .pic img {
  width: 100%;
}
.child-page .module-01 .module-bot .pic-list .pic-list-item .icon {
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: -100px;
  background-repeat: no-repeat;
}
.child-page .module-01 .module-bot .pic-list .pic-list-item .txt {
  position: absolute;
  bottom: -180px;
  font-size: 22px;
  font-weight: bold;
}
.child-page .module-01 .module-bot .pic-list .pic-list-item:first-child .icon {
  background-image: url("../img/save-marriage/icons-save-marriage.png");
  background-position: -120px -40px;
}
.child-page .module-01 .module-bot .pic-list .pic-list-item:nth-child(2) .icon {
  background-image: url("../img/save-marriage/icons-save-marriage.png");
  background-position: -40px -40px;
}
.child-page .module-01 .module-bot .pic-list .pic-list-item:nth-child(3) .icon {
  background-image: url("../img/save-marriage/icons-save-marriage.png");
  background-position: 0px -40px;
}
.child-page .module-01 .module-bot .pic-list .pic-list-item:last-child .icon {
  background-image: url("../img/save-marriage/icons-save-marriage.png");
  background-position: -80px -40px;
}
.child-page .module-02 {
  height: 1008px;
  border-top: 2px solid #c2c2c2;
  margin-top: 90px;
}
.child-page .module-02 div:first-child {
  position: relative;
  bottom: 10px;
  padding-bottom: 18px;
}
.child-page .module-02 div:first-child .txt-cont {
  width: 430px;
  background-color: #fff;
  margin: 0 auto;
}
.child-page .module-02 .main {
  display: flex;
}
.child-page .module-02 .main .txt.left {
  height: 100%;
  min-width: 650px;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 10%;
  margin-right: 2%;
  z-index: 1;
}
.child-page .module-02 .main .txt.left .top.title {
  padding: 31px 0;
  border-bottom: 3px solid #2d2d2d;
  margin-top: 39px;
  font-size: 36px;
  font-weight: bold;
}
.child-page .module-02 .main .txt.left .module02-list .list-item {
  height: 120px;
  display: flex;
}
.child-page .module-02 .main .txt.left .module02-list .list-item .left {
  padding: 0 0 120px;
  color: #fd3232;
  font-weight: bold;
  font-size: 80px;
  vertical-align: top;
  padding-right: 30px;
  padding-left: 92px;
}
.child-page .module-02 .main .txt.left .module02-list .list-item p {
  line-height: 30px;
}
.child-page .module-02 .main .txt.left .module02-list .list-item .right {
  line-height: 120px;
}
.child-page .module-02 .main .txt.left .module02-list .list-item .right p:first-child {
  height: 20px;
  line-height: 20px;
  padding-top: 34px;
  font-weight: bold;
  font-size: 24px;
}
.child-page .module-02 .main .txt.left .module02-list .list-item .right p:last-child {
  line-height: 30px;
  padding-top: 18px;
  width: 430px;
  font-size: 18px;
}
.child-page .module-02 .main .txt.left .module02-list .list-item:nth-child(2) .left,
.child-page .module-02 .main .txt.left .module02-list .list-item:nth-child(4) .left {
  padding-left: 50px;
}
.child-page .module-02 .main .txt.left .module02-list .list-item:nth-child(2) .right p,
.child-page .module-02 .main .txt.left .module02-list .list-item:nth-child(4) .right p {
  width: 480px;
}
.child-page .module-02 .main .pic.right {
  height: 100%;
  flex-grow: 1;
  position: relative;
  z-index: 2;
}
.child-page .module-02 .main .pic.right .pic.front {
  flex-grow: 1;
  height: 1008px;
  background-image: url("../img/save-marriage/part02-bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  position: relative;
  z-index: 2;
}
.child-page .module-02 .main .pic.right .bg.back {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  flex-grow: 1;
  height: 900px;
  background-color: #fd3232;
}
.child-page .module-03 {
  position: relative;
  top: 170px;
  border-top: 2px solid #c2c2c2;
}
.child-page .module-03 .module.title {
  position: relative;
  top: -41px;
}
.child-page .module-03 .module.title .txt-cont {
  width: 350px;
  background-color: #fff;
  margin: 0 auto;
}
.child-page .module-03 .main {
  width: 100%;
  height: 526px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.child-page .module-03 .main .left.bg {
  position: absolute;
  left: 0;
  line-height: 526px;
}
.child-page .module-03 .main .mid.txt {
  padding: 0 80px;
  width: 700px;
  min-width: 660px;
  margin: 0 auto;
  font-size: 18px;
}
.child-page .module-03 .main .mid.txt p:first-child {
  margin-bottom: 95px;
}
.child-page .module-03 .main .right.bg {
  position: absolute;
  right: 0;
}
.child-page .module-04 {
  border-top: 2px solid #c2c2c2;
  position: relative;
  top: 260px;
  /*--> 模块四主体*/
}
.child-page .module-04 .module.title {
  position: absolute;
  top: -38px;
}
.child-page .module-04 .module.title .txt-cont {
  background-color: #fff;
  width: 350px;
  margin: 0 auto;
}
.child-page .module-04 .main {
  position: relative;
  top: 86px;
  width: 100%;
  background-color: #2d2d2d;
}
.child-page .module-04 .main .item-group {
  padding: 60px 180px;
  display: flex;
  justify-content: space-between;
}
.child-page .module-04 .main .item-group .module04-item {
  width: 394px;
  height: 341px;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: contain;
  background-size: contain;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.child-page .module-04 .main .item-group .module04-item h4 {
  line-height: 28px;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 20px;
}
.child-page .module-04 .main .item-group .module04-item p {
  width: 305px;
  line-height: 26px;
  margin: 0 auto;
  font-size: 16px;
}
.child-page .module-04 .main .item-group:first-child .module04-item:nth-child(1) {
  background-image: url("../img/save-marriage/part04-pic01.png");
}
.child-page .module-04 .main .item-group:first-child .module04-item:nth-child(2) {
  background-image: url("../img/save-marriage/part04-pic01.png");
}
.child-page .module-04 .main .item-group:first-child .module04-item:nth-child(3) {
  background-image: url("../img/save-marriage/part04-pic01.png");
}
.child-page .module-04 .main .item-group:last-child .module04-item:nth-child(1) {
  background-image: url("../img/save-marriage/part04-pic01.png");
}
.child-page .module-04 .main .item-group:last-child .module04-item:nth-child(2) {
  background-image: url("../img/save-marriage/part04-pic01.png");
}
.child-page .module-04 .main .item-group:last-child .module04-item:nth-child(3) {
  background-image: url("../img/save-marriage/part04-pic01.png");
}
