* {
  padding: 0;
  margin: 0;
}
html,
body {
  min-width: 1106px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  color: #2d2d2d;
}
.child-page {
  /* 模块公共样式 */
  /* 模块一：当下婚姻状态 */
  /* 模块一：当下婚姻状态 */
  /* 模块二：婚姻危机出现的原因 */
  /* 模块二：婚姻危机出现的原因 */
  /* 模块三：橘子情感优势 */
  /* 模块三：橘子情感优势 */
  /* 模块四：错误挽回方式 */
}
.child-page .module .title {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #2d2d2d;
}
.child-page .module .title h2 {
  font-weight: bold;
  font-size: 40px;
}
.child-page .module .title .subtitle {
  font-size: 14px;
  letter-spacing: 2.5px;
}
.child-page .module.module-01 .bg.top {
  width: 100%;
  height: 527px;
  background: url("../img/save-marriage/part01-bg-top.png") no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
}
.child-page .module.module-01 .bg.top p {
  width: 430px;
  height: 195px;
  margin: 0 auto;
  padding-top: 50px;
  font-size: 32px;
  line-height: 52px;
}
.child-page .module.module-01 .module-title .line {
  width: 100%;
  border-top: 2px solid #d6d5d5;
  position: relative;
  top: 66px;
}
.child-page .module.module-01 .module-title .txt {
  width: 323px;
  margin: 0 auto;
  position: relative;
  bottom: -38px;
  color: #2d2d2d;
  background: url("../img/save-marriage/title-icon01.png") no-repeat center 8px;
}
.child-page .module.module-01 .module-title .txt h2 {
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 14px;
}
.child-page .module.module-01 .module-title .txt p {
  font-size: 14px;
  letter-spacing: 2px;
}
.child-page .module.module-01 .bg.bot {
  width: 100%;
  border: 3px solid #2d2d2d;
  border-left: none;
  border-right: none;
  background: url("../img/save-marriage/part01-bg-bot.png") no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  top: 78px;
}
.child-page .module.module-01 .bg.bot .module01-items {
  display: flex;
  justify-content: space-around;
  padding: 0 140px;
}
.child-page .module.module-01 .bg.bot .module01-items .item {
  padding: 0 25px;
}
.child-page .module.module-01 .bg.bot .module01-items .item img:nth-child(1) {
  padding-top: 50px;
}
.child-page .module.module-01 .bg.bot .module01-items .item img:nth-child(2) {
  margin: 33px auto 48px;
}
.child-page .module.module-01 .bg.bot .module01-items .item p {
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 59px;
}
.child-page .module.module-02 {
  position: relative;
  top: 126px;
}
.child-page .module.module-02 .module-title .line {
  width: 100%;
  border-top: 2px solid #d6d5d5;
  position: relative;
  top: 66px;
}
.child-page .module.module-02 .module-title .txt {
  width: 440px;
  margin: 0 auto;
  position: relative;
  bottom: -38px;
  color: #2d2d2d;
  background: url("../img/save-marriage/title-icon02.png") no-repeat center 8px;
}
.child-page .module.module-02 .module-title .txt h2 {
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 14px;
}
.child-page .module.module-02 .module-title .txt p {
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.child-page .module.module-02 .main {
  position: relative;
  top: 75px;
}
.child-page .module.module-02 .main .content {
  background: url("../img/save-marriage/part02-bg.png") no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  top: 39px;
  margin-left: 187px;
}
.child-page .module.module-02 .main .content h3 {
  width: 643px;
  font-size: 40px;
  font-weight: bold;
  padding: 31px;
  border-bottom: 3px solid #2d2d2d;
}
.child-page .module.module-02 .main .content .item-group {
  width: 643px;
  padding-top: 41px;
}
.child-page .module.module-02 .main .content .item-group .item {
  display: flex;
  height: 114px;
  margin-bottom: 53px;
}
.child-page .module.module-02 .main .content .item-group .item .num {
  color: #fd3232;
  font-size: 102px;
  font-weight: bold;
  position: relative;
  top: -24px;
}
.child-page .module.module-02 .main .content .item-group .item .txt .title {
  font-size: 30px;
  font-weight: bold;
  height: 37px;
  line-height: 37px;
  padding-bottom: 4px;
}
.child-page .module.module-02 .main .content .item-group .item .txt .para {
  font-size: 24px;
  line-height: 42px;
}
.child-page .module.module-02 .main .content .item-group .item:nth-child(2),
.child-page .module.module-02 .main .content .item-group .item:nth-child(4) {
  padding-left: 49px;
}
.child-page .module.module-02 .main .content .item-group .item:nth-child(2) .txt,
.child-page .module.module-02 .main .content .item-group .item:nth-child(4) .txt {
  width: 439px;
}
.child-page .module.module-02 .main .content .item-group .item:nth-child(1),
.child-page .module.module-02 .main .content .item-group .item:nth-child(3),
.child-page .module.module-02 .main .content .item-group .item:nth-child(5) {
  padding-left: 93px;
}
.child-page .module.module-02 .main .content .item-group .item:nth-child(1) .txt,
.child-page .module.module-02 .main .content .item-group .item:nth-child(3) .txt,
.child-page .module.module-02 .main .content .item-group .item:nth-child(5) .txt {
  width: 395px;
}
.child-page .module.module-02 .main .content .item-group .item:last-child {
  margin: 0;
  height: 159px;
}
.child-page .module.module-03 {
  position: relative;
  top: 306px;
}
.child-page .module.module-03 .module-title .line {
  width: 100%;
  border-top: 2px solid #d6d5d5;
  position: relative;
  top: 66px;
}
.child-page .module.module-03 .module-title .txt {
  width: 322px;
  margin: 0 auto;
  position: relative;
  bottom: -38px;
  color: #2d2d2d;
  background: url("../img/save-marriage/title-icon03.png") no-repeat center 8px;
}
.child-page .module.module-03 .module-title .txt h2 {
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 14px;
}
.child-page .module.module-03 .module-title .txt p {
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.child-page .module.module-03 .main {
  position: relative;
  top: 75px;
}
.child-page .module.module-03 .main .bg {
  background: url("../img/save-marriage/part03-bg.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  background-size: cover;
}
.child-page .module.module-03 .main .bg .para p {
  font-size: 24px;
  line-height: 43px;
  padding: 34px 44px;
  border: 1px solid #2d2d2d;
  width: 647px;
  margin: 0 auto;
  position: relative;
}
.child-page .module.module-03 .main .bg .para .top-para {
  top: 32px;
  margin-bottom: 112px;
}
.child-page .module.module-03 .main .bg .para .bot-para {
  bottom: 30px;
}
.child-page .module.module-03 .main .bg .para .bg-inner {
  width: 100%;
  height: 100%;
  background-color: #fafafa;
}
.child-page .module.module-04 {
  position: relative;
  top: 447px;
  /*--> 标题 */
  /*/--> 标题 */
  /*--> 模块四主体 */
  /*/--> 模块四主体 */
}
.child-page .module.module-04 .module-title .line {
  width: 100%;
  border-top: 2px solid #d6d5d5;
  position: relative;
  top: 66px;
}
.child-page .module.module-04 .module-title .txt {
  width: 322px;
  margin: 0 auto;
  position: relative;
  bottom: -38px;
  color: #2d2d2d;
  background: url("../img/save-marriage/title-icon03.png") no-repeat center 8px;
}
.child-page .module.module-04 .module-title .txt h2 {
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 14px;
}
.child-page .module.module-04 .module-title .txt p {
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.child-page .module.module-04 .main {
  height: 997px;
  position: relative;
  top: 55px;
  background: url("../img/save-marriage/part04-bg.png") no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
}
.child-page .module.module-04 .main .item-group {
  position: relative;
  margin: 0 auto;
  padding: 0 28px 0 46px;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 1920px) {
  .child-page .module.module-04 .main .item-group {
    width: 1311px;
  }
}
.child-page .module.module-04 .main .item-group .item p {
  color: #fff;
  font-size: 20px;
  width: 299px;
}
.child-page .module.module-04 .main .item-group .item p:first-child {
  font-weight: bold;
  line-height: 30px;
}
.child-page .module.module-04 .main .item-group .item p:last-child {
  line-height: 36px;
}
.child-page .module.module-04 .main .item-group:first-child {
  top: 108px;
}
.child-page .module.module-04 .main .item-group:last-child {
  top: 404px;
}
