<div class="module module-02">
    <div class="main">
        <div class="swiper-container tabs-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="item">
                        <div class="img">
                            <img src="images/custom-love/module02-pic01.png" alt="">
                        </div>
                        <div class="txt">
                            <p class="title">盲目付出</p>
                            <p class="para">
                                一味的投入时间、金钱、感情，却给对方徒增压力，导致自身价值感低下。
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img">
                            <img src="images/custom-love/module02-pic02.png" alt="">
                        </div>
                        <div class="txt">
                            <p class="title">贸然表白</p>
                            <p class="para">
                                在关系热度不到位的情况下，盲目表白，结果让自己的出境陷入被动和尴尬。
                            </p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="item">
                        <div class="img">
                            <img src="images/custom-love/module02-pic03.png" alt="">
                        </div>
                        <div class="txt">
                            <p class="title">盲目付出</p>
                            <p class="para">
                                目的性强烈，不顾及对方感受，频繁邀约导致对方反感。
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img">
                            <img src="images/custom-love/module02-pic04.png" alt="">
                        </div>
                        <div class="txt">
                            <p class="title">贸然表白</p>
                            <p class="para">
                                需求感爆棚，将对方作为生活全部，一有时间就缠着对方聊天。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="split-line"></div>
        <div class="tabs">
            <span class="active"></span>
            <span></span>
        </div>
    </div>
</div>