<div class="module module-04">
    <div class="main">
        <div class="item">
            <div class="pic">
                <img src="images/custom-love/module04-pic01.png" alt="">
            </div>
            <div class="txt-group">
                <p class="topic">三个步骤直接从备胎升级男友逆袭成功</p>
                <p class="des">你其实也不差，凭什么只能做备胎。深陷友谊区的你难道就不想知道升级男友逆袭的秘诀吗？<a href="#">了解详情>>></a></p>
            </div>
        </div>
        <div class="item">
            <div class="pic">
                <img src="images/custom-love/module04-pic02.png" alt="">
            </div>
            <div class="txt-group">
                <p class="topic">没有追不到的女人，只有不会说话的老实人</p>
                <p class="des">等我再玩几年，找个老实人就嫁了。老实人招谁惹谁了，一堆的好人卡却没有一个真心的女人。<a href="#">了解详情>>></a></p>
            </div>
        </div>
        <div class="item">
            <div class="pic">
                <img src="images/custom-love/module04-pic03.png" alt="">
            </div>
            <div class="txt-group">
                <p class="topic">破解女神的废物测试，分分钟抱女神回家</p>
                <p class="des">你以为女人只会口是心非吗？太天真了，女人在爱情中有的是小心机和圈套，你都不能看透女人还怎么抱到女神？<a href="#">了解详情>>></a></p>
            </div>
        </div>
    </div>
</div>