<div class="module module-07">
    <div class="main">
        <div class="txt-para">
            <i class="icon"></i>
            <p>你必须是一名能够独立做决定、有一定经济能力的正常成年人，无任何精神病史。</p>
        </div>
        <div class="txt-para">
            <i class="icon"></i>
            <p>我们的服务符合社会道德和底线，所以你必须是以婚姻或爱情为出发点。</p>
        </div>
        <div class="txt-para">
            <i class="icon"></i>
            <p>我们的专业服务足够你达成任何的爱情目标，所以请听从指挥，进退有度，举止得体。</p>
        </div>
        <div class="txt-para">
            <i class="icon"></i>
            <p>任何动机不纯者，立即终止服务。</p>
        </div>
    </div>
</div>