<!-- Start module 01 area: 橘子情感  -->
<div class="module module-01">
  <div class="main">
    <p class="para">
      橘子情感，自创办以来，一直引领着整个行业的进步和发展。为了让广大用户，学会更好的
      爱与被爱的能力，让用户再爱情中更加有尊严，更加从容，更加自由。橘子情感汇聚了国内
      知名两性情感咨询师、婚恋家庭咨询师、资深情感挽回师、心理学专家等，用最专业的师资
      团队，打造全国最专业的情感咨询培训机构。
    </p>
    <p class="para">
      橘子情感的创办初衷，是针对解决广大民众的情感挽回、婚姻修复等社会问题，但逐渐发现，
      中国在情感教育方面是完全缺失的。现在，我们要解决的，不仅仅是简单的情感问题，更是
      整个时代的情感教育缺失。
    </p>
  </div>
</div>
<!-- Start module 01 area: 橘子情感  -->

<!-- Start module 02 area: 橘子情感发展历程  -->
<div class="module module-02">
  <div class="main">
    <div class="content">
      <div class="left">
        <div class="item">
          <div class="txt-group">
            <p class="year text-right">2013年<span class="icon"></span></p>
            <p class="para">
              设立行业标准，开设了全国情感导师培植计划，统一规范了从业资格，提高整体行
              业水平。被众多主流媒争相报道。
            </p>
          </div>
          <img src="images/about/module02-left-pic01.png" alt="">
        </div>
        <div class="item">
          <div class="txt-group">
            <p class="year text-right">2015年<span class="icon"></span></p>
            <p class="para">
              荣获山东省婚恋咨询师协会先进单位。橘子情感开创的情感挽回师、婚恋维稳师等
              职业，为行业输送了大量人才，并且在开设分公司，填补市场需求。
            </p>
          </div>
          <img src="images/about/module02-left-pic02.png" alt="">
        </div>
        <div class="item">
          <div class="txt-group">
            <p class="year text-right">2017年<span class="icon"></span></p>
            <p class="para">
              荣获十大杰出诚信企业，橘子情感一直以做有良心、有社会责任感的阳光企业为方
              向，客户好评率高达98.5%，引领着整个行业的发展方向。
            </p>
          </div>
          <img src="images/about/module02-left-pic03.png" alt="">
        </div>
      </div>
      <div class="mid bg"></div>
      <div class="right">
        <div class="item">
          <div class="txt-group">
            <p class="year"><span class="icon"></span>2012年</p>
            <p class="para">
              嘉伟导师携手业内众多顶尖导师，在香港、澳门、台湾等地，开设巡讲培训班，
              将行业推至更高的高度。深化社会使命感，收到各界认可。
            </p>
          </div>
          <img src="images/about/module02-right-pic01.png" alt="">
        </div>
        <div class="item">
          <div class="txt-group">
            <p class="year"><span class="icon"></span>2014年</p>
            <p class="para">
              获得山东省心理讲课教育咨询中心授权单位资格。在解决情感心理健康方面，橘
              子情感不断不遗余力，实现自己的社会价值。
            </p>
          </div>
          <img src="images/about/module02-right-pic02.png" alt="">
        </div>
        <div class="item">
          <div class="txt-group">
            <p class="year"><span class="icon"></span>2016年</p>
            <p class="para">
              获得家庭婚恋服务协会理事单位资格。以信仰幸福、学会感恩的态度，帮助数万
              名用户，重获幸福。并且受中美澳联合国际医学研究院邀请，开设《幸福讲座》。
            </p>
          </div>
          <img src="images/about/module02-right-pic03.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Start module 02 area: 橘子情感发展历程  -->

<!-- Start module 03 area: 橘子情感  -->
<div class="module module-03">
  <div class="main">
    <div class="bg"></div>
  </div>
</div>
<!-- Start module 03 area: 橘子环境  -->

<!-- Start module 04 area: 橘子动态  -->
<div class="module module-04">
  <div class="swiper-container">
      <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="images/about/module04-pic01.png">
            <p class="swiper-slide-title">联合青岛大学举办分享讲座</p>
            <!-- <img src="images/about/module04-pic01.png"> -->
            <!-- <p class="swiper-slide-title">荣获杰出诚信企业称号</p> -->
          </div>
          <div class="swiper-slide">
            <img src="images/about/module04-pic02.png">
            <p class="swiper-slide-title">社会各界人士交流会</p>
          </div>
          <div class="swiper-slide">
            <img src="images/about/module04-pic03.png">
            <p class="swiper-slide-title">凤凰网人物访谈</p>
          </div>
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
  </div>
</div>
<!-- Start module 04 area: 橘子动态  -->

<!-- Start module 05 area: 荣获杰出诚信企业称号  -->
<div class="module-05">
  <div class="main">
    <div class="top">
      <div class="item-group">
        <div class="item">
          <img class="item-img" src="images/about/module05-pic01.png" alt="">
          <p class="item-title">第六届情感导师行业交流指导会</p>
          <p class="item-link">点击查看>>></p>
        </div>
        <div class="item">
          <img class="item-img" src="images/about/module05-pic02.png" alt="">
          <p class="item-title">橘子情感联合山东省创业中心举办中俄新兴行业交流会</p>
          <!-- <img class="item-img" src="images/about/module05-pic02.png" alt="">
          <p class="item-title">青岛市市南区区长社会保障局局长亲临视察指导工作</p> -->
          <p class="item-link">点击查看>>></p>
        </div>
      </div>
      <div class="item-group">
        <div class="item">
          <img class="item-img" src="images/about/module05-pic03.png" alt="">
          <p class="item-title">橘子情感，行业导师培植计划</p>
          <p class="item-link">点击查看>>></p>
        </div>
        <div class="item">
          <img class="item-img" src="images/about/module05-pic04.png" alt="">
          <p class="item-title">“暖爱计划”婚恋知识公益讲座</p>
          <p class="item-link">点击查看>>></p>
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="item-group">
        <div class="item active">
          <span class="item-title">客户远道而来，送来锦旗向导师团队致谢</span>
          <span class="item-link">点击查看>>></span>
        </div>
        <div class="item active">
          <span class="item-title">正确恋爱观讲座</span>
          <span class="item-link">点击查看>>></span>
        </div>
        <div class="item active">
          <span class="item-title">团队理论研发</span>
          <span class="item-link">点击查看>>></span>
        </div>
        <!-- <div class="item active">
          <span class="item-title">橘子情感联合青岛大学商学院举办创业就业经验分享讲座</span>
          <span class="item-link">点击查看>>></span>
        </div>
        <div class="item">
          <span class="item-title">橘子情感联合山东省创业中心举办中俄新兴行业交流会</span>
          <span class="item-link">点击查看>>></span>
        </div> -->
      </div>
      <!-- 添加新闻之后，显示该按钮 -->
      <!-- <span class="more">查看更多</span> -->
    </div>
  </div>
</div>
<!-- Start module 05 area: 荣获杰出诚信企业称号  -->

<!-- Start module 06 area: 服务步骤内容  -->
<div class="module module-06">
  <div class="main">
    <div class="module-06-bg"></div>
  </div>
</div>
<!-- Start module 06 area: 服务步骤内容  -->

<!-- Start module 07 area: 四大保障  -->
<div class="module module-07">
  <div class="main">
    <div class="txt-group">
      <div class="item">
        <p class="txt-title">无微不至</p>
        <p class="para">
          所有付费用户的情况，都会有专属的专业导师组，多对一进行指导，任何问题及时得到
          解答，用户情感状况的每一个转折点，都在导师掌握中
        </p>
      </div>
      <div class="item">
        <p class="txt-title">专业团队</p>
        <p class="para">
          橘子情感所有导师，均为业内资深导师，有着平均多年以上的实战指导经验，在两性情
          感学都这多年的研究经验
        </p>
      </div>
      <div class="item">
        <p class="txt-title">私人定制</p>
        <p class="para">
          每一位用户的情况，都会得到重视，无论是总体战略，还是每一步细节操作，均为结合
          具体情况的私人定制方案，确保成功率
        </p>
      </div>
      <div class="item">
        <p class="txt-title">用户保障</p>
        <p class="para">
          橘子情感作为行业的标杆，对行业的发展有着一份沉甸甸的责任。以身作则，将用户的
          权益放在首位，保障用户隐私以及情况解决
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Start module 07 area: 四大保障  -->

<!-- Start module 08 area: 合作媒体  -->
<div class="module module-08">
  <div class="main">
    <div class="bg"></div>
  </div>
</div>
<!-- Start module 08 area: 合作媒体  -->

<script type="text/javascript">

  var
    i,          viewMore,          newsItem,
    prefaceImg, insertModuleTitle, moduleFourBanner, moduleFiveNews;

  // 动态更换头图图片
  var changePrefaceImg = $(function (){
    prefaceImg = $(".preface .banner-img img");
    prefaceImg.attr("src", "images/about/preface.png");
  }());

  $(document).ready(function (){

    // 初始化模块标题
    insertModuleTitle = $(function (){
      // 请求模块标题模板
      $(function () {
        $.ajax({
          type: "get",
          url: "components/module-title/module-title.html",
          success: function (dataHTML) {
            // 插入模板到页面
            $(".module").prepend(dataHTML);
          },
          error: function (error) {
            alert("request error");
          }
        });
      }());

      // 请求模块模块标题数据
      $(function () {
        $.ajax({
          type: "get",
          url: "data/module-title.json",
          success: function (data) {
            insertModuleTitle(data);
          },
          error: function (error) {
            alert("requests error");
          }
        });
      }());

      // 插入模块标题
      function insertModuleTitle(data) {
        // 动态渲染模板标题
        var moduleTitle = $(".module .title .module-title");
        var i = 0;
        for (var title in data.page["about"]) {
          $($(".module")[i]).find(".title .module-title").html(data.page["about"][title]);
          i++;
        }
      }

    }());

    // 模块四轮播图
    moduleFourBanner = (function (){
      var
        $swiper_slide, $page_title,
        $news_group,     $news_list,
        mySwiper = new Swiper('.swiper-container', {
          initialSlide   : 1,
          slidesPerView  : 2,
          centeredSlides : true,
          pagination     : '.swiper-pagination'
        });

      $page_title   = $('head title');
      $swiper_slide = $('.module-04 .swiper-slide');
      $news_group   = $('.module-05 .top .item-group');
      $news_list    = $('.module-05 .bottom .item-group');

      $($swiper_slide[0]).click(function (){
        // app.router.loadHtml( 'views/news/news2' );
        app.router.loadHtml( 'views/news/news13' );
        app.router.loadCss('css/news');
        $page_title.text( '橘子情感 - 新闻' );
      });
      $($swiper_slide[1]).click(function (){
        app.router.loadHtml( 'views/news/news9' );
        app.router.loadCss('css/news');
        $page_title.text( '橘子情感 - 新闻' );
      });
      $($swiper_slide[2]).click(function (){
        app.router.loadHtml( 'views/news/news12' );
        app.router.loadCss('css/news');
        $page_title.text( '橘子情感 - 新闻' );
      });

      $($($news_group[0])
        .find('.item:first-child'))
        .click(function (){
          app.router.loadHtml( 'views/news/news1' );
          app.router.loadCss('css/news');
          $page_title.text( '橘子情感 - 新闻' );
        });
      $($($news_group[0])
        .find('.item:last-child'))
        .click(function (){
          // app.router.loadHtml( 'views/news/news4' );
          app.router.loadHtml( 'views/news/news14' );
          app.router.loadCss('css/news');
          $page_title.text( '橘子情感 - 新闻' );
        });
      $($($news_group[1])
        .find('.item:first-child'))
        .click(function (){
          app.router.loadHtml( 'views/news/news5' );
          app.router.loadCss('css/news');
          $page_title.text( '橘子情感 - 新闻' );
        });
      $($($news_group[1])
        .find('.item:last-child'))
        .click(function (){
          app.router.loadHtml( 'views/news/news6' );
          app.router.loadCss('css/news');
          $page_title.text( '橘子情感 - 新闻' );
        });

      $($($news_list)
        .find('.item:nth-child(1)'))
        .click(function (){
          app.router.loadHtml( 'views/news/news7' );
          app.router.loadCss('css/news');
          $page_title.text( '橘子情感 - 新闻' );
        });
      $($($news_list)
        .find('.item:nth-child(2)'))
        .click(function (){
          app.router.loadHtml( 'views/news/news8' );
          app.router.loadCss('css/news');
          $page_title.text( '橘子情感 - 新闻' );
        });
      $($($news_list)
        .find('.item:nth-child(3)'))
        .click(function (){
          app.router.loadHtml( 'views/news/news11' );
          app.router.loadCss('css/news');
          $page_title.text( '橘子情感 - 新闻' );
        });
      $($($news_list)
        .find('.item:nth-child(5)'))
        .click(function (){
          app.router.loadHtml( 'views/news/news14' );
          app.router.loadCss('css/news');
          $page_title.text( '橘子情感 - 新闻' );
        });

    }());

    // 假模块五 - 新闻列表
    moduleFiveNews = (function (){
      var
        view_more = $('.module-05 .main .bottom span.more'),
        news_list = $('.module-05 .main .bottom .item-group');

      view_more.click(function (){
        $(this).hide();
        news_list.find('.item').addClass('active');
      });
    }());

  });
</script>
