<!-- Start nav list -->
<div class="nav-list">
    <div class="icon-txt-group">
        <div class="item">
            <div class="icon"></div>
            <p>挽回爱情</p>
        </div>
        <div class="item">
            <div class="icon"></div>
            <p>挽救婚姻</p>
        </div>
        <div class="item">
            <div class="icon"></div>
            <p>分离小三</p>
        </div>
        <div class="item">
            <div class="icon"></div>
            <p>定制爱情</p>
        </div>
    </div>
    <div class="icon-txt-group">
        <div class="item">
            <div class="icon"></div>
            <p>情感论坛</p>
        </div>
        <div class="item">
            <div class="icon"></div>
            <p>权威专家</p>
        </div>
        <div class="item">
            <div class="icon"></div>
            <p>服务介绍</p>
        </div>
        <div class="item">
            <div class="icon"></div>
            <p>关于我们</p>
        </div>
    </div>
</div>
<!-- End nav list -->

<!-- Start module 01 area: introduction -->
<div class="module module-01">
    <!-- Start module main area -->
    <div class="main">
        <p class="indent">
            橘子情感，自创办以来，一直引领着整个行业的进步和发展。为了让广大用户，学会更好的爱与被爱的能力，让用户再爱情中更加有尊严，更加从容，更加自由。橘子情感汇聚了国内知名两性情感咨询师、婚恋家庭咨询师、资深情感挽回师、心理学专家等，用最专业的师资团队，打造全国最专业的情感咨询培训机构。
        </p>
        <p class="indent">
            橘子情感的创办初衷，是针对解决广大民众的情感挽回、婚姻修复等社会问题，但逐渐发现，中国在情感教育方面是完全缺失的。现在，我们要解决的，不仅仅是简单的情感问题，更是整个时代的情感教育缺失。
        </p>
    </div>
    <!-- End module main area -->
</div>
<!-- End module 01 area: introduction -->

<!-- Start module 02 area: four problems that we solves -->
<div class="module module-02">
    <!-- Start module main area -->
    <div class="main">
        <div class="row">
            <img src="images/index/module02-top-pic01.png" alt="">
            <img src="images/index/module02-top-pic02.png" alt="">
        </div>
        <div class="row">
            <img src="images/index/module02-bot-pic01.png" alt="">
            <img src="images/index/module02-bot-pic02.png" alt="">
        </div>
    </div>
    <!-- End module main area -->
</div>
<!-- End module 02 area: four problems that we solves -->

<!-- Start module 03 area: mentor introduction -->
<div class="module module-03">
    <!-- Start module main area -->
    <div class="main">
        <div class="main">
            <div class="container">
                <div id="slide" class="slide" class="index-slide" alt="star">
                    <!-- 轮播图片数量可自行增减 -->
                    <div class="img"><img src="images/index/daoshi_haoyu.png" /></div>
                    <div class="img"><img src="images/index/daoshi_asu.png" /></div>
                    <div class="img"><img src="images/index/daoshi_jiawei.png" /></div>
                    <div class="img"><img src="images/index/daoshi_moyan.png" /></div>
                    <div class="img"><img src="images/index/daoshi_qianwu.png" /></div>
                    <div class="img"><img src="images/index/daoshi_jieni.png" /></div>
                    <div class="slide-bt"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- End module main area -->
</div>
<!-- End module 03 area: mentor introduction -->

<!-- Start module 04 area: dynamic of ora -->
<div class="module module-04">
    <!-- Start module main area -->
    <div class="main">

        <div class="swiper-container">
            <div class="swiper-wrapper banner-group">
                <div class="swiper-slide banner-item">
                    <div class="title">
                        <p class="txt-title">
                          <!-- news 7 -->
                            客户远道而来，送来锦旗向导师团队致谢
                        </p>
                    </div>
                    <div class="txt-content">
                        <div class="column">
                            <p class="para">
                                客户张女士手持精致的感谢锦旗，来到橘子情感。这已经不是第一次有客户亲自登门感谢了，总有远道而来的客户热情上门，表达感谢。
                            </p>
                            <p class="more index-module04-more01">
                                查看更多>>>
                            </p>
                        </div>
                        <div class="column">
                            <img src="images/index/module04-pic01.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide banner-item">
                    <div class="title">
                        <p class="txt-title">
                            主导师团队分析学院情况以及制定方案
                        </p>
                    </div>
                    <div class="txt-content">
                        <div class="column">
                            <p class="para">
                                通过总结近一周的学员情况，针对用户的普遍问题和棘手问题，主导师团队在做详细全面的情况分析，以及结合实际研发更高效的理论，帮助用户解决问题。
                            </p>
                            <p class="more index-module04-more02">
                                查看更多>>>
                            </p>
                        </div>
                        <div class="column">
                            <img src="images/index/module04-pic02.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide banner-item">
                    <div class="title">
                        <p class="txt-title">
                            第六届情感导师行业交流指导会
                        </p>
                    </div>
                    <div class="txt-content">
                        <div class="column">
                            <p class="para">
                                山东省社会各行业跨界交流会在山东省青岛市市南区召开， 23大行业参加了交流会。
                            </p>
                            <p class="more index-module04-more03">
                                查看更多>>>
                            </p>
                        </div>
                        <div class="column">
                            <img src="images/index/module04-pic03.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide banner-item">
                    <div class="title">
                        <p class="txt-title">
                            “暖爱计划”婚恋知识公益讲座报道
                        </p>
                    </div>
                    <div class="txt-content">
                        <div class="column">
                            <p class="para">
                                由橘子情感举办的“暖爱计划”婚恋知识巡回公益讲座,在山东站如火如荼地进行着。
                            </p>
                            <p class="more index-module04-more04">
                                查看更多>>>
                            </p>
                        </div>
                        <div class="column">
                            <img src="images/index/module04-pic04.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide banner-item">
                    <div class="title">
                        <p class="txt-title">
                            十大杰出诚信企业
                        </p>
                    </div>
                    <div class="txt-content">
                        <div class="column">
                            <p class="para">
                                山东省举办的“十大杰出诚信企业大会”在山东济南人民大会堂隆重召开。政府领导出席大会并发表重要讲话。
                            </p>
                            <p class="more index-module04-more05">
                                查看更多>>>
                            </p>
                        </div>
                        <div class="column">
                            <img src="images/index/module04-pic05.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide banner-item">
                    <div class="title">
                        <p class="txt-title">
                            青岛市市南区区长，亲临视察工作
                        </p>
                    </div>
                    <div class="txt-content">
                        <div class="column">
                            <p class="para">
                                青岛市市南区区长高健在青岛市人力资源和社会保障局局长纪敏的陪同下，参观了橘子情感的工作环境
                            </p>
                            <p class="more index-module04-more06">
                                查看更多>>>
                            </p>
                        </div>
                        <div class="column">
                            <img src="images/index/module04-pic06.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination control"></div>
    </div>
    <!-- End module main area -->
</div>
<!-- End module 04 area: dynamic of ora -->

<!-- Start module 05 area -->
<div class="module module-05">
    <!-- Start module main area -->
    <div class="main">
        <div class="column">
            <div class="row">
                <span class="icon"></span>
                <div class="txt-group">
                    <p class="ch">1.情感咨询师在线解答</p>
                    <p class="en">Emotional consultant online answer</p>
                </div>
            </div>
            <div class="row">
                <span class="icon"></span>
                <div class="txt-group">
                    <p class="ch">2.资深专家一对一分析</p>
                    <p class="en">One on one expert analysis</p>
                </div>
            </div>
            <div class="row">
                <span class="icon"></span>
                <div class="txt-group">
                    <p class="ch">3.签约定制课程</p>
                    <p class="en">Sign up customized courses</p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="row">
                <span class="icon"></span>
                <div class="txt-group">
                    <p class="ch">4.制定解决方案</p>
                    <p class="en">Making solutions</p>
                </div>
            </div>
            <div class="row">
                <span class="icon"></span>
                <div class="txt-group">
                    <p class="ch">5.全程专家指导</p>
                    <p class="en">Whole course expert guidance</p>
                </div>
            </div>
            <div class="row">
                <span class="icon"></span>
                <div class="txt-group">
                    <p class="ch">6.售后服务保障</p>
                    <p class="en">After-sales service guarantee</p>
                </div>
            </div>
        </div>
    </div>
    <!-- End module main area -->
</div>
<!-- End module 05 area -->

<!-- Start module 06 area -->
<div class="module module-06">
    <!-- Start module main area -->
    <div class="main">
        <div class="m1">
            <img src="images/index/module-06-img1.png" />
            <div class="wen1">
                <p>
                    一、服务结束后，用户档案将被系统自动销毁。决不向第三方泄露用户资料，保障隐私权益。整个服务过程，也不会对用户的生活造成任何困扰。
                </p>
            </div>
        </div>
        <div class="m2">
            <img src="images/index/module-06-img2.png" />
            <div class="wen2">
                <p>
                    二、签订正式合同（包含保密协议），具有绝对的法律效力，保障用户权益，用户的经济权益，以及情感状况，都会由导师团队全权负责。
                </p>
            </div>
        </div>
    </div>
    <!-- End module main area -->
</div>
<!-- End module 06 area -->

<!-- Start module 07 area -->
<div class="module module-07">
    <!-- Start module main area -->
    <div class="main">
        <div class="m1">
            <div class="wenr">
                <h2>无微不至</h2>
                <h3>meticulously</h3>
                <p>
                    所有付费用户的情况，都会有专属的专业导师组，多对一进行指导，任何问题及时得到解答，用户情感状况的每一个转点，都在导师掌握中。
                </p>
            </div>
        </div>
        <div class="m2">
            <div class="wenl">
                <h2>专业团队</h2>
                <h3>major team</h3>
                <p>
                    橘子情感所有导师，均为业内资深导师，有着平均多年以上的实战指导经验，在两性情感学都这多年的研究经验。
                </p>
            </div>
        </div>
        <div class="m3">
            <div class="wenr">
                <h2>私人定制</h2>
                <h3>PERSONAL TAILOR</h3>
                <p>
                    每一位用户的情况，都会得到重视，无论是总体战略，还是每一步细节操作，均为结合具体情况的私人定制方案，确保成功率。
                </p>
            </div>
        </div>
        <div class="m4">
            <div class="wenl">
                <h2>用户保障</h2>
                <h3>User protection</h3>
                <p>
                    橘子情感作为行业的标杆，对行业的发展有着一份沉甸甸的责任。以身作则，将用户的权益放在首位，保障用户隐私以及情况解决。
                </p>
            </div>
        </div>
    </div>
    <!-- End module main area -->
</div>
<!-- End module 07 area -->
