<!-- Start module 01 area -->
<div class="module module-01">

	<!-- Start module main area -->
	<div class="main">
		<div class="icon-txt-group">
			<img src="images/save-marriage/state-btn1.png" />
			<p>
				分居状态
			</p>
		</div>
		<div class="icon-txt-group">
			<img src="images/save-marriage/state-btn2.png" />
			<p>
				准备离婚
			</p>
		</div>
		<div class="icon-txt-group">
			<img src="images/save-marriage/state-btn3.png" />
			<p>
				离婚求复婚
			</p>
		</div>
		<div class="icon-txt-group">
			<img src="images/save-marriage/state-btn4.png" />
			<p>
				复婚后不和谐
			</p>
		</div>
	</div>
	<!-- End module main area -->
</div>
<!-- End module 01 area -->

<!-- Start module 02 area -->
<div class="module module-02">

	<!-- Start module main area -->
	<div class="main">
		<div class="clear"></div>
		<div class="bg"></div>
	</div>
	<!-- End module main area -->
</div>
<!-- End module 02 area -->

<!-- Start module 03 area -->
<div class="module module-03">

	<!-- Start module main area -->
	<div class="main">
		<div class="top">
			<img src="images/save-marriage/advantage-img1.png" />
			<p>
				中国情感挽回行业权威领导者，八年从业经验，已经累计为数万人解决情感问题，针对挽
				回婚姻、挽回爱情、分离小三、长期关系维护等领域具有权威地位。
			</p>
		</div>
		<div class="zhong"></div>
		<div class="bottom">
			<img src="images/save-marriage/advantage-img2.png" />
			<p>
				由国内顶尖情感挽回师、情感维稳师、心理咨询师、心理侧写师、进化心理学专家、两性
				心理学专家联合组成强大的理论供给团队，为两性情感解决方案提供理论基础。
			</p>
		</div>
	</div>
	<!-- End module main area -->
</div>
<!-- End module 03 area -->

<!-- Start module 04 area -->
<div class="module module-04">

	<!-- Start module main area -->
	<div class="main">
		<div class="ul1">
			<input id="toggle1" type="radio" name="toggle" />
			<label for="toggle1" class="label1">守株待兔等对方服软</label>
			<section class="content1 active">
				<p class="p1">
					这是一种极其消极的挽回方式，当对方不想挽回这段感情时，你守株待兔是没有任何意
					义的，只会错过最佳挽回时间。
				</p>
			</section>
			<input id="toggle2" type="radio" name="toggle" />
			<label for="toggle2" class="label2">互不理睬以冷战降温</label>
			<section class="content2">
				<p class="p1">
					发生矛盾的双方需要解决矛盾，以冷战来降温的方式本质上就是错误的，矛盾永远不会
					因为你们互不理睬而被解决。
				</p>
			</section>
			<input id="toggle3" type="radio" name="toggle" />
			<label for="toggle3" class="label3">请求外援发动亲朋好友介入</label>
			<section class="content3">
				<p class="p1">
					婚姻的破裂和挽回都是你们两个人的事情，其他人无法感同身受，在对方眼里，通通都
					是站着说话不腰疼。
				</p>
			</section>
			<input id="toggle4" type="radio" name="toggle" />
			<label for="toggle4" class="label4">孩子要挟让对方再也见不到孩子</label>
			<section class="content4">
				<p class="p1">
					首先你这种行为就是违法的，其次以孩子作为要挟，只会让对方更恨你，而不是跟你复
					合。
				</p>
			</section>
			<input id="toggle5" type="radio" name="toggle" />
			<label for="toggle5" class="label5">威逼利诱从第三者下手</label>
			<section class="content5">
				<p class="p1">
					出轨的根本原因还是在你们身上， 而不是在第三者身上，如果不解决根本原因，你逼
					走了一个第三者还会再来一个，源源不断。
				</p>
			</section>
			<input id="toggle6" type="radio" name="toggle" />
			<label for="toggle6" class="label6">追究他人辱骂对方亲朋</label>
			<section class="content6">
				<p class="p1">
					你们的婚姻，绝不是对方亲朋挑唆几句就会出现问题，你去辱骂对方亲朋，会让对方难
					堪，无法面对亲朋让对方不想再搭理你。
				</p>
			</section>
		</div>
	</div>
</div>
<!-- End module main area -->
</div>
<!-- End module 04 area -->

<!-- Start module 05 area -->
<div class="module module-05">

	<!-- Start module main area -->
	<div class="main">
		<div class="top">
			<div class="m51">
				<p>第三者插足</p>
			</div>
			<div class="m52">
				<p>两地分居信任缺失</p>
			</div>
			<div class="m53">
				<p>婆媳关系子女教育隔代矛盾</p>
			</div>
		</div>
		<div class="bottom">
			<div class="m54">
				<p>性格不合无法沟通</p>
			</div>
			<div class="m55">
				<p>家暴<br />冷暴力</p>
			</div>
		</div>
	</div>
	<!-- End module main area -->
</div>
<!-- End module 05 area -->

<!-- Start module 06 area -->
<div class="module module-06">
	<!-- Start module main area -->
	<div class="main">
		<div class="swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="item">
						<span class="icon"></span>
						<p>
							婚姻矛盾调解 婚姻感情维护
						</p>
					</div>
					<div class="item">
						<span class="icon"></span>
						<p>
							挽回婚姻服务 改变离婚命运
						</p>
					</div>
					<div class="item">
						<span class="icon"></span>
						<p>
							小三动机分析 代分离第三者
						</p>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="item">
						<span class="icon"></span>
						<p>
							婆媳矛盾调解 婆媳关系修复
						</p>
					</div>
					<div class="item">
						<span class="icon"></span>
						<p>
							其他具体业务 欢迎点击咨询
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="swiper-pagination"></div>
	</div>
	<!-- End module main area -->
</div>
<!-- End module 06 area -->

<!-- Start module 07 area -->
<div class="module module-07">

	<!-- Start module main area -->
	<div class="main">
		<div class="top">
			<h3>
    			挽回老公的心，让婚姻走出“出轨”阴影
    		</h3>
			<p>
				我和老公恋爱了两年，结婚也有五年了。在孩子出生后，我开始专心在家里带孩子，可
				我发现老公在外面有了别的女人。知道这个消息的时候我很崩溃，老公不要我们了，我
				和孩子该怎么办？我还能挽回老公的心吗？
			</p>
		</div>
		<div class="bottom">
			<h3>
    			维持好长期婚姻关系，让生活不再磕磕绊绊
    		</h3>
			<p>
				公婆有点重男轻女，在女儿出生之后，我和公婆的关系降到冰点。为了照顾女儿，我只
				能在家里做全职妈妈。因为孩子的问题，我们开始争吵，他开始敷衍我，对我和女儿都
				变得冷淡起来，我本来以为这只是短时间的事情，直到他提了离婚……
			</p>
		</div>
	</div>
	<!-- End module main area -->
</div>
<!-- End module 07 area -->

<!-- Start module 08 area -->
<div class="module module-08">

	<!-- Start module main area -->
	<div class="main">
		<div class="top">
			<div class="dao1">
				<img src="images/save-marriage/daoshi-jiawei.png" />
				<p>
					嘉伟导师
				</p>
			</div>
			<div class="dao1">
				<img src="images/save-marriage/daoshi-qianwu.png" />
				<p>
					千芜导师
				</p>
			</div>
		</div>
		<div class="bottom">
			<div class="dao1">
				<img src="images/save-marriage/daoshi-lujia.png" />
				<p>
					路加导师
				</p>
			</div>
			<div class="dao1">
				<img src="images/save-marriage/daoshi-qingen.png" />
				<p>
					柒月导师
				</p>
			</div>
		</div>
	</div>
	<!-- End module main area -->
</div>
<!-- End module 08 area -->

<!-- Start module 09 area -->
<div class="module module-09">

	<!-- Start module main area -->
	<div class="main">

	</div>
	<!-- End module main area -->
</div>
<!-- End module 09 area -->
