<!-- Start module 01 area -->
<div class="module module-01">

	<!-- Start module main area -->
	<div class="main">
		<div class="top">
			<div class="left">
				<img src="images/separate-mistress/status-img1.png" />
				<h3>
					老公婚内出轨
				</h3>
				<p>
					也许你们之间已经没有了激情，正是你的不作为导致了对方的背叛。
				</p>
			</div>
			<div class="right">
				<img src="images/separate-mistress/status-img2.png" />
				<h3>
					老公坚决离婚
				</h3>
				<p>
					任凭你做多少努力，对方的态度坚决，认为你给不了他想要的家庭。
				</p>
			</div>
		</div>
		<div class="bottom">
			<div class="left">
				<img src="images/separate-mistress/status-img3.png" />
				<h3>
					小三真情实意无所她求
				</h3>
				<p>
					老公心意已决，要与小三组成家庭。
				</p>
			</div>
			<div class="right">
				<img src="images/separate-mistress/status-img4.png" />
				<h3>
					小三强势逼宫
				</h3>
				<p>
					老公坚决离婚，站在小三一边。
				</p>
			</div>
		</div>
	</div>
	<!-- End module main area -->
</div>
<!-- End module 01 area -->

<!-- Start module 02 area -->
<div class="module module-02">

	<!-- Start module main area -->
	<div class="main">
		<div class="m21">
			<img src="images/separate-mistress/reason-img1.png" />
			<p>
				夫妻感情
			</p>
			<p>
				进入疲惫期
			</p>
		</div>
		<div class="m22">
			<img src="images/separate-mistress/reason-img2.png" />
			<p>
				小三
			</p>
			<p>
				蓄意勾引
			</p>
		</div>
		<div class="m23">
			<img src="images/separate-mistress/reason-img3.png" />
			<p>
				性生活
			</p>
			<p>
				不和谐
			</p>
		</div>
		<div class="m24">
			<img src="images/separate-mistress/reason-img4.png" />
			<p>
				矛盾冲突不断
			</p>
			<p>
				经常吵架
			</p>
		</div>
	</div>
	<!-- End module main area -->
</div>
<!-- End module 02 area -->

<!-- Start module 03 area -->
<div class="module module-03">
	<!-- Start module main area -->
	<div class="main">
		<div class="swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="item">
						<h3>
							威胁离婚
						</h3>
						<p>
							带人去捉奸，留下证据，以起诉离婚让他净身出户相要挟，甚至威胁他离婚之后
							不让他再见孩子一面，这样并不会让他退缩，甚至刚好合他的心意抛掉了家庭和
							负担，与小三重建美满的家庭。
						</p>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="item">
						<h3>
							找小三当面对质
						</h3>
						<p>
							约小三见面，痛骂小三，甚至大打出手，让周围的群众评理，这样不仅不会让小
							三识趣主动离开，而且你的形象也随之彻底毁掉，现在吹枕边风的是小三不是你，
							你这样只会使小三添油加醋把自己伪装成受害者，让他更加嫌弃你。
						</p>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="item">
						<h3>
							自己也出轨
						</h3>
						<p>
							老公出轨，破罐子破摔，出于报复心理，自己也禁不住诱惑出轨，试图刺激对方
							扳回一局，可能你觉得报复很爽，但是最终痛苦的还是你，社会本来就对男人的
							出轨宽容度更高，不仅挽回不了婚姻，还会背负骂名，让你的父母孩子以后怎么
							看待你？
						</p>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="item">
						<h3>
							苦苦哀求
						</h3>
						<p>
							谁也不想舍弃这安稳的现状，就算低声下气苦苦哀求也要保住这支离破碎的家庭，
							乞求他不要抛弃婚姻，但是这样无尊严无下限并不会使他同情你，而是觉得厌烦。
						</p>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="item">
						<h3>
							蓄意报复
						</h3>
						<p>
							不管是找人报复还是损坏私人财产的做法不仅是违法的，更是让他觉得你疯了，
							谁会愿意跟一个疯子维持婚姻到他公司闹也只会使他颜面扫地，蓄意报复的行为
							只会使事情无法收场，断绝一切挽回的希望。
						</p>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="item">
						<h3>
							争吵冷战
						</h3>
						<p>
							将一切都摊牌，跟对方撕破脸，什么难听的话都说出口，甚至动手，这样只会让对
							方觉得你是一个泼妇，拿你跟小三作比较，直接打包行李住到小三家，连你面都不
							想见，那你还拿什么来挽回你的婚？
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="swiper-pagination"></div>
	</div>
</div>
<!-- End module main area -->
</div>
<!-- End module 03 area -->

<!-- Start module 04 area -->
<div class="module module-04">

	<!-- Start module main area -->
	<div class="main">
		<div class="top">
			<h3>
				五大系统专家竭诚服务
			</h3>
			<p>
				由国内顶尖约会专家、进化心理学专家、婚姻家庭咨询师、情感挽回师、情感维稳师联合
				组成专注于两性情感解决方案提供面对面实战服务，挽回婚姻。
			</p>
		</div>
		<div class="bottom">
			<h3>
				中国情感挽回行业服务首批从业者
			</h3>
			<p>
				橘子情感是国内首家情感行业开创者，开启国内情感婚姻挽回问题，专业解决的先河。其
				创始人嘉伟独创了情感危机专家和情感分析师两个新兴行业，受到业界同行的纷纷效仿支
				持，被誉为中国情感挽回行业开创者和首批从业者。
			</p>
		</div>
	</div>
	<!-- End module main area -->
</div>
<!-- End module 04 area -->

<!-- Start module 05 area -->
<div class="module module-05">

	<!-- Start module main area -->
	<div class="main">
		<div class="m51">
			<img src="images/separate-mistress/adept-img1.png" />
			<div class="word">
				<h3>
					感情型
				</h3>
				<p>
					在婚内发现真爱，第三者只作为灵魂伴侣，并不要求名分
				</p>
			</div>
		</div>
		<div class="m52">
			<img src="images/separate-mistress/adept-img2.png" />
			<div class="word">
				<h3>
					金钱型
				</h3>
				<p>
					第三者只是图钱才跟对方在一起，可能会争夺财产，也可能是包养关系，对婚姻威胁比
					较小
				</p>
			</div>
		</div>
		<div class="m53">
			<img src="images/separate-mistress/adept-img3.png" />
			<div class="word">
				<h3>
					特殊身份型
				</h3>
				<p>
					与对方的闺蜜或妹妹等产生感情，或者与前任纠缠不清，前任成为第三者
				</p>
			</div>
		</div>
		<div class="m54">
			<img src="images/separate-mistress/adept-img4.png" />
			<div class="word">
				<h3>
					办公室恋情型
				</h3>
				<p>
					与上司或直系下属在工作中接触频繁，日久生情，这类第三者比较难缠
				</p>
			</div>
		</div>
	</div>
	<!-- End module main area -->
</div>
<!-- End module 05 area -->

<!-- Start module 06 area -->
<div class="module module-06">

	<!-- Start module main area -->
	<div class="main">
		<!--<div class="left">

		</div>
		<div class="right">
			<div class="m61">
				<div class="head">
					<p class="p1"><span class="h1">01</span><span class="h3">one</span></p>
					<p class="p2">代了解外遇事宜</p>
				</div>
				<p class="p3" style="font-size: .1rem; width: 100%; margin-left: .5rem;">
					了解外遇对象的基本情况以及他们的感情进展、制定详细的计划，在保证你们婚姻的情况下离间第三者、教你如何避免对方与第三者旧情复燃，产生后续问题
				</p>
			</div>
			<div class="m62">
				<div class="head">
					<p class="p1"><span class="h1">02</span><span class="h3">two</span></p>
					<p class="p2">解决财产问题</p>
				</div>
				<p class="p3" style="font-size: .1rem; margin-left: .5rem;">
					避免因为财产纠纷、财产分割问题导致夫妻双方起争执，增加感情危机，让第三者有机可乘，避免金钱型第三者架空财产，导致人财两失。
				</p>
			</div>
			<div class="m63">
				<div class="head">
					<p class="p1"><span class="h1">03</span><span class="h3">three</span></p>
					<p class="p2">待处理怀孕问题</p>
				</div>
				<p class="p3" style="font-size: .1rem; margin-left: .5rem;">
					搞清第三者怀孕是否属实以及搞清第三者的孩子是谁的，避免小三借子上位，协商孩子的归属问题，断绝与第三者的情感纠缠和任何形式的接触
				</p>
			</div>
			<div class="m64">
				<div class="head">
					<p class="p1"><span class="h1">04</span><span class="h3">four</span></p>
					<p class="p2">代办和平分手</p>
				</div>
				<p class="p3" style="font-size: .1rem; margin-left: .5rem;">
					给出操作方案，在不破坏夫妻感情及婚姻状况的情况下，尽量减少双方的损失，让第三者主动分手或让对方坚决与第三者断绝关系，和平解决第三者的问题
				</p>
			</div>
		</div>-->
	</div>
	<!-- End module main area -->
	<div class="chakan">
		<p>
			<a href="##">查看更多>>></a>
		</p>
	</div>
</div>
<!-- End module 06 area -->

<!-- Start module 07 area -->
<div class="module module-07">

	<!-- Start module main area -->
	<div class="main">
		<div class="top">
			<img src="images/separate-mistress/success-img1.png" />
			<div class="wen1">
				<h3>老公在外找小三，教你见招拆招</h3>
				<p>
					我其实隐约感觉到老公在外面有了人，但是苦于没有证据，老公每次回家都一副不耐烦
					的样子，如果不是还要在外人面前做做样子，恐怕他连这个家都不回了……
				</p>
				<p>
					<a href="##">查看更多>>></a>
				</p>
			</div>
		</div>
		<div class="bottom">
			<img src="images/separate-mistress/success-img2.png" />
			<div class="wen1">
				<h3>从恩爱夫妻到仇人，都是小三搞得鬼</h3>
				<p>
					我跟老公一直是朋友眼中的模范夫妻，但是心里苦不苦只有我自己知道。都是因为老公
					在办公室跟一个狐狸精看对了眼，从此我们在家里天天吵架，但是由于害怕外面的流言
					蜚语……
				</p>
				<p>
					<a href="##">查看更多>>></a>
				</p>
			</div>
		</div>
	</div>
	<!-- End module main area -->
</div>
<!-- End module 07 area -->

<!-- Start module 08 area -->
<div class="module module-08">

	<!-- Start module main area -->
	<div class="main">

	</div>
	<!-- End module main area -->
</div>
<!-- End module 08 area -->

<!-- Start module 09 area -->
<div class="module module-09">

	<!-- Start module main area -->
	<div class="main">

	</div>
	<!-- End module main area -->
</div>
<!-- End module 09 area -->
