<!-- Start module 01 area -->
<div class="module module-01">

    <!-- Start module main area -->
    <div class="main">
    	<div class="top">
    		<p>
    			 随着当今中国社会的爱情分手率、离婚率的不断升高，两性情感问题，已然成为普遍
           的社会问题爱情破裂的原因有很多，或大或小比如：
    		</p>
    	</div>
    	<div class="bottom">
    		<div class="top1">
    			<div class="zu">
    				<img src="images/service/persona-img1.png" />
    				<p>沟通不畅</p>
    			</div>
    			<div class="zu">
    				<img src="images/service/persona-img2.png" />
    				<p>感情冷淡</p>
    			</div>
    			<div class="zu">
    				<img src="images/service/persona-img3.png" />
    				<p>矛盾累积</p>
    			</div>
    			<div class="zu">
    				<img src="images/service/persona-img4.png" />
    				<p>第三者插足</p>
    			</div>
    		</div>
    		<div class="bottom1">
    			<div class="zu">
    				<img src="images/service/persona-img5.png" />
    				<p>婆媳关系</p>
    			</div>
    			<div class="zu">
    				<img src="images/service/persona-img6.png" />
    				<p>家庭暴力</p>
    			</div>
    			<div class="zu">
    				<img src="images/service/persona-img7.png" />
    				<p>经济纠纷</p>
    			</div>
    			<div class="zu">
    				<img src="images/service/persona-img8.png" />
    				<p>异国异地</p>
    			</div>
    		</div>
    	</div>
    </div>
    <!-- End module main area -->
</div>
<!-- End module 01 area -->

<!-- Start module 02 area -->
<div class="module module-02">

    <!-- Start module main area -->
    <div class="main">
    	<div class="wen">
    		<p class="p1">
    			橘子情感多年来的情感行业经验，总结了上万案例，结果表示92.6%的情感破裂问题，
          实际上都能够得到解决，通过科学合理的方法，最终挽回爱情。但遗憾的是，只有不到
          7%的人自己挽回成功。绝大部分人因为不了解这个行业，用了错误的方式，错失了原有
          的幸福。
    		</p>
    		<p class="p2">
    			橘子情感作为行业的领军企业，一直致力于解决中国情感市场的空缺，为更多人的爱情
          保驾护航。而执行了多年的“挽爱计划”，已经累计帮助了数万位用户，解决情感问题，
          橘子情感用户满意度在96.7%以上。为用户挽回爱情、拯救婚姻、提高恋爱能力以及维
          护长期关系不再出问题。
    		</p>
    	</div>
    	<div class="tu">
    		<img src="images/service/status-img1.png" />
    		<img src="images/service/status-img2.png" />
    		<img src="images/service/status-img3.png" />
    	</div>
    </div>
    <!-- End module main area -->
</div>
<!-- End module 02 area -->

<!-- Start module 03 area -->
<div class="module module-03">

    <!-- Start module main area -->
    <div class="main">
    	<div class="top">
    		<div class="wen">
    			<p>
    				你的专属导师团队，将从九大维度，全面分析指导你的具体情感问题。你在感情中会
            遇到的每一个问题，都会被导师团队预估，并且解决。
    			</p>
    		</div>
    		<div class="tu">
    			<div class="top1">
    				<div class="zu">
	    				<img src="images/service/service-system-img1.png" />
	    				<p>成功概率</p>
	    				<p>全面分析</p>
	    			</div>
	    			<div class="zu">
	    				<img src="images/service/service-system-img2.png" />
	    				<p>具体的挽回</p>
	    				<p>行动方案</p>
	    			</div>
	    			<div class="zu">
	    				<img src="images/service/service-system-img3.png" />
	    				<p>对方心理的</p>
	    				<p>专业分析</p>
	    			</div>
    			</div>
    			<div class="zhong">
    				<div class="zu">
	    				<img src="images/service/service-system-img4.png" />
	    				<p>潜在竞争对手</p>
	    				<p>风险评估</p>
	    			</div>
	    			<div class="zu">
	    				<img src="images/service/service-system-img5.png" />
	    				<p>自身恋爱能力</p>
	    				<p>提升学习计划</p>
	    			</div>
	    			<div class="zu">
	    				<img src="images/service/service-system-img6.png" />
	    				<p>私人定制魅力</p>
	    				<p>提升计划</p>
	    			</div>
    			</div>
    			<div class="bottom1">
    				<div class="zu">
	    				<img src="images/service/service-system-img7.png" />
	    				<p>见面约会</p>
	    				<p>计划设计</p>
	    			</div>
	    			<div class="zu">
	    				<img src="images/service/service-system-img8.png" />
	    				<p>与对方的聊天</p>
	    				<p>实时指导</p>
	    			</div>
	    			<div class="zu">
	    				<img src="images/service/service-system-img9.png" />
	    				<p>长期恋爱关系</p>
	    				<p>维护计划</p>
	    			</div>
    			</div>
    		</div>
    	</div>
    	<div class="zhong"></div>
    	<div class="bottom">
    		<div class="zu">
    			<div class="left">
    				<img src="images/service/service-system-bottom-left1.png" />
    			</div>
    			<div class="right">
    				<h3>
    					<img src="images/service/service-system-bottom-right1.png" />
    					<span style="color: #53D0FF;">开会讨论</span>
    				</h3>
    				<p>
    					根据每位学员的不同情况，开会讨论，并定制课程计划
    				</p>
    			</div>
    		</div>
    		<div class="zu">
    			<div class="left">
    				<img src="images/service/service-system-bottom-left2.png" />
    			</div>
    			<div class="right">
    				<h3>
    					<img src="images/service/service-system-bottom-right2.png" />
    					<span style="color: #F8B244;">办公环境</span>
    				</h3>
    				<p>
    					整洁美观的环境，让人赏心悦目，整齐干净的状态
    				</p>
    			</div>
    		</div>
    		<div class="zu">
    			<div class="left">
    				<img src="images/service/service-system-bottom-left3.png" />
    			</div>
    			<div class="right">
    				<h3>
    					<img src="images/service/service-system-bottom-right3.png" />
    					<span style="color: #FF5378;">私人沟通</span>
    				</h3>
    				<p>
    					保护学员隐私，专业多对一指导，高效解决学员情感问题
    				</p>
    			</div>
    		</div>
    	</div>
    </div>
    <!-- End module main area -->
</div>
<!-- End module 03 area -->

<!-- Start module 04 area -->
<div class="module module-04">

    <!-- Start module main area -->
    <div class="main">
	    <div class="head">
	    	<p>
	    		在“挽爱计划”课程服务中，系统的视频课程，是课程体系中的一部分。包括心态心法、
          吸引力构建、挽回方法、高效沟通聊天方法、约会见面攻略、异地恋、应对第三者、婚
          后生活、爱情保鲜、长期关系等在感情生活中的，方方面面的问题以及解决方法。
	    	</p>
	    </div>
    	<div class="curriculum">
    		<div class="zu">
    			<div class="left">
    				<img src="images/service/curriculum-img1.png" />
    			</div>
    			<div class="zhong">
    				<h3>免费课程预览</h3>
    				<p>
    					课程简介视频预览
    				</p>
    				<p>
    					<img src="images/service/curriculum-xin.png" />
    					挽回的具体操作和技巧
    				</p>
    			</div>
    			<div class="right">
    				<a href="##">
    					<img src="images/service/curriculum-chakan.png" />
    				</a>
    			</div>
    		</div>
    		<div class="zu">
    			<div class="left">
    				<img src="images/service/curriculum-img2.png" />
    			</div>
    			<div class="zhong">
    				<h3>付费用户视频专区</h3>
    				<p>成为会员可免费观看更多视频</p>
    				<p>
    					<img src="images/service/curriculum-xin.png" />
    					正确认识你和女生的关系
    				</p>
    			</div>
    			<div class="right">
    				<a href="##"><img src="images/service/curriculum-chakan.png" /></a>
    			</div>
    		</div>
    	</div>
    </div>
    <!-- End module main area -->
</div>
<!-- End module 04 area -->

<!-- Start module 05 area -->
<div class="module module-05">

    <!-- Start module main area -->
    <div class="main">
    	<div class="left">
    		<img src="images/service/daoshi-bgimg.png" />
    	</div>
    	<div class="right">
    		<div class="top">
    			<p>
    				橘子情感的导师团队，均为资深全职导师，其中包括平均从业多年以上的国家心理咨
            询师、专业心理侧写师、国家级婚恋咨询师、情感挽回专家、情感维稳师等专业导师，
            为您的爱情保驾护航。
    			</p>
    		</div>
    		<div class="bottom">
				<p>
    				橘子情感始终坚持“以人为本”的原则，荟萃国内约会专家、国内权威情感挽回专家、
            进化心理学专家、婚姻家庭咨询师等业界精英.融合国内国外两性情感理论，依据亚
            洲思维模式和近两万实际案例，针对现今中国社会普遍存在的情感教育缺失问题，总
            结和创立出行业内最适合国人情感的一整套理论体系
				</p>
    		</div>
    	</div>
    </div>
    <!-- End module main area -->
</div>
<!-- End module 05 area -->

<!-- Start module 06 area -->
<div class="module module-06">
    <!-- Start module main area -->
    <div class="main">
    	<div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                	<div>
                		<img src="images/service/daoshi-jiawei.png"
                    style="width: 4.72rem;height:2.81rem; padding-left: .2rem;"
                    />
                	</div>
                </div>
                <div class="swiper-slide">
                	<div>
                		<img src="images/service/daoshi-qianwu.png"
                    style="width:4.72rem;height:2.78rem; padding-left: .2rem;"
                    />
                	</div>
                </div>
                <div class="swiper-slide">
					<div>
                		<img src="images/service/daoshi-lujia.png"
                    style="width:4.72rem;height:2.81rem; padding-left: .2rem;"
                    />
					</div>
                </div>
                <div class="swiper-slide">
                	<div>
                		<img src="images/service/daoshi-asu.png"
                    style="width:4.72rem;height:2.81rem; padding-left: .2rem;"
                    />
                	</div>
                </div>
                <div class="swiper-slide">
                	<div>
                		<img src="images/service/daoshi-haoyu.png"
                    style="width:4.72rem;height:2.82rem; padding-left: .2rem;"
                    />
                	</div>
                </div>
            </div>
        </div>
    </div>
    <!-- End module main area -->
</div>
<!-- End module 06 area -->

<!-- Start module 07 area -->
<div class="module module-07">

    <!-- Start module main area -->
    <div class="main">

    </div>
    <!-- End module main area -->
</div>
<!-- End module 07 area -->

<!-- Start module 08 area -->
<div class="module module-08">

    <!-- Start module main area -->
    <div class="main">
    	<div class="top">
    		<p>
    			橘子情感作为行业标杆，所有导师全部经过官方认证以及资格认证，全力保障用户服务
    		</p>
   		</div>
   		<div class="zhong">
			<p>
				付款签订正规合同，若对服务不满意，可根据用户保障条款，申请部分或者全额退款
			</p>
   		</div>
   		<div class="bottom">
   			<p>
   				“挽爱计划”将全程保护用户隐私，不向任何第三方泄露，服务结束用户档案将由系统自
          动销毁
   			</p>
   		</div>
    </div>
    <!-- End module main area -->
</div>
<!-- End module 08 area -->

<script type="text/javascript">
  $(document).ready(function () {

    // 加载视频预览页面
    var freeVideo = (function (){
      var
        videoImg = $('.module .main .curriculum .zu:first-child')
          .find('.left img'),
        videoTxt = $('.module .main .curriculum .zu:first-child')
          .find('.zhong h3'),
        videoPageTitle = $('head title')
      ;



      videoImg.click(function () {
        app.router.loadHtml( 'views/video' );
        app.router.loadCss('css/video');
        videoPageTitle.text( '橘子情感 - 视频预览' );
      });
      videoTxt.click(function () {
        app.router.loadHtml( 'views/video' );
        app.router.loadCss('css/video');
        videoPageTitle.text( '橘子情感 - 视频预览' );
      });
      return false;
    }());
    // 加载付费视频页面
    var vipVideo = (function () {
      var
        videoVipImg = $('.module .main .curriculum .zu:last-child')
          .find('.left img'),
        videoVipTxt = $('.module .main .curriculum .zu:last-child')
          .find('.zhong h3'),
        vipVideoPageTitle = $('head title'),
        pwd = '请输入密码',
        user_input, check_pwd
      ;

      check_pwd = function () {
        if ( user_input != null
          && user_input != ''
          && user_input == 'juzi911' ) {
            app.router.loadHtml( 'views/video-vip' );
            app.router.loadCss('css/video-vip');
        }
        else {
          alert( '密码错误！' );
        }
      };

      videoVipImg.click(function () {
        user_input = prompt( pwd, '' );
        check_pwd();
        vipVideoPageTitle.text( '橘子情感 - 付费视频' );
      });
      videoVipTxt.click(function () {
        user_input = prompt( pwd, '' );
        check_pwd();
        vipVideoPageTitle.text( '橘子情感 - 付费视频' );
      });

      return false;
    }());

  });
</script>
