.idea/

css/anniu/
css/foot-copy.css
css/head-copy.css
css/index-copy.css
css/lianxi.css

fonts/

js/about_us/
js/course/
js/customize/
js/emotional/
js/index/
js/video/

index-old.html
images/
img/

media/

node_modules/

src/