.project
.idea/

css/foot-copy.css
css/head-copy.css
css/index-copy.css

fonts/

js/about_us/
js/course/
js/customize/
js/emotional/
js/index/
js/video/

index-old.html
images/

media/about-blind.mp4
media/example.mp4
media/face.mp4
media/fresh.mp4
media/long-distance-love.mp4
media/methods.mp4
media/normal-question.mp4
media/preview.mp4
media/preview-old.mp4
media/README.md
media/skills.mp4
media/third-party-intervention.mp4

node_modules/

md/

progress.md
prepare.md

test.html