/**
 * 荣誉资质
 */

.str_wrap {
	padding-left: 3em;
	padding-right: 3em;
	background: #fefefe;
	height: 10em;
	line-height: 2em;
	font-size: 1.2em;
}

.str4 .str_item {
	font-size: 0;
	line-height: 0
}

.str4 img {
	opacity: 0.8
}

.str4 img:hover {
	opacity: 1
}

.str4.str_wrap.str_active {
	background: #fff;
}


/************************/

.flex-control-nav {
	position: absolute;
	bottom: 30px;
	z-index: 2;
	width: 100%;
	text-align: center;
}

.flex-control-nav li {
	display: inline-block;
	width: 36px;
	height: 14px;
	margin: 0 5px;
	*display: inline;
	zoom: 1;
}

.flex-control-nav a {
	display: inline-block;
	width: 36px;
	height: 14px;
	line-height: 40px;
	overflow: hidden;
	background: url(../images/dot.png) right 0 no-repeat;
	cursor: pointer;
}

.flex-control-nav .flex-active {
	background-position: 0 0;
}

.flex-direction-nav {
	position: absolute;
	z-index: 3;
	width: 100%;
	top: 45%;
}

.flex-direction-nav li a {
	display: block;
	width: 50px;
	height: 50px;
	overflow: hidden;
	cursor: pointer;
	position: absolute;
}

.flex-direction-nav li a.flex-prev {
	left: 385px;
	background: url(../images/prev.png) center center no-repeat;
}

.flex-direction-nav li a.flex-next {
	right: 385px;
	background: url(../images/next.png) center center no-repeat;
}

.flexslider {
	position: relative;
	height: 1008px;
	overflow: hidden;
}

.slides {
	position: relative;
	z-index: 1;
}

.slides li {
	height: 1008px;
}

.h86 {
	height: 86px;
}

.poster-main {
	position: relative;
	margin: 260px auto;
}

.poster-main .poster-list .poster-item {
	position: absolute;
	left: 0;
	top: 0;
}

.poster-main .poster-btn {
	position: absolute;
	top: 0;
	cursor: pointer;
}

.poster-main .poster-prev-btn {
	left: 0;
	background: url("images/btn_l.png") no-repeat left center;
}

.poster-main .poster-next-btn {
	right: 0;
	background: url("images/btn_r.png") no-repeat right center;
}

.body {
	width: 100%;
}

.kongge {
	width: 40px;
}

.flexslider {
	position: relative;
	height: 1008px;
	overflow: hidden;
}

.slides {
	position: relative;
	z-index: 1;
}

.slides li {
	height: 1008px;
}

.hr1 {
	height: 4px;
}

.anli {
	margin: 0 auto;
	width: 70%;
	min-width: 1000px;
	height: 600px;
	overflow: hidden;
	margin-top: 50px;
}

.anli>div .left {
	float: left;
	width: 490px;
	height: 400px;
	margin-top: 0px;
}

.anli>div .left>ul {
	margin-left: 38px;
	width: 448px;
	overflow: hidden;
}

.anli>div .left>ul>li>img {
	border-bottom: 1px solid #d4cbc2;
	width: 548px;
	height: 448px;
}

.anli>div .right {
	float: right;
	width: 488px;
	height: 442px;
	margin-top: 0px;
	line-height: 180%;
}

.anli>div .right>ul>li {
	color: #434343;
	font-weight: bold;
}

.anli>div .right>ul>li>h2 {
	height: 30px;
	font-size: 24px;
	color: #FF8E01;
	margin-top: 30px;
	font-weight: bold;
}

.anli>div .right>ul>li .guanyu {
	color: #EC971F;
}

.anli>div .right>ul>li>p {
	font-size: 17px;
}

.anli2 {
	margin: 0 auto;
	width: 100%;
	min-width: 1000px;
	height: 700px;
	overflow: hidden;
	margin-top: 50px;
}

.anli2>div .top1 {
	width: 100%;
	height: 240px;
	margin-top: 0px;
	line-height: 180%;
}

.anli2>div .top1>ul>li {
	color: #434343;
	font-weight: bold;
}

.anli2>div .top1>ul>li>h3 {
	text-align: center;
	font-weight: bold;
	color: #FF8E01;
}
.anli2>div .top1>ul>li>p {
	margin-top: 10px;
	font-size: 17px;
}

.anli2>div .bottom1 {
	width: 1000px;
	height: 600px;
	margin-top: -20px;
}

.anli2>div .bottom1>ul {
	margin-left: 38px;
	width: 100%;
	overflow: hidden;
}

.anli3 {
	margin: 30px auto;
	width: 100%;
	min-width: 1550px;
	height: 500px;
}


.rongyu {
	width: 80%;
	text-align: center;
	margin-left: 150px;
	height: 150px;
}

.rongyu ul li img {
	width: 250px;
	float: left;
	margin-left: 50px;
	margin-top: 10px;
}

.fazhan .zhuti {
	width: 100%;
	text-align: center;
	margin-top: 100px;
}


.dibu11{
	width: 80%;
	height: 300px;
	margin: 0 auto;
	}
.dibu22 ul{
	text-align: center;
}
.dibu22 ul>li>img {
	text-align: center;
	float: left;
	width: 150px;
	margin-left: 50px;
	
}
#head11{
	margin-left: 200px;
}
#margn-left-no {
	margin-left: 0px;
}

.first1 {
	margin-left: 0px;
}

.shang1 {
	margin-top: -200px;
}

.picMarquee-left {
	width: 1000px;
	overflow: hidden;
	position: relative;
	border: 0px solid #ccc;
}

.picMarquee-left .hd {
	overflow: hidden;
	height: 30px;
	background: #f4f4f4;
	padding: 0 10px;
}

.picMarquee-left .hd .prev,
.picMarquee-left .hd .next {
	display: block;
	width: 5px;
	height: 9px;
	float: right;
	margin-right: 5px;
	margin-top: 10px;
	overflow: hidden;
	cursor: pointer;
	background: url("../images/arrow.png") no-repeat;
}

.picMarquee-left .hd .next {
	background-position: 0 -50px;
}

.picMarquee-left .hd .prevStop {
	background-position: -60px 0;
}

.picMarquee-left .hd .nextStop {
	background-position: -60px -50px;
}

.picMarquee-left .bd {
	padding: 10px;
}

.picMarquee-left .bd ul {
	overflow: hidden;
	zoom: 1;
}

.picMarquee-left .bd ul li {
	margin: 0 8px;
	float: left;
	_display: inline;
	overflow: hidden;
	text-align: center;
}

.picMarquee-left .bd ul li .pic {
	text-align: center;
}

.picMarquee-left .bd ul li .pic img {
	width: 1000px;
	height: 600px;
	display: block;
	padding: 2px;
	border: 1px solid #ccc;
}

.picMarquee-left .bd ul li .pic a:hover img {
	border-color: #999;
}

.picMarquee-left .bd ul li .title {
	line-height: 24px;
}


/*  
	右侧联系栏
	 
*/

.picScroll-left {
	width: 450px;
	overflow: hidden;
	position: relative;
	border: 1px solid #ccc;
}

.picScroll-left .hd {
	overflow: hidden;
	height: 30px;
	background: #f4f4f4;
	padding: 0 10px;
}

.picScroll-left .hd .prev,
.picScroll-left .hd .next {
	display: block;
	width: 5px;
	height: 9px;
	float: right;
	margin-right: 5px;
	margin-top: 10px;
	overflow: hidden;
	cursor: pointer;
	background: url("images/arrow.png") no-repeat;
}

.picScroll-left .hd .next {
	background-position: 0 -50px;
}

.picScroll-left .hd .prevStop {
	background-position: -60px 0;
}

.picScroll-left .hd .nextStop {
	background-position: -60px -50px;
}

.picScroll-left .hd ul {
	float: right;
	overflow: hidden;
	zoom: 1;
	margin-top: 10px;
	zoom: 1;
}

.picScroll-left .hd ul li {
	float: left;
	width: 9px;
	height: 9px;
	overflow: hidden;
	margin-right: 5px;
	text-indent: -999px;
	cursor: pointer;
	background: url("images/icoCircle.gif") 0 -9px no-repeat;
}

.picScroll-left .hd ul li.on {
	background-position: 0 0;
}

.picScroll-left .bd {
	padding: 10px;
}

.picScroll-left .bd ul {
	overflow: hidden;
	zoom: 1;
}

.picScroll-left .bd ul li {
	margin: 0 8px;
	float: left;
	_display: inline;
	overflow: hidden;
	text-align: center;
}

.picScroll-left .bd ul li .pic {
	text-align: center;
}

.picScroll-left .bd ul li .pic img {
	width: 120px;
	height: 90px;
	display: block;
	padding: 2px;
	border: 1px solid #ccc;
}

.picScroll-left .bd ul li .pic a:hover img {
	border-color: #999;
}

.picScroll-left .bd ul li .title {
	line-height: 24px;
}


/*
 * 发展时间轴
 */

.fl {
	float: left
}

.fr {
	float: right
}


/* history */

.history {
	width: 100%;
	height: 2200px;
	position: relative;
	background: url("../images/history_bg.png") center no-repeat
}

.start-history {
	width: 1000px;
	height: 2200px;
	margin: 30px auto;
	text-align: center;
	background: url("../images/history_start.png") no-repeat top center;
	display: block
}

.cc_history {
	color: #2b2b2b;
	font-size: 36px;
	font-weight: 400;
	display: block;
	padding-top: 43px
}

.next_history {
	color: #bbb;
	font-size: 26px;
	width: 160px;
	margin: 0 auto;
	border-bottom: 1px solid #d1d1d1
}

.history-img {
	height: 2050px;
	width: 130px;
	overflow: hidden;
	float: left;
	margin-top: 24px;
	margin-left: 8px
}

.history_mid {
	width: 1000px;
	height: auto;
	margin: 0 auto;
	background: 0
}

.history_left {
	width: 431px;
	height: 2050px;
	float: left;
	clear: left;
	position: relative;
	overflow: hidden
}

.history_right {
	width: 431px;
	height: 2050px;
	float: left;
	position: relative;
	overflow: hidden
}

.history_R {
	width: 420px;
	height: 150px;
	margin-left: 500px
}

.history_L {
	width: 420px;
	height: 150px;
	float: right;
	margin-right: 500px
}

.history_r_2005 {
	margin-top: 157px
}

.history_2007 {
	width: 420px;
	height: 150px;
	background: #FFF;
	margin-top: 73px
}

.history_2005_span {
	float: left;
	line-height: 100px;
	font-size: 42px;
	color: #d43434
}

.history_2005_b {
	width: 280px;
	height: 58px;
	float: left;
	margin-top: 21px;
	background: url("../images/sprites.png") center;
	background-position: 0 -1300px
}

.history_r_month {
	float: left;
	color: #FFF;
	display: block;
	width: 30px;
	line-height: 25px;
	height: 58px;
	border-right: 1px solid #FFF;
	margin-left: 25px
}

.history_r_text {
	float: left;
	font-size: 14px;
	color: #FFF;
	display: block;
	height: 58px;
	line-height: 25px;
	padding-left: 5px;
	text-align: left
}

.year2006 {
	margin-top: 242px
}

.year2009 {
	margin-top: 65px
}

.year2011 {
	margin-top: 53px
}

.year211 {
	margin-top: 43px
}

.year2013 {
	margin-top: 62px
}

.yearalmost {
	margin-top: 73px
}

.yearalmostr {
	margin-top: 70px
}

.history_2008 {
	width: 420px;
	height: 100px;
	background: #FFF;
	margin-top: 73px;
	float: right
}

.history_2011 {
	width: 420px;
	height: 100px;
	background: #FFF;
	margin-top: 43px;
	float: right
}

.history_2006_span {
	float: right;
	line-height: 100px;
	font-size: 42px;
	color: #d43434
}

.history_2006_b {
	width: 280px;
	height: 58px;
	float: right;
	margin-top: 21px;
	background: url("../images/sprites.png") center;
	background-position: 0 -1200px
}

.blue {
	background-position: 0 -1400px!important
}

.blue_R {
	background-position: 0 -1500px!important
}

.yellow {
	background-position: 0 -1600px!important
}

.yellow_R {
	background-position: 0 -1700px!important
}

.history_l_month {
	float: right;
	color: #FFF;
	display: block;
	width: 30px;
	line-height: 25px;
	height: 58px;
	border-left: 1px solid #FFF;
	margin-right: 37px
}

span.blue {
	color: #37779d
}

span.yellow {
	color: #f76d02
}

.history_l_text {
	float: left;
	font-size: 14px;
	color: #FFF;
	display: block;
	height: 58px;
	line-height: 25px;
	padding-top: 3px;
	width: 202px;
	text-align: right;
	padding-right: 5px
}

.smalltext {
	font-size: 12px;
	line-height: 18px
}

.smalltxt {
	font-size: 12px
}
.img3 ul>li>img {
	float: left;
	width: 300px;
	margin-left: 40px;
}
.img4{
	margin-left: -80px;
}
.img4 ul>li>img {
	float: left;
	width: 200px;
	margin-left: 80px;
}
.img4 ul>li>img:hover{
	border: 1px solid #FF6C9E;
}

/*
 * 荣誉资质
 */

.content {
	padding: 0 5px;
	width: 920px;
	background: #FFFFFF;
	margin: 50px auto;
}


/*主要用来美化样式*/

#scrollpic {
	position: relative;
	height: 166px;
	width: 930px;
	overflow: hidden;
}

#prev,
#next {
	display: block;
	height: 166px;
	width: 250px;
	background: #FFFFFF;
	position: absolute;
	top: 0;
	opacity: 0;
	z-index: 10;
}

#prev {
	left: 0;
}
#next {
	right: 0;
}

#scrollpic ul {
	position: absolute;
	height: 166px;
}

#scrollpic ul li {
	float: left;
	padding: 5px;
	height: 156px;
	width: 220px;
}

#scrollpic ul li img {
	width: 215px;
	height: 156px;
}
.beijin1{
	background-image: url(../../images/qietu/fazhanlicheng/1.png);
	width: 170px;
	height: 240px;
	margin-left: 20px;
}

.beijin1:hover{
	background-image: url(../../images/qietu/fazhanlicheng/01.png);
}
#p2{
	
}
.beijin2{
	background-image: url(../../images/qietu/fazhanlicheng/2.png);
	width: 170px;
	height: 240px;
	margin-left: 20px;
	margin-top: 380px;
}

.beijin2:hover{
	background-image: url(../../images/qietu/fazhanlicheng/02.png);
}
.beijin3{
	background-image: url(../../images/qietu/fazhanlicheng/3.png);
	width: 170px;
	height: 240px;
	margin-left: 20px;
}

.beijin3:hover{
	background-image: url(../../images/qietu/fazhanlicheng/03.png);
}
.beijin4{
	background-image: url(../../images/qietu/fazhanlicheng/4.png);
	width: 170px;
	height: 240px;
	margin-left: 20px;
	margin-top: 380px;
}

.beijin4:hover{
	background-image: url(../../images/qietu/fazhanlicheng/04.png);
}
.beijin5{
	background-image: url(../../images/qietu/fazhanlicheng/5.png);
	width: 170px;
	height: 240px;
	margin-left: 20px;
}

.beijin5:hover{
	background-image: url(../../images/qietu/fazhanlicheng/05.png);
}
.beijin6{
	background-image: url(../../images/qietu/fazhanlicheng/6.png);
	width: 170px;
	height: 240px;
	margin-left: 20px;
	margin-top: 380px;
}

.beijin6:hover{
	background-image: url(../../images/qietu/fazhanlicheng/06.png);
}
.beijin7{
	background-image: url(../../images/qietu/fazhanlicheng/7.png);
	width: 170px;
	height: 240px;
	margin-left: 20px;
}

.beijin7:hover{
	background-image: url(../../images/qietu/fazhanlicheng/07.png);
}
.beijin8{
	background-image: url(../../images/qietu/fazhanlicheng/8.png);
	width: 170px;
	height: 240px;
	margin-left: 20px;
	margin-top: 380px;
}

.beijin8:hover{
	background-image: url(../../images/qietu/fazhanlicheng/08.png);
}
.beijin9{
	background-image: url(../../images/qietu/fazhanlicheng/9.png);
	width: 170px;
	height: 240px;
	margin-left: 20px;
}

.beijin9:hover{
	background-image: url(../../images/qietu/fazhanlicheng/09.png);
}
.beijin10{
	background-image: url(../../images/qietu/fazhanlicheng/10.png);
	width: 170px;
	height: 240px;
	margin-left: 20px;
	margin-top: 380px;
}

.beijin10:hover{
	background-image: url(../../images/qietu/fazhanlicheng/010.png);
}