<dl>

    <dd class="consult">
        <span>在线咨询</span>
        <div class="floating_left">
            <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=1301841354&amp;site=qq&amp;menu=yes&amp;from=message&amp;isappinstalled=0">在线咨询</a>
        </div>
    </dd>

    <dd class="words">
        <span>在线留言</span>
        <div class="floating_left">
            <a href="##">问题在线留言</a>
        </div>
    </dd>

    <dd class="qrcord">
        <span>扫一扫</span>
        <div class="floating_left floating_ewm">
            <i></i>
            <p class="qrcord_p01">扫一扫<br>关注橘子情感</p>
            <p class="qrcord_p02">全国免费服务热线<br><b>4006-299-520<b></p>
        </div>
    </dd>

    <dd class="return">
        <span onClick="gotoTop(0.1, 0.1);return false;">返回顶部</span>
    </dd>

</dl>