<!DOCTYPE html>
<html style="width: 100%; min-width: 1200px;">
<head lang="zh-CN">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equivmetahttp-equiv="x-ua-compatible" content="IE=7" />
    <title>嘉伟导师十本好书推荐 | 橘子情感</title>
    <meta name="msapplication-tap-highlight" content="no" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta
      name="keywords"
      content="嘉伟导师十本好书推荐, 心理学与生活, 爱的艺术,  爱情心理学"/>
    <meta name="description" content="橘子情感，您身边的爱情指导挽回专家！"/>
	  <link rel="shortcut icon" href="../img/ora.jpg" type="image/x-icon">
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/head.css" />
    <link rel="stylesheet" href="../css/foot.css" />
    <link rel="stylesheet" href="../css/lianxi.css" />
    <link rel="stylesheet" href="../css/index.css" />
    <link rel="stylesheet" href="../css/anniu/anniu1.css" />
    <link rel="stylesheet" href="../css/forum-book.css">
    <link rel="stylesheet" href="../css/title.css">
    <script type="text/javascript" src="../js/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
</head>

	<body>

		<!-- 页面头部 -->
		<header style="width: 100%; min-width: 1200px;">
			<div class="inner">
				<div class="pull-left">
					<img src="../img/index/logo-word.jpg" alt="橘子情感--logo" class="img-responsive">
				</div>
				<div class="pull-right">
					<div class="icon">
						<div class="qrcode-wechat">
							<img src="../img/index/icon-wechat-red.jpg" alt="橘子情感--微信二维码">
						</div>
						<div class="num-phone">
							<img src="../img/index/icon-phone-red.jpg" alt="橘子情感--热线电话">
						</div>
					</div>
					<div class="txt">
						<p>官方二维码</p>
						<p>免费情感热线电话</p>
						<p>4006-299-520</p>
					</div>
				</div>
				<div class="wechat">
					<img src="../img/index/erwei.jpg" alt="橘子情感--微信二维码">
				</div>
			</div>
		</header>
		<!-- /页面头部 -->

		<!-- 右侧菜单 -->
		<div class="yb_conct">
			<div class="yb_bar">
				<ul>
					<li class="yb_top">返回顶部</li>
					<li class="yb_phone">4006-299-520</li>
					<li class="yb_QQ">
						<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=2587052723&amp;site=qq&amp;menu=yes&amp;from=message&amp;isappinstalled=0" title="即刻发送您的需求">在线咨询</a>
					</li>
					<li class="yb_ercode" style="height:53px;">微信公众号 <br>
						<img class="hd_qr" src="../img/index/weixin.gif" width="180" alt="橘子情感--微信公众号">
					</li>
				</ul>
			</div>
		</div>
		<!-- /右侧菜单 -->

		<!-- 导航菜单-->
		<div class="nav">
			<div class="inner text-center">
				<ul class="nav-block">
					<li>
						<a href="../index.html">橘子首页</a>
					</li>
					<li>
						<a href="../save-love.html">挽回爱情</a>
					</li>
					<li>
						<a href="../save-marriage.html">挽救婚姻</a>
					</li>
					<li>
						<a href="../separate-mistress.html">分离小三</a>
					</li>
					<li>
						<a href="../custom-love.html">定制爱情</a>
					</li>
					<li>
						<a href="../emotion-forum.html">情感课堂</a>
					</li>
					<li>
						<a href="../focus-team.html">权威专家</a>
					</li>
					<li>
						<a href="../course.html">课程介绍</a>
					</li>
					<li class="no">
						<a href="../about-us.html">关于我们</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- /导航菜单 -->

		<!-- 公共轮播图 -->
		<div class="banner"></div>
		<!-- /公共轮播图 -->

		<!-- 二级菜单 -->
		<div class="nav1">
			<div class="inner text-center">
				<ul>
					<li>
						<span><a href="focus-team.html">优质专家团队</a></span>
					</li>
					<li>
						<span><a href="about-us.html">多对一指导</a></span>
					</li>
					<li>
						<span><a href="custom-love.html">个性化挽回方案</a></span>
					</li>
					<li>
						<span><a href="course.html">全程式服务</a></span>
					</li>
				</ul>
			</div>
		</div>
		<!-- /二级菜单 -->

		<!-- 子页面主体区域 -->
		<div class="child-page">

			<!-- 模块一：嘉伟导师十本好书推荐 -->
			<div class="module module-01">

				<!-- 模块一标题 -->
        <div class="module-title">
          <div class="module-title-line"></div>
          <div class="module-title-txt text-center">
            <h2>
              <span class="module-title-txt-icon"></span>
              嘉伟导师十本好书推荐
              <span class="module-title-txt-icon"></span>
            </h2>
            <p>Jawai ten books recommended tutor</p>
          </div>
        </div>
				<!-- <div class="module-title">
					<div class="line"></div>
					<div class="txt text-center">
						<h2>嘉伟导师十本好书推荐</h2>
						<p>Kawai ten books recommended tutor</p>
					</div>
				</div> -->
				<!-- /模块一标题 -->

				<!-- 模块一主体 -->
				<div class="main">
					<div class="para">
						<p>
							多读书，读好书，毋庸置疑是人进步的阶梯。在我们的企业当中，所有情感导师、情感分析师、运营人员、文案编辑等， 甚至几乎所有岗位的员工，都有着经常阅读、研究的良好学习氛围。而公司的读书角，也是大家工作闲暇时间，待的最多的地方。
						</p>
						<p>
							此次，我们整理出来10本，比较基础且有代表性的书籍，也是相对更能够对你有帮助，让你有收获的。以心理学为主， 延伸至两性情感交往的方方面面，也是我们新员工入职的基础培训教材之一。
						</p>
						<p>
							虽然在导师的辅导之下，已经能够足够高效的解决你几乎所有情感问题，但是学海无涯，希望在导师们解决了你的“急症”的 情况之下，你也能够静下心来，去主动学习和思考，这对你今后的感情、社交、工作等，都会有所改变。
						</p>
					</div>
					<div class="book-list">
						<div class="item">
							<div class="left-pic"><img src="../img/views/book01.jpg" alt="嘉伟导师十本好书推荐"></div>
							<div class="right-txt">
								<p class="topic">1.《心理学与生活》 作者：津巴多 </p>
								<p class="des">
									最经典最基础的心理学书籍，“十一五”国家级规划教材， 也是美国斯坦福大学多年来使用的教材。由浅入深，教给你如何在心理方面，给自己在生活中一个良好的定位。
								</p>
							</div>
						</div>
						<div class="item">
							<div class="left-pic"><img src="../img/views/book02.jpg" alt="嘉伟导师十本好书推荐"></div>
							<div class="right-txt">
								<p class="topic">2.《爱的艺术》 作者：艾.弗洛姆</p>
								<p class="des">
									必读书籍，让你有更好的感悟和收获。爱情是一种积极的，而不是消极的情绪， 是人内心生长的东西，而不是被俘虏的情绪。
								</p>
							</div>
						</div>
						<div class="item">
							<div class="left-pic"><img src="../img/views/book03.jpg" alt="嘉伟导师十本好书推荐"></div>
							<div class="right-txt">
								<p class="topic">3. 《情商:为什么情商比智商更重要》 作者：丹尼尔.戈尔曼</p>
								<p class="des">
									经典作家的经典之作。爱情心理学是研究男女恋爱中的心理现象及其发生与发展规律的科学，即探讨男女在恋爱、婚姻中，爱情的获得及稳固的心理规律，包括恋爱心理和婚姻心理两部分。
								</p>
							</div>
						</div>
						<div class="item">
							<div class="left-pic"><img src="../img/views/book04.jpg" alt="嘉伟导师十本好书推荐"></div>
							<div class="right-txt">
								<p class="topic">4.《爱情心理学》 作者：罗伯特.J.斯腾伯格</p>
								<p class="des">
									很多学员，智商不低，但情商，尤其是两性方面的情商真的堪忧。智商即命运吗？其实智商并没有我们想象的那样重要。《情商》不仅打破了长久以来智商的天生决定论，更为心理学界探讨已久的“情绪智慧”问题提出关键性的解释。
								</p>
							</div>
						</div>
						<div class="item">
							<div class="left-pic"><img src="../img/views/book05.jpg" alt="嘉伟导师十本好书推荐"></div>
							<div class="right-txt">
								<p class="topic">5.《性学与爱情心理学》 作者：弗洛伊德</p>
								<p class="des">
									这是一本弗洛伊德的论文集，主要包括《性学三论》、《儿童的性理论》、《爱情心理学》、《无意识》等论文。 从性这一基础的两性核心理论出发，让你更清晰的认识到性学和爱情的关系。
								</p>
							</div>
						</div>
						<div class="item">
							<div class="left-pic"><img src="../img/views/book06.jpg" alt="嘉伟导师十本好书推荐"></div>
							<div class="right-txt">
								<p class="topic">6.《人生困境整理术》 作者：李子勋</p>
								<p class="des">
									很多问题，不仅仅是情感本身，而是由情感问题的困扰，导致心态崩溃，而延伸出很多次生问题。 在生活的方方面面，都困扰着你。这本书，能够更全面的，来帮助你走出困境。
								</p>
							</div>
						</div>
						<div class="item">
							<div class="left-pic"><img src="../img/views/book07.jpg" alt="嘉伟导师十本好书推荐"></div>
							<div class="right-txt">
								<p class="topic">7.《发展心理学》 作者：林崇德</p>
								<p class="des">
									讲述了一个人从受精卵开始，直至死亡的整个生命过程中，所以的心理发展。很多人在爱情中，目的性太强， 能够静下心来，看一下这本书，会让你对生命、人生、有一个更深刻的认识。
								</p>
							</div>
						</div>
						<div class="item">
							<div class="left-pic"><img src="../img/views/book08.jpg" alt="嘉伟导师十本好书推荐"></div>
							<div class="right-txt">
								<p class="topic">8.《社会心理学》 作者：章志光</p>
								<p class="des">
									人是社会动物，只要是在这个社会上生活，总要有一本行为指南。你的思维， 决定着你的行为，而你的行为会直接导致他人对你的看法和定位。
								</p>
							</div>
						</div>
						<div class="item">
							<div class="left-pic"><img src="../img/views/book09.jpg" alt="嘉伟导师十本好书推荐"></div>
							<div class="right-txt">
								<p class="topic">9.《咨询心理学》 作者：乐国安</p>
								<p class="des">
									通过反向思维阅读，更加了解自身的当下心理状态，更好的找到心态问题。更好的与人沟通， 更好的懂得如何疏导、分析问题，你也可以做到心理学入门。
								</p>
							</div>
						</div>
						<div class="item">
							<div class="left-pic"><img src="../img/views/book10.jpg" alt="嘉伟导师十本好书推荐"></div>
							<div class="right-txt">
								<p class="topic">10.《异常心理学》 作者：詹姆斯.布彻</p>
								<p class="des">
									部分人多多少少存在心理病理性人格，甚至轻微性变态，存在问题，该正视而不是逃避。 正视自身的某些问题，或者多去了解一些问题，知识面的扩充带来的从来不是消极的影响。
								</p>
							</div>
						</div>
					</div>
				</div>
				<!-- 模块一主体 -->

			</div>
			<!-- /模块一：嘉伟导师十本好书推荐 -->

		</div>
		<!-- /子页面主体区域 -->

		<!-- 页面底部 -->
		<footer>
			<div class="inner">
				<div class="triangle">
					<div class="triangle-outer"></div>
					<div class="triangle-inner"></div>
				</div>
				<div class="main">
					<div class="footer-logo left"></div>
					<div class="txt mid">
						<div class="footer-top">
							<span class="icon phone footer-mid-left">
                                            <img src="../img/index/icon-phone-red.png" alt="热线电话">
                                        </span>
							<span class="txt footer-mid-right">
                                            <p class="phone-txt">橘子情感热线</p>
                                            <p class="phone-num">4006-299-520</p>
                                    </span>
						</div>
						<div class="bot">
							<div class="left pull-left">
								<p>橘子微信公众平台：<span class="wechat-num">juziqinggan</span></p>
								<p>青岛橘子创想文化传播有限公司</p>
							</div>
							<div class="right pull-right">
								<p>公司地址：<span class="address">青岛市市南区银川西路 67 号动漫产业园 A 座 212B</span></p>
								<p>备案号：<span class="record-num">鲁 ICP 备 17023741 号</span></p>
							</div>
						</div>
					</div>
					<div class="icon qrcode text-center">
						<div class="qrcode right"></div>
						<span class="txt">扫一扫关注我们</span>
					</div>
				</div>
			</div>
		</footer>
		<!-- /页面底部 -->

		<script type="text/javascript" src="../js/common.js"></script>
		<!-- 引入 json 数据 -->
		<script type="text/javascript" src="js/json/json.js"></script>

	</body>

</html>
