<!DOCTYPE html>
<html>

	<head lang="zh-CN">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta http-equivmetahttp-equiv="x-ua-compatible" content="IE=7" />
		<title>橘子情感 - 导师介绍</title>
		<meta name="msapplication-tap-highlight" content="no" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content=橘子情感/>
		<meta name="description" content=橘子情感/>
		<link rel="shortcut icon" href="../img/ora.jpg" type="image/x-icon">
		<link rel="stylesheet" href="../css/bootstrap.min.css" />
		<link rel="stylesheet" href="../css/head.css" />
		<link rel="stylesheet" href="../css/foot.css" />
		<link rel="stylesheet" href="../css/lianxi.css" />
		<link rel="stylesheet" href="../css/index.css" />
		<link rel="stylesheet" href="../css/anniu/anniu1.css" />
		<link rel="stylesheet" href="../css/page-less.css">
		<script type="text/javascript" src="../js/jquery-3.1.0.min.js"></script>
		<script type="text/javascript" src="../js/bootstrap.min.js"></script>
	</head>

	<body>

		<!-- 页面头部 -->
		<header>
			<div class="inner">
				<div class="pull-left">
					<img src="../img/index/logo-word.jpg" alt="logo" class="img-responsive">
				</div>
				<div class="pull-right">
					<div class="icon">
						<div class="qrcode-wechat">
							<img src="../img/index/icon-wechat-red.jpg" alt="微信二维码">
						</div>
						<div class="num-phone">
							<img src="../img/index/icon-phone-red.jpg" alt="热线电话">
						</div>
					</div>
					<div class="txt">
						<p>官方二维码</p>
						<p>免费情感热线电话</p>
						<p>4006-299-520</p>
					</div>
				</div>
				<div class="wechat">
					<img src="../img/index/erwei.jpg" alt="微信二维码">
				</div>
			</div>
		</header>
		<!-- /页面头部 -->

		<!-- 右侧菜单 -->
		<div class="yb_conct">
			<div class="yb_bar">
				<ul>
					<li class="yb_top">返回顶部</li>
					<li class="yb_phone">4006-299-520</li>
					<li class="yb_QQ">
						<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1301841354&amp;site=qq&amp;menu=yes&amp;from=message&amp;isappinstalled=0" title="即刻发送您的需求">在线咨询</a>
					</li>
					<li class="yb_ercode" style="height:53px;">微信公众号 <br>
						<img class="hd_qr" src="../img/index/weixin.gif" width="180" alt="">
					</li>
				</ul>
			</div>
		</div>
		<!-- /右侧菜单 -->

		<!-- 导航菜单-->
		<div class="nav">
			<div class="inner text-center">
				<ul class="nav-block">
					<li>
						<a href="../index.html">橘子首页</a>
					</li>
					<li>
						<a href="../save-love.html">挽回爱情</a>
					</li>
					<li>
						<a href="../save-marriage.html">挽救婚姻</a>
					</li>
					<li>
						<a href="../separate-mistress.html">分离小三</a>
					</li>
					<li>
						<a href="../custom-love.html">定制爱情</a>
					</li>
					<li>
						<a href="../emotion-forum.html">情感课堂</a>
					</li>
					<li>
						<a href="../focus-team.html">权威专家</a>
					</li>
					<li>
						<a href="../course.html">课程介绍</a>
					</li>
					<li class="no">
						<a href="../about-us.html">关于我们</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- /导航菜单 -->

		<!-- 公共轮播图 -->
		<div class="banner"></div>
		<!-- /公共轮播图 -->

		<!-- 二级菜单 -->
		<div class="nav1">
			<div class="inner text-center">
				<ul>
					<li>
						<span><a href="focus-team.html">优质专家团队</a></span>
					</li>
					<li>
						<span><a href="about-us.html">多对一指导</a></span>
					</li>
					<li>
						<span><a href="custom-love.html">个性化挽回方案</a></span>
					</li>
					<li>
						<span><a href="course.html">全程式服务</a></span>
					</li>
				</ul>
			</div>
		</div>
		<!-- /二级菜单 -->

		<!-- 子页面主体区域 -->
		<div class="child-page">

			<div class="module module-01">

				<!-- 模块一标题 -->
				<div class="module-title">
					<div class="line"></div>
					<div class="txt text-center">
						<h2>导师简介</h2>
						<p>supervisor profile</p>
					</div>
				</div>
				<!-- /模块一标题 -->

				<!-- 模块一主体 -->
				<div class="main">

					<!-- 导师图片 -->
					<div class="pic">
						<img src="../img/views/03.jpg" alt="">
					</div>

					<!-- 导师介绍 -->
					<div class="para">
						<div class="content">
							<div class="mentor mentor-intro">
								<p class="name title">浩宇导师：</p>
								<p class="intro">
									国家二级心理咨询师，长期关系维护专家，资深情感导师，真命狙击专家，实战约会专家
								</p>
							</div>
							<div class="mentor mentor-des">
								<p class="title">导师简介：</p>
								<p class="para">
									擅长长期关系状态维护，狙击目标。在自身操作，以及带队指导学员狙击真命方面，成功率常年保持在95%以上。 极其擅长引导对方深层次沟通，引导对方情绪。其《阶梯式攻心法则》、《爱情催眠术》等理论， 适用于几乎所有高难度案例。
								</p>
							</div>
							<div class="mentor mentor-say">
								<p class="title">导师寄语：</p>
								<p class="para">
									因为每一次爱情都是刻骨铭心的，但是实际和幻想的偏差，是很多人一生无法逾越的鸿沟。你缺乏的不是缘分， 而是方法。
								</p>
							</div>
						</div>
						<div class="box-line"></div>
					</div>

				</div>
				<!-- /模块一主体 -->

			</div>

		</div>
		<!-- /子页面主体区域 -->

		<!-- 页面底部 -->
		<footer>
			<div class="inner">
				<div class="triangle">
					<div class="triangle-outer"></div>
					<div class="triangle-inner"></div>
				</div>
				<div class="main">
					<div class="footer-logo left"></div>
					<div class="txt mid">
						<div class="footer-top">
							<span class="icon phone footer-mid-left">
                                            <img src="../img/index/icon-phone-red.png" alt="热线电话">
                                        </span>
							<span class="txt footer-mid-right">
                                            <p class="phone-txt">橘子情感热线</p>
                                            <p class="phone-num">4006-299-520</p>
                                    </span>
						</div>
						<div class="bot">
							<div class="left pull-left">
								<p>橘子微信公众平台：<span class="wechat-num">juziqinggan</span></p>
								<p>青岛橘子创想文化传播有限公司</p>
							</div>
							<div class="right pull-right">
								<p>公司地址：<span class="address">青岛市市南区银川西路 67 号动漫产业园 A 座 212B</span></p>
								<p>备案号：<span class="record-num">鲁 ICP 备 17023741 号</span></p>
							</div>
						</div>
					</div>
					<div class="icon qrcode text-center">
						<div class="qrcode right"></div>
						<span class="txt">扫一扫关注我们</span>
					</div>
				</div>
			</div>
		</footer>
		<!-- /页面底部 -->

		<script type="text/javascript" src="../js/common.js"></script>
		<!-- 引入 json 数据 -->
		<script type="text/javascript" src="js/json/json.js"></script>

	</body>

</html>