.module{
	width: 100%;
}
.module .main{
	/*width: 94%;*/
	margin: 0 auto;
}
.module .main h2{
	font-size: .4rem;
	color: #FF3232;
	text-align: center;
	padding-top: .2rem;
	margin-bottom: .2rem;
}
.module .main p{
	line-height: .4rem;
	font-size: .26rem;
	height: 100%;
	text-indent: .52rem;
	margin: .2rem;
}

.module .main img{
	margin: 0 auto;
	padding-left: 14%;
	margin-top: .1rem;
}
/*.module .main .img-center {
	display: flex;
	justify-content: center;
	align-items: center;
}*/
/*.module .main .img-center img {
	padding: 0;
	margin: 0 auto;
}*/
.module .main>div{
	margin-left: .3rem;
    padding-top: .18rem;
    width: 100%;
    height: .51rem;
    margin-top: .2rem;
    margin-bottom: .2rem;
    line-height: .6rem;
    font-size: .32rem;
    font-weight: bold;
    color: #434343;
}
.module .main>div .hong{
	height: .15rem;
	width: .1rem;
	background-color: #FF3232;
	float: left;
	margin-right: .1rem;
	padding-top: .4rem;
}
.module .main h3{
	font-size: .36rem;
	margin-top: .2rem;
	margin-bottom: .2rem;
	height: 100%;
}
.module .main h4{
	font-size: .28rem;
	text-align: center;
	margin-top: .2rem;
	margin-bottom: .1rem;
	height: 100%;
}

.module .main h5{
	font-size: .32rem;
	margin-top: .1rem;
	margin-bottom: .2rem;
	height: 100%;
	text-indent: .64rem;
}
.module .main hr{
	width: 100%;
	color: #CCCCCC;
}
