@import "swiper/swiper.css";


/** End back to home */


/** Start nav list */

.nav-list .icon-txt-group {
	display: flex;
	justify-content: space-around;
	padding-top: .33rem;
	padding-left: .2rem;
	padding-right: .2rem;
}

.nav-list .icon-txt-group .item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.nav-list .icon-txt-group .item .icon {
	-webkit-background-size: contain;
	background-size: contain;
	width: 1.58rem;
	height: 1.58rem;
}

.nav-list .icon-txt-group:nth-child(1) .item:nth-child(1) .icon {
	background: url("../images/index/preface-icon-top-01.png") no-repeat center center;
}

.nav-list .icon-txt-group:nth-child(1) .item:nth-child(2) .icon {
	background: url("../images/index/preface-icon-top-02.png") no-repeat center center;
}

.nav-list .icon-txt-group:nth-child(1) .item:nth-child(3) .icon {
	background: url("../images/index/preface-icon-top-03.png") no-repeat center center;
}

.nav-list .icon-txt-group:nth-child(1) .item:nth-child(4) .icon {
	background: url("../images/index/preface-icon-top-04.png") no-repeat center center;
}

.nav-list .icon-txt-group:nth-child(2) .item:nth-child(1) .icon {
	background: url("../images/index/preface-icon-bot-01.png") no-repeat center center;
}

.nav-list .icon-txt-group:nth-child(2) .item:nth-child(2) .icon {
	background: url("../images/index/preface-icon-bot-02.png") no-repeat center center;
}

.nav-list .icon-txt-group:nth-child(2) .item:nth-child(3) .icon {
	background: url("../images/index/preface-icon-bot-03.png") no-repeat center center;
}

.nav-list .icon-txt-group:nth-child(2) .item:nth-child(4) .icon {
	background: url("../images/index/preface-icon-bot-04.png") no-repeat center center;
}

.nav-list .icon-txt-group .item p {
	font-size: .28rem;
	line-height: .25rem;
}


/** End nav list */


/** Start module 01 area: introduction*/

.module-01 .main {
	background: url("../images/index/module01-bg.png") no-repeat center center;
	-webkit-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 4.86rem;
}

.module-01 .main p {
	line-height: .4rem;
	padding: 0 .22rem;
	margin: 0 auto;
}

.module-01 .main p:first-child {
	padding-top: .23rem;
	padding-bottom: .39rem;
}


/** End module 01 area: introduction */


/** Start module 02 area */

.module-02 .main .row {
	display: flex;
	justify-content: center;
	padding: 0 .15rem;
}

.module-02 .main .row img {
	padding: .07rem;
	width: 3.47rem;
	height: 2.13rem;
}


/** End module 02 area */


/** Start module 03 area */

.container {
	margin: 0 auto;
}

.slide {
	width: 100%;
	min-height: 1.8rem;
	overflow: hidden;
	position: relative;
}

.slide .img {
	overflow: hidden;
	position: absolute;
	transition: width 0.4s, height 0.4s, top 0.4s, left 0.4s, z-index 0.4s;
}

.slide .img img {
	width: calc(100% - .14rem);
	height: calc(100% - .14rem);
	margin: .07rem;
}

.slide .img1 {
	width: 50%;
	height: 45%;
	top: 30%;
	left: -50%;
	z-index: 1;
}

.slide .img2 {
	width: 70%;
	height: 65%;
	top: 20%;
	left: -10%;
	z-index: 2;
}

.slide .img3 {
	width: 90%;
	height: 85%;
	top: 10%;
	left: 5%;
	z-index: 3;
}
.slide .img4 {
	width: 70%;
	height: 65%;
	top: 20%;
	left: 80%;
	z-index: 2;
}

.slide .img5 {
	width: 50%;
	height: 45%;
	top: 30%;
	left: 110%;
	z-index: 1;
}

.slide-bt {
	position: absolute;
	left: 55%;
	bottom: 1%;
	z-index: 10;
}
.slide-bt span {
	width: .13rem;
	height: .13rem;
	background: #c9caca;
	float: left;
	z-index: 9999;
	margin: .05rem;
	border-radius: 50%;
}

.slide .slide-bt .on {
	background: #4F4F4F;
}


/** End module 03 area */


/** Start module 04 area */
.module-04 .main {
    width: 100%;
    background: #4b4947;

    padding-bottom: .55rem;

    overflow: hidden;
}
.module-04 .main .swiper-container {
    width: 100%;
}
.module-04 .main .banner-group {
    display: flex;
    justify-content: space-between;
}
.module-04 .main .banner-group .swiper-slide.banner-item {
    width: 100%;
}
.module-04 .main .banner-group .banner-item .title {
    display: flex;
    justify-content: flex-start;

    border-bottom: 2px solid #9f9d9e;
    width: 90%;
    margin: 0 auto;
}
.module-04 .main .banner-group .banner-item .title .txt-title {
    height: .46rem;
    line-height: .46rem;

    font-weight: bold;
}
.module-04 .main .banner-group .banner-item p {
    color: #fff;
}
.module-04 .main .banner-group .banner-item .txt-content {
    display: flex;

    width: 90%;
    margin: 0 auto;
    padding-top: .33rem;
    padding-bottom: .22rem;

    border-bottom: 2px solid #9f9d9e;
}
.module-04 .main .banner-group .banner-item .txt-content .column:first-child {
    width: 3.94rem;
    padding-right: .22rem;
}
.module-04 .main .banner-group .banner-item .txt-content .column:first-child p {
    line-height: .36rem;
}
.module-04 .main .banner-group .banner-item .txt-content .column:first-child .more {
    color: #ff0000;
}
.module-04 .main .banner-group .banner-item .txt-content .column:last-child img {
    width: 2.84rem;
    height: 1.73rem;
}

.module-04 .main .control {
    width: 100%;
    height: .4rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.module-04 .main .control .swiper-pagination-bullet {
    width: .13rem;
    height: .13rem;
    /*width: .13rem;*/
    /*height: .13rem;*/
    background: #9f9d9e;

    /*-webkit-border-radius: 50%;*/
    /*-moz-border-radius: 50%;*/
    /*border-radius: 50%;*/

    margin: 0 .06rem;
}
.module-04 .main .control .swiper-pagination-bullet-active {
    background: #fff;
}
.module-04 .main .control .circle.active {
    background: #fff;
}
/** End module 04 area */


/** Start module 05 area */

.module-05 .main {
	display: flex;
	justify-content: flex-start;
	background: url("../images/index/module05-bg.png") no-repeat center center;
	-webkit-background-size: contain;
	background-size: contain;
	width: 100%;
	height: 3.74rem;
}

.module-05 .main .column:first-child {
	width: 3.4rem;
	padding-left: .3rem;
}

.module-05 .main .column:last-child {
	padding-left: .64rem;
}

.module-05 .main .column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	padding: .37rem 0;
}

.module-05 .main .column .row {
	display: flex;
	justify-content: flex-start;
	height: .64rem;
	line-height: .64rem;
}

.module-05 .main .column .row .icon {
	display: inline-block;
	width: .64rem;
	height: .64rem;
	-webkit-background-size: cover;
	background-size: cover;
}

.module-05 .main .column .row:first-child .icon {
	background: url("../images/index/module05-icon01.png") no-repeat center center;
}

.module-05 .main .column .row:nth-child(2) .icon {
	background: url("../images/index/module05-icon02.png") no-repeat center center;
}

.module-05 .main .column .row:nth-child(3) .icon {
	background: url("../images/index/module05-icon03.png") no-repeat center center;
}

.module-05 .main .column .row:nth-child(4) .icon {
	background: url("../images/index/module05-icon04.png") no-repeat center center;
}

.module-05 .main .column .row:nth-child(5) .icon {
	background: url("../images/index/module05-icon05.png") no-repeat center center;
}

.module-05 .main .column .row:last-child .icon {
	background: url("../images/index/module05-icon06.png") no-repeat center center;
}

.module-05 .main .column .row .txt-group {
	position: relative;
	top: .1rem;
}

.module-05 .main .column .row .txt-group p.ch {
	color: #fff;
}

.module-05 .main .column .row .txt-group p.en {
	color: #fa7c7c;
	font-size: .126rem;
	text-transform: uppercase;
}


/** End module 05 area */


/** Start footer area */


/*footer .txt-group .item span {*/


/*display: inline-block;*/


/*}*/


/** End footer area */


/*
 * module-06 服务保障
 */

.module-06 .main {
	background: url(../images/index/module-06-bg.png) center center no-repeat;
	background-size: contain;
	height: 3.95rem;
}

.module-06 .main .m1 {
	width: 7rem;
	height: 1.4rem;
	margin: 0 auto;
	padding-top: .45rem;
}

.module-06 .main .m1 img {
	/*width: 1.96rem;*/
	width: 1.96rem;
	height: 1.32rem;
	float: left;
}

.module-06 .main .m1 .wen1 {
	float: left;
	width: 4.6rem;
	height: 1.4rem;
	margin-left: .2rem;
}

.module-06 .main .m1 .wen1 p {
	line-height: .35rem;
	font-size: .26rem;
}

.module-06 .main .m2 {
	width: 7rem;
	height: 1.4rem;
	margin: 0 auto;
	padding-top: .4rem;
}

.module-06 .main .m2 img {
	/*width: 1.96rem;*/
	width: 1.96rem;
	height: 1.32rem;
	float: left;
}

.module-06 .main .m2 .wen2 {
	float: left;
	width: 4.6rem;
	height: 1.4rem;
	margin-left: .2rem;
}

.module-06 .main .m2 .wen2 p {
	line-height: .35rem;
	font-size: .26rem;
}


/*/////////////////*/


/*
 * module-07 四项服务
 */

.module-07 .main {
	/*height: 10.95rem;*/
}

.module-07 .main div {
	width: 100%;
	height: 2.7rem;
}

.module-07 .main div div {
	width: 4.18rem;
}

.module-07 .main div .wenl {
	padding-top: .15rem;
	padding-left: .15rem;
	width: 4.78rem;
}

.module-07 .main div .wenr {
	padding-left: 2.6rem;
	padding-top: .15rem;
}

.module-07 .main div h2 {
	font-size: .3rem;
	color: #333333;
}

.module-07 .main div h3 {
	padding-top: .1rem;
	font-size: .26rem;
	color: #FA7C7C;
	text-transform: uppercase;
}

.module-07 .main div p {
	font-size: .26rem;
	line-height: .35rem;
	/*letter-spacing: 0.01rem;*/
	padding-top: .05rem;
}

.module-07 .main .m1 {
	background: url(../images/index/module-07-bg1.png) center center no-repeat;
	background-size: contain;
}

.module-07 .main .m2 {
	background: url(../images/index/module-07-bg2.png) center center no-repeat;
	background-size: contain;
}

.module-07 .main .m3 {
	background: url(../images/index/module-07-bg3.png) center center no-repeat;
	background-size: contain;
}

.module-07 .main .m4 {
	background: url(../images/index/module-07-bg4.png) center center no-repeat;
	background-size: contain;
}


/*//////////////////*/
