@import "swiper/swiper.css";

h3{
	font-size: .28rem;
}
a:link {color: #2D2D2D}		/* 未访问的链接 */
a:visited {color: #FF3232}	/* 已访问的链接 */
a:hover {color: #2D2D2D}	/* 鼠标移动到链接上 */
a:active {color: #2D2D2D}	/* 选定的链接 */
.module-01 .main{
	width: 100%;
}
.module-01 .main .top{
	display: flex;
	justify-content: space-around;
	margin-top: .2rem;
}
.module-01 .main div div{
	width: 2.9rem;
	height: 3.45;
}
.module-01 .main div div img{
	padding-left: .55rem;
}
.module-01 .main div div h3{
	font-size: .28rem;
	text-align: center;
}
.module-01 .main div div p{
	text-align: center;
	line-height: .35rem;
}
.module-01 .main .bottom{
	display: flex;
	justify-content: space-around;
	margin-top: .3rem;
}

.module-02{
	width: 100%;
}
.module-02 .main{
	display: flex;
	justify-content: space-around;
}
.module-02 .main div{
	width: 1.65rem;
	margin-top: .2rem;
}
.module-02 .main div p{
	text-align: center;
	width: 100%;
}
.module-02 .main div p:last-child{
	padding-top: .1rem;
}
.module-02 .main div img{
	padding-left: .25rem;
}


.module-03 .main {
    position: relative;
    background: #D7E3F1;
    padding-top: .32rem;
    padding-bottom: .92rem;
    height: 1.8rem;
}
.module-03 .main .swiper-container .swiper-wrapper .swiper-slide .item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.module-03 .main .swiper-container .swiper-wrapper .item h3{
	font-size: .28rem;
	text-align: center;
}
.module-03 .main .swiper-container .swiper-wrapper .item p{
	width: 80%;
	padding-right: .3rem;
	padding-left: .2rem;
	padding-top: .2rem;
	line-height: .35rem;
}
.module-03 .main .swiper-pagination {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: .15rem;
    left: 35%;
    right: 35%;
}
.module-03 .main .swiper-pagination .swiper-pagination-bullet {
    width: .17rem;
    height: .17rem;
    background: #96B2C9;
}
.module-03 .main .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #6086A5;
}

.module-04 .main{
	width: 100%;
}
.module-04 .main div h3{
	font-size: .28rem;
	text-align: center;

}
.module-04 .main div p{
	line-height: .35rem;
	padding-top: .2rem;
	/*text-indent: .52rem;*/
	padding-left: .7rem;
	padding-right: .7rem;
}
.module-04 .main .top{
	background: url(../images/separate-mistress/advantage-bgimg1.png) center center no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 2.93rem;
}
.module-04 .main .top h3{
	padding-top: .5rem;
}
.module-04 .main .bottom{
	background: url(../images/separate-mistress/advantage-bgimg2.png) center center no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 2.93rem;
	margin-top: .1rem;
}
.module-04 .main .bottom h3{
	padding-top: .3rem;
}


.module-05 .main{
	height: 5.8rem;
	width: 100%;
	background-color: #F4FAFE;
}
.module-05 .main div{
	margin: .2rem auto;
}
.module-05 .main div:first-child{
	padding-top: .3rem;
}
.module-05 .main div img{
	float: left;
	padding-left: .6rem;
	padding-top: .2rem;
}
.module-05 .main div:first-child img{
	padding-top: .4rem;
}
.module-05 .main div .word{
	width: 70%;
	padding-left: 1.2rem;
}
.module-05 .main div .word p{
	line-height: .35rem;
}

/*.module-06 .main{
	width: 100%;
	height: 3rem;
	overflow: hidden;
}
.module-06 .main .left{
	float: left;
	background: url(../images/separate-mistress/service-left.png) center center no-repeat;
	background-size: 100% 100%;
	width: .33rem;
	height: 8.42rem;
	margin-left: .5rem;

}
.module-06 .main .right{
	width: 90%;
}
.module-06 .main .right div{
	margin-top: .2rem;
	margin-left: .5rem;
	color: #2D2D2D;
}
.module-06 .main .right .m62{
	margin-top: .8rem;
}
.module-06 .main .right .m63{
	margin-top: .5rem;
}
.module-06 .main .right .m64{
	margin-top: .4rem;
}
.module-06 .main .right div .head p.p1 span.h1{
	font-size: .8rem;
	font-weight: bold;
}
.module-06 .main .right div .head p.p1 span.h3{
	font-size: .15rem;
}
.module-06 .main .right div .head p.p2{
	font-size: .15rem;
	font-weight: bold;
}*/

.module-06 .main{
	background: url(../images/separate-mistress/servicebgimg.png) center 0.3rem no-repeat;
	background-size: 6.5rem 10.58rem;
	width: 100%;
	height: 5.58rem;
	overflow: hidden;
}
.module-06 .chakan{
	padding-top: .2rem;
	padding-left: .6rem;
}
.module-06 .chakan a{

}
.module-07 .main{
	background-color: #F1FFFA;
}
.module-07 .main a{
	color: #DD1F1F;
}
.module-07 .main div{
	width: 100%;
	height: 2.6rem;
}
.module-07 .main div img{
	width: 2.4rem;
	height: 2.14rem;
	padding-top: .2rem;
}
.module-07 .main div .wen1 h3{
	font-size: .28rem;
	padding-top: .2rem;
}
.module-07 .main div .wen1 p{

	line-height: .35rem;
}
.module-07 .main .top{
	border-bottom: 1px solid #B0E7D4;
}
.module-07 .main .top img{
	float: left;
	padding-left: .1rem;
}
.module-07 .main .top h3{
	margin-left: 2.7rem;
}
.module-07 .main .top p{
	margin-left: 2.7rem;
	padding-right: .1rem;
}
.module-07 .main .bottom{
	height: 2.8rem;
}
.module-07 .main .bottom img{
	float: right;
	padding-right: .1rem;
	padding-top: .4rem;
}
.module-07 .main .bottom h3{
	padding-left: .1rem;
	padding-top: .4rem;
}
.module-07 .main .bottom p{
	padding-left: .1rem;
}

.module-08 .main{
	background: url(../images/separate-mistress/daoshi-bgimg.png) center center no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 3.84rem;
}

.module-09 .main{
	background: url(../images/separate-mistress/servicewen_bg.png) no-repeat center center;
	-webkit-background-size: cover;
    background-size: 7.04rem 100%;
    width: 100%;
    height: 7.67rem;
    margin-top: .3rem;
}
