@import "swiper/swiper.css";


p{
	line-height: .35rem;
}

.module-01 .main{
	width: 100%;
	background-color: #E8F2FF;
	height: 6.9rem;
	position: relative;
}
.module-01 .main>div{
	width: 100%;
	height: 2.3rem;
}
.module-01 .main .nei1 .left{
	float: left;
	height: 100%;
	width: 2.98rem;
	padding-top: .2rem;
}

.module-01 .main .nei1 .left img{
	padding-left: .1rem;
	width: 2.98rem;
	height: 1.78rem;
}
.module-01 .main .nei1 .right{
	width: 4.15rem;
	height: 100%;
	float: right;
	padding-top: .15rem;
}
.module-01 .main .nei1 .right h3{
	font-size: .28rem;
	/*padding-bottom: .1rem;*/
}
.module-01 .main .nei1 .right .pred{
	color: #FF3232;
}
.module-01 .main .nei2{
	position: absolute;
	left: 0;
	bottom: 2.35rem;
}
.module-01 .main .nei2 .left{
	float: left;
	height: 100%;
	width: 2.98rem;
	padding-top: .3rem;
}

.module-01 .main .nei2 .left img{
	padding-left: .1rem;
	width: 2.98rem;
	height: 1.78rem;
}
.module-01 .main .nei2 .right{
	width: 4.15rem;
	height: 100%;
	float: right;
	padding-top: .15rem;
}
.module-01 .main .nei2 .right h3{
	font-size: .28rem;
	/*padding-bottom: .1rem;*/
}
.module-01 .main .nei2 .right .pred{
	color: #FF3232;
}

.module-01 .main .nei3{
	position: absolute;
	left: 0;
	bottom: .05rem;
}
.module-01 .main .nei3 .left{
	float: left;
	height: 100%;
	width: 2.98rem;
	padding-top: .3rem;
}

.module-01 .main .nei3 .left img{
	padding-left: .1rem;
	width: 2.98rem;
	height: 1.78rem;
}
.module-01 .main .nei3 .right{
	width: 4.15rem;
	height: 100%;
	float: right;
	padding-top: .15rem;
}
.module-01 .main .nei3 .right h3{
	font-size: .28rem;
	/*padding-bottom: .1rem;*/
}
.module-01 .main .nei3 .right .pred{
	color: #FF3232;
}


.module-02 .main{
	background: url(../images/team/team-img.png) center center no-repeat;
	background-size: cover;
	width: 100%;
	height: 6.7rem;
}
.module-02 .main .wen{
	width: 90%;
	margin: 0 auto;
	height: 4.2rem;
}
.module-02 .main .wen p{
	text-indent: .52rem;
	text-decoration: .02rem;
}
.module-02 .main .wen .p1{
	padding-top: .2rem;
}
.module-02 .main .wen .p2{
	margin-top: .3rem;
}

.module-03 .main .swiper-container .swiper-wrapper .swiper-slide img {
	width: 100%;
}
.module-03 .main .swiper-container .swiper-button-prev,
.module-03 .main .swiper-container .swiper-button-next {
	width: .32rem;
	height: .54rem;
}
.module-03 .main .swiper-container .swiper-button-prev {
	background: url("../images/team/button-prev.png") no-repeat;
}
.module-03 .main .swiper-container .swiper-button-next {
	background: url("../images/team/button-next.png") no-repeat;
}
.module-03 .main .swiper-container .swiper-pagination-bullet {
  width: .2rem;
	height: .2rem;
	border-radius: .2rem;
	background: rgba(0, 0, 0, .5);
	margin: 0 .12rem;
	transition: all 1s;
}
.module-03 .main .swiper-container .swiper-pagination-bullet-active {
	width: .5rem;
	background: rgba(184, 185, 182, .7);
}
