/*
* video-vip.css
*/

@import "swiper/swiper.css";

.preface {
  display: none;
}

.module .play .play-group {
  padding-top: .77rem;
}
.module .play .play-group video {
  margin: 0 auto;
  display: none;
}
.module .play .play-group video.active {
  display: block;
}

.module .play .txt-group .item {
  display: none;
  padding-left: .16rem;
  padding-top: .2rem;
}
.module .play .txt-group .item.active {
  display: block;
}
.module .play .txt-group .item .play-title {
  font-weight: bold;
  color: #333;
  line-height: .26rem;
  height: .26rem;
}
.module .play .txt-group .item .play-des-group {
  display: flex;
  justify-content: flex-start;
  padding: .2rem 0 0;
}
.module .play .txt-group .item .play-des-group svg {
  display: inline-block;
  width: .26rem;
  height: .22rem;
  margin-right: .12rem;
  vertical-align: middle;
}
.module .play .txt-group .item .play-des-group .play-des {
  font-size: .2rem;
  color: #535353;
  line-height: .22rem;
  height: .22rem;
}

.module .split-line {
  width: 100%;
  height: 1px;
  background: 1px solid #aaa;
  margin-bottom: .18rem;
  margin-top: .36rem;
}

.module .video-list .video-title {
  font-weight: bold;
  line-height: .5rem;
  height: .5rem;
  padding-left: .16rem;
}
.module .video-list .swiper-container .swiper-wrapper .swiper-slide .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.module .video-list .swiper-container .swiper-wrapper .swiper-slide .item img {
  width: 2.63rem;
  height: 1.72rem;
}
.module .video-list .swiper-container .swiper-wrapper .swiper-slide .item p {
  width: 2.63rem;
  padding-top: .2rem;
  line-height: .46rem;
  text-align: center;
}
