

.child-page{
    
    
    .head-bgimg{
        width: 100%;
        height: 680px;
        background: url(../img/about-us/leading-edge-bgimg.jpg) center center no-repeat;
        background-size: 100%;
        
    }
    .head1{
        width: 100%;
        height: 851px;
        background: url(../img/about-us/Understanding-bgimg.jpg) center center no-repeat;
    }
    .body1{
        width: 100%;
        min-width: 1106px;
        height: 550px;
        background: url(../img/about-us/media-bgimg.png) center center no-repeat;
        background-size: 100%;
        background-position: 0 0;
        .left{
           float: left;
           ul{
               margin-top: 70px;
               margin-left: 500px;
               li{
                   margin-top: 50px;
                   font-size: 24px;
                }
            }
            @media only screen and (max-width:1199px){
                ul{
                    margin-top: 50px;
                    margin-left: 350px;
                    li{
                        margin-top: 34px;
                        font-size: 24px;
                    }
                }
            }
        }
        .right{
            float: right;
            ul{
                margin-top: 20px;
                margin-right: 400px;
                li{
                    width: 760px;
                    height: 520px;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            @media only screen and(max-width:1199px){
                ul{
                    margin-top: 20px;
                    margin-right: 300px;
                    li{
                        width: 600px;
                        height: 400px;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }

    .body2{
        width: 100%;
        height: 1600px;
        margin: 0 auto;
        background-color:#EDEDED;
        .ul1{
            width: 1200px;
            margin: 0 auto;
            height: 320px;
            padding-top: 50px;
            display: flex;
            justify-content: space-around;  
            li{
                text-align: center;
                font-size: 20px;
                a{
                    color: #2D2D2D;
                    transition: color .3s;
                }
            }
            li:nth-child(1):hover a{
                color: #FF3232;
            }
            li:nth-child(2):hover a{
                color: #FF3232;
            }
            li:nth-child(3):hover a{
                color: #FF3232;
            }
        }
        .bottom{
            width: 1100px;
            height: 500px;
            margin: 80px auto;
            background: url(../img/about-us/more-dynamic-bgimg.png) center center no-repeat;
            background-size: 100%;
            background-position: 0 0;
            display: flex;
            justify-content: space-between;
            .left{
                float: left;
                height: 450px;
                width: 400px;
                margin-top: 20px;
                margin-left: 50px;
                img{
                    margin: 50px auto;
                    height: 35px;
                    width: 100%;
                }
                ul{
                    li{
                        margin-top: 20px;
                        p{
                            width: 100%;
                            color: #2D2D2D;
                            font-size: 20px;
                            a{
                                color: #FF3232;
                            }
                        }
                    }
                    li:nth-child(2){
                        border-top: 1px solid #CCCCCC;
                        margin-top: 50px;
                        p{
                            padding-top: 50px;
                        }
                    }                
                }
            }
            .zhong{
                float: left;
                height: 350px;
                width: 2px;
                margin-top: 70px;
                border: 1px solid #CCCCCC;
            }
            .right{
                float: right;
                height: 450px;
                width: 400px;
                margin-top: 20px;
                margin-right: 50px;
                img{
                    margin: 50px auto;
                    height: 35px;
                    width: 100%;
                }
                ul{
                    li{
                        margin-top: 20px;
                        p{
                            width: 100%;
                            color: #2D2D2D;
                            font-size: 20px;
                            a{
                                color: #FF3232;
                            }
                        }
                    }
                    li:nth-child(2){
                        border-top: 1px solid #CCCCCC;
                        margin-top: 50px;
                        p{
                            padding-top: 50px;
                        }
                    }                
                }
            }
        }
    }
    .body3{
        width: 100%;
        height: 1088px;
        background: url(../img/about-us/orange-honor.png) center center no-repeat;
    }
}
