<div class="module">
  <div class="main">
    <h2>团队理论研发</h2>
    <p>
      通过总结了近一周的学员情况大数据，针对用户的普遍问题和棘手问题，主导师团队在做详细全面的情况分析，以及结合实际研发更高效的理论，帮助用户解决问题。
    </p>
    <div class="center">
      <img src= "images/news/33.jpg"/>
    </div>
    <p>
      在理论研发会议上，各位导师就自己工作的角度纷纷发表自己的意见和建议，对于用户的需求以及公司理论的研发提出了更高的要求。
    </p>
    <p>
      各个导师也就在自己岗位上的发现和问题做了详细的提问和回答，大家就一些新的理论规律进行详细的讨论。尤其是在挽回过程中，如何合理的给对方注入安全感，应该在怎样的实际，以及如何的方式，做了深入的探讨。
    </p>
    <div class="center">
      <img src="images/news/34.jpg" />
    </div>
    <p>
      大家就目前所整理的数据进行了重新整理，就用户进行详细的类型分类和不同性格人群的方式方法进行了总结，不断的在数据中寻找规律，也不断的在规律中总结理论。
    </p>
    <p>
      在不断的头脑风暴下，大家不断的根据用户的案例和示例发现人与人之间的吸引力的问题，在感情的解决中，吸引力占据的主导地位，以及对于女人来说，在伴侣的选择中吸引力的重要性，大家就这个问题畅所欲言，更是纷纷发表自己的看法。
    </p>
    <div class="center">
      <img src="images/news/35.jpg" />
    </div>
    <p>
      在不断的研究中，大家以数据为重要证据，加以每个人的经验和理论，发现无论在婚姻还是在爱情中，吸引力都占据着重要的地位，从而研发出吸引力正循环的理论。
    </p>
    <p>
      导师们就目前的理论又进行反复发验证和推敲，最终找到理论的正确应用方法和角度，针对的用户人群以及切入的方法，以及理论所存在的禁区，对于理论进行详细的构建，最终确定这项理论可以长期使用，并且经得起时间和人群的验证。
    </p>
  </div>
</div>
