<div class="module">
  <div class="main">
    <h2>橘子情感联合山东省创业中心举办中俄新兴行业交流会</h2>
    <p>
      2017年9月10日，由橘子情感联合山东省创业中心承办的“中俄新兴行业交流会”在山东省创
      业中心的会堂举行，与会者主要有俄罗斯交流代表以及一些优秀企业公司。其中，橘子情感
      作为优秀创业公司代表参加了此次重要会议。
    </p>
    <p>
      此次会议涉猎各个新兴行业，尤其是情感咨询培训行业，得到多方面的重视，俄罗斯代表提
      出：“情感咨询培训行业，作为新兴行业，是应社会需要的潮流而生，具有巨大的发展潜力
      和提升空间，应得到社会的重视和培养。”
    </p>
    <p>
      会上，橘子情感创始人之一嘉伟老师作为优秀创业者做代表发言，嘉伟老师首先介绍了自己
      创建橘子情感的初心及其发展历程；其次，简要说明了橘子情感的情感咨询培训模式，和现
      阶段所做作出的一些成绩。最后，嘉伟老师对参加本次交流会的俄罗斯代表表示热烈欢迎，
      相信双方通过交流和学习可以达成意见的一致，建立合作模式，并且希望通过橘子情感与俄
      罗斯代表的共同努力，能够促进中俄两国友谊的深入发展。
    </p>
    <div class="center">
      <img src="images/news/39.jpg">
    </div>
    <p>
      通过嘉伟老师的介绍，俄罗斯代表对情感咨询和培训模式表示了浓厚的兴趣，在中俄两方互
      动交流阶段向橘子情感，提出了如何在跨国跨界的交流当中，更好的进行各行业优质资源的
      共享、整合和互换，提升新兴行业的软实力，并通过加强合作，共同促进各行业健康发展等
      一系列企业合作问题。
    </p>
    <p>
      橘子情感创始人嘉伟老师一一对此进行了回答，双方进行了非常满意的交流，俄罗斯代表表
      示，通过嘉伟老师的解答，让他们对情感行业有了更深入的了解，有望后期安排俄罗斯代表
      参观公司并进行后续的企业合作相关活动。
    </p>
    <div class="center">
      <img src="images/news/40.jpg">
    </div>
    <p>
      在现如今网络快速发展的社会，为各种新兴行业的兴起创造了有利条件和大环境，很多新兴
      行业的发展势如破竹，其中就有橘子情感，但是在这种资源良莠不齐的情况下，也容易出现
      鱼龙混杂和后势不足的情况，橘子情感作为认真踏实又充满朝气的团队，利用现有的资源，
      脚踏实地的走到今天，成为互联网行业有一定影响力的企业，始终保持初心，以正能量感染
      着整个情感行业，同时橘子情感不忘承担起自己应付的社会责任，投身于公益事业，不仅为
      广大有情感问题的人士带来福音，还把自己的力量奉献给了带动新兴行业的发展，在业界创
      造了良好的口碑和极高的声誉。
    </p>
    <p>
      本次交流会的举办，不仅体现了橘子情感高瞻远瞩的合作精神，更体现了社会各界对新兴行
      业和跨国交流的重视，通过这次交流会的举办，可以让跨国跨界的各行业互通有无、共同发
      展，同时加强合作的意识和机会，为之后的相似活动提供经验和打下良好的基础，营造了各
      行业百花齐放、百家争鸣的和谐氛围，为社会企业的发展注入了活力。
    </p>
    <p>
      橘子情感的负责人嘉伟老师表示，能够参加本次的中俄新兴行业交流会，是对本公司和本行
      业在商业界的极大肯定和赞赏，表示非常荣幸能够听取各行业的意见和建议，通过本次交流
      会学习到了很多可借鉴的行业知识，从而更加清楚地意识到公司接下来的发展之路该如何前
      进，相信橘子情感一定不负众望，戒骄戒躁，更好地打造好自己的品牌，带领情感行业突破
      国界，走向世界，展示属于橘子情感的风采。
    </p>
    <div class="center">
      <img src="images/news/41.jpg">
    </div>
    <p>
      交流会最后，省领导和俄罗斯代表对此次中俄交流会作出了总结，省领导表示非常高兴在山
      东省创业中心与俄罗斯老友相会，期望中俄双方在互联网新兴行业甚至更多的延伸项目上能
      有更深的交流与合作。俄罗斯代表则表示通过这次交流会感受到了新兴行业朝气蓬勃的发展
      力，此次到山东参加了一场完美的交流会，不虚此行，希望中俄双方能长期保持友好的合作
      关系，并表达了对橘子情感的祝福和对情感行业未来的希冀，希望橘子情感能够走得更远、
      更久，让更多的人能够了解情感行业并加入这个为人民服务的行业。
    </p>
    <p>
      中俄新兴行业交流会结束之际，中俄双方代表互赠了礼物，以表达诚恳的交流合作之意，此
      次交流会圆满结束。
    </p>
    <div class="center">
      <img src="images/news/38.jpg">
    </div>
  </div>
</div>
