<div class="module">
	<div class="main">
		<div class="tu">
			<img src="images/team-three-level/qiyue.png" />
		</div>
		<div class="wen">
			<h3>
				柒月导师
			</h3>
			<p class="red">
				国家心理咨询师，前世纪佳缘金牌红娘，高级形象设计师
			</p>
			<h3>
				导师简介:
			</h3>
			<p>
				国家心理咨询师，前世纪佳缘金牌红娘，高级形象设计师，有丰富的实战经验，多角度视野及高度。
			</p>
			<p>
				擅长从女性角度分析两性关系，擅长婚姻调解、长期关系维护等高难度案例。从宏观的中国情感问题大数据， 以及微观的个体用户情况细节，为整个情感挽回行业树立了理论标杆。
			</p>
			<h3>
				导师寄语:
			</h3>
			<p>
				因为懂得，所以理解；因为理解，所以严格。每一段感情，都需要我们以负责的心态去把握。
			</p>
		</div>
	</div>
</div>
