<div class="module">
	<div class="main">
		<div class="tu">
			<img src="daoshi-jieni.html" />
		</div>
		<div class="wen">
			<h3>
				心怡导师
			</h3>
			<p class="red">
            	资深情感专家，女性心理与行为侧写师
			</p>
			<h3>
				导师简介:
			</h3>
			<p>
				资深情感专家，女性心理与行为侧写师，国家心理咨询师，具有医学和心理学双重教育背景，有清晰的理论知识与丰富的实战经验，过程中积累了多种男性思维与行为的深层理解。
			</p>
			<p>
				擅长失恋情感挽回，恋爱指导，剖析男女性内心，根据行为探究恋爱心理，教你如何成为一个强势带领伴侣的人。
			</p>
			<h3>
				导师寄语:
			</h3>
			<p>
				不要做无用功，发现问题的本质才是解决问题的唯一方式。
			</p>
		</div>
	</div>
</div>
