<div class="module">
	<div class="main">
		<div class="tu">
			<img src="images/team-three-level/jiawei.png" />
		</div>
		<div class="wen">
			<h3>
				嘉伟导师
			</h3>
			<p class="red">
				橘子情感创始人，国内首批情感挽回导师
			</p>
			<h3>
				导师简介:
			</h3>
			<p>
				橘子情感创始人，国内首批情感挽回导师，《情感黏性》、《恋爱生态模式》、《极速挽回三阶段》、《情感落差升温法则》等理论创始人，资深两性情感分析师，中国婚姻家庭研究会会员。
			</p>
			<p>
				自橘子情感创办以来，先后在北京、上海、深圳、广州、南京、西安、成都、沈阳、济南等城市，以及美国、德国、澳大利亚、新加坡等国家的华人社区，举办恋爱培训班和讲座。2012年开始，开设情感挽回导师资质班，现已开设19期，为行业累计输送300多名优秀从业人才。
			</p>
			<h3>
				导师寄语:
			</h3>
			<p>
				每一段真挚的感情，都值得被祝福；感情中最可怕不是不爱了，而是爱错了方式，让双方抱憾终生。
			</p>
		</div>
	</div>
</div>
