<div class="module">
	<div class="main">
		<div class="tu">
			<img src="images/team-three-level/haoyu.png" />
		</div>
		<div class="wen">
			<h3>
				浩宇导师
			</h3>
			<p class="red">
				国家心理咨询师，长期关系维护专家，资深情感导师，真命狙击专家，实战约会专家
			</p>
			<h3>
				导师简介:
			</h3>
			<p>
				擅长长期关系状态维护，狙击目标。在自身操作，以及带队指导学员狙击真命方面，成功率常年保持在95%以上。 极其擅长引导对方深层次沟通，引导对方情绪。其《阶梯式攻心法则》、《爱情催眠术》等理论， 适用于几乎所有高难度案例。
			</p>
			<!--<p>
				自橘子情感创办以来，先后在北京、上海、深圳、广州、南京、西安、成都、沈阳、济南等城市，以及美国、德国、澳大利亚、新加坡等国家的华人社区，举办恋爱培训班和讲座。2012年开始，开设情感挽回导师资质班，现已开设19期，为行业累计输送300多名优秀从业人才。
			</p>-->
			<h3>
				导师寄语:
			</h3>
			<p>
				因为每一次爱情都是刻骨铭心的，但是实际和幻想的偏差，是很多人一生无法逾越的鸿沟。你缺乏的不是缘分， 而是方法。
			</p>
		</div>
	</div>
</div>
