<div class="module">
	<div class="main">
		<div class="tu">
			<img src="images/team-three-level/qianwu.png" />
		</div>
		<div class="wen">
			<h3>
				千芜导师
			</h3>
			<p class="red">
				国内首批情感挽回专家，权威进化心理学专家
			</p>
			<h3>
				导师简介:
			</h3>
			<p>
				国内第一批情感咨询导师，权威进化心理学专家。

			</p>
			<p>
				对于安全感缺失分手、情感疲惫分手、两性关系信任不足、亲密关系保持、婚前焦虑、家庭关系（婆媳关系、亲子关系）、失恋及离婚后心理调适，等当今中国普遍的情感问题，有着独到的高效解决方法。
			</p>
			<h3>
				导师寄语:
			</h3>
			<p>
				通向幸福的路也许有千万条，也许你认为每一条都荆棘满布，但我会用我的专业与真诚，引领你寻找到幸福的捷径。
			</p>
		</div>
	</div>
</div>
