<div class="module">
	<div class="main">
		<div class="tu">
			<img src="images/team-three-level/asu.png" />
		</div>
		<div class="wen">
			<h3>
				阿苏导师
			</h3>
			<p class="red">
				资深情感咨询分析师，国家心理咨询师，美学专业背景形象指导
			</p>
			<h3>
				导师简介:
			</h3>
			<p>
				资深情感咨询分析师，国家心理咨询师，美学专业背景形象指导，女性情感专栏作家。 擅长情感心理分析，形象及展示面指导。针对吸引力构建、重塑的二次吸引，有着丰富的经验。外化于型， 内修于心，能够带队帮助学员共根本上弥补吸引力缺失，为挽回以及长期关系维稳打下坚实基础。
			</p>
			
			<h3>
				导师寄语:
			</h3>
			<p>
				表达想法的能力，和想法本身，一样重要。大道至简，知易行难，希望用我的知识和经验，带你走向本该属于你的幸福。
			</p>
		</div>
	</div>
</div>
