<div class="module">
	<div class="main">
		<div class="tu">
			<img src="images/team-three-level/lujia.png" />
		</div>
		<div class="wen">
			<h3>
				路加导师
			</h3>
			<p class="red">
				首席挽回专家，国家心理咨询师
			</p>
			<h3>
				导师简介:
			</h3>
			<p>
			          橘子情感情感挽回专家，国家心理咨询师，二次吸引专家，婚恋修复专家，长期关系维护导师。
			</p>
			<p>
				帮助近万例客户把握住至关重要的“升温”节点，具有丰富的分手挽回经验，接受众多分手挽回案例，善于设计各种偏门方法技巧，帮助客户搞定目标，受到业内一致好评。
		</p>
			<h3>
				导师寄语:
			</h3>
			<p>		
				走在路上，感触太多，累过，笑过，或许正是这份责任和被寄托的希望，才是我们不断前行的动力。	
			</p>
		</div>
	</div>
</div>
