/*
 * spa.css
 * Root namespace styles
*/

/* Start style reset */
* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 100px;
  font-family: "Microsoft YaHei";
}

ol,
ul,
li {
  list-style: none;
}

a,
img {
  border: 0;
}

a {
  text-decoration: none;
}

p {
  font-size: .26rem;
  line-height: .27rem;
}

p.indent {
  text-indent: .5rem;
}
/* End style reset */


#spa {
  position: relative;
}
