/*
 * spa.slove.css
 * Save Love namespace styles
 * 挽回爱情样式表
*/

/* Start : common styles - 本页面公共样式 */
.slove-para {
  font-size: .26rem;
  line-height: .36rem;
  color: #333;
  height: 100%;
}
.slove-para-indent {
  text-indent: .5rem;
}
/* End : common styles - 本页面公共样式 */

/* Start : sperate - 分手状态 - */
.slove-separate-main {
  background: #eaedf8;
}
.slove-separate-main .split-line {
  width: 100%;
  height: .01rem;
  background: #313131;
}
.slove-separate-main .swiper-container .swiper-wrapper .swiper-slide {
  display: flex;
  justify-content: flex-start;
  padding-top: .24rem;
  padding-bottom: .27rem;
}
.slove-separate-main .swiper-container .swiper-wrapper .swiper-slide .img {
  width: 2.62rem;
  height: 1.93rem;
  padding-left: .13rem;
}
.slove-separate-main .swiper-container .swiper-wrapper .swiper-slide .img img {
  width: 100%;
  height: 100%;
}
.slove-separate-main .swiper-container .swiper-wrapper .swiper-slide .txt {
  width: 4.46rem;
  padding-left: .11rem;
}
.slove-separate-main .swiper-container .swiper-wrapper .swiper-slide .txt p {
  line-height: .4rem;
}

.slove-separate-main .tabs {
  display: flex;
  justify-content: space-around;
  padding-bottom: .11rem;
}
.slove-separate-main .tabs p {
  height: .64rem;
  line-height: .64rem;
  color: #415580;
}
.slove-separate-main .tabs p.active {
  font-weight: bold;
}
.slove-separate-main .tabs p:first-child {
  padding-left: .335rem;
}
.slove-separate-main .tabs p:last-child {
  padding-right: .335rem;
}
/* End : sperate - 分手状态 - */

/* Start : wrong - 错误做法 */
.slove-wrong-main {
  position: relative;
  background: #f9f9f9;

  padding-top: .32rem;
  padding-bottom: .92rem;
}
.slove-wrong-main .swiper-container .swiper-wrapper .swiper-slide {
  display: flex;
  justify-content: space-between;
}
.slove-wrong-main .swiper-container .swiper-wrapper .swiper-slide .item {
  width: 1.6rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0 .22rem;
}
.slove-wrong-main .swiper-container .swiper-wrapper .swiper-slide .item .icon {
  width: 1.4rem;
  height: 1.4rem;
}
.slove-wrong-main .swiper-container .swiper-wrapper .swiper-slide:first-child .item:nth-child(1) .icon {
  background: url("../images/slove/wrong-icon01.png") no-repeat center center;
}
.slove-wrong-main .swiper-container .swiper-wrapper .swiper-slide:first-child .item:nth-child(2) .icon {
  background: url("../images/slove/wrong-icon02.png") no-repeat center center;
}
.slove-wrong-main .swiper-container .swiper-wrapper .swiper-slide:first-child .item:nth-child(3) .icon {
  background: url("../images/slove/wrong-icon03.png") no-repeat center center;
}
.slove-wrong-main .swiper-container .swiper-wrapper .swiper-slide:last-child .item:nth-child(1) .icon {
  background: url("../images/slove/wrong-icon04.png") no-repeat center center;
}
.slove-wrong-main .swiper-container .swiper-wrapper .swiper-slide:last-child .item:nth-child(2) .icon {
  background: url("../images/slove/wrong-icon05.png") no-repeat center center;
}
.slove-wrong-main .swiper-container .swiper-wrapper .swiper-slide:last-child .item:nth-child(3) .icon {
  background: url("../images/slove/wrong-icon06.png") no-repeat center center;
}

.slove-wrong-main .swiper-pagination {
  display: flex;
  justify-content: center;

  position: absolute;
  bottom: .15rem;
  left: 40%;
  right: 40%;
}
.slove-wrong-main .swiper-pagination .swiper-pagination-bullet {
  width: .16rem;
  height: .16rem;
  background: #b8b8b8;

  margin: 0 .08rem;
}
.slove-wrong-main .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #b1b1b1;
}
/* End : wrong - 错误做法 */

/* Start : fail - 挽回失败原因 */
.slove-fail-main {
  background: #eaedf8;
}
.slove-fail-main-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: .22rem 0;
  border-bottom: 1px solid #ccd4f3;
}
.slove-fail-main-item:last-child {
  border-bottom: none;
}
.slove-fail-main-item-img {
  width: 1.42rem;
  height: 1.89rem;
  padding-left: .37rem;
}
.slove-fail-main-item-txt {
  width: 5.3rem;
  padding-left: .15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.slove-fail-main-item-txt-title {
  font-weight: bold;
  height: .36rem;
  padding-bottom: .08rem;
}
/* End : fail - 挽回失败原因 */

/* Start : advantage - 橘子情感优势 */
.spa-advantage-main-item {
  padding: .24rem 0;
}
.spa-advantage-main-item:first-child {
  background: #f9f9f9;
}
.spa-advantage-main-item:last-child {
  background: #ececec;
}
.spa-advantage-main-item p {
  padding-left: .3rem;
  height: 100%;
  line-height: .36rem;
}
.spa-advantage-main-item p span:first-child {
  font-weight: bold;
  padding-bottom: .06rem;
}
.spa-advantage-main-item p img {
  float: right;
  padding-right: .22rem;
  padding-left: .1rem;
}
.spa-advantage-main-item p span:last-child {
  text-indent: .5rem;
}
/* End : advantage - 橘子情感优势 */


/* Start : kind - 擅长挽回的爱情类型 */
/* 该模块通过 iframe 标签引入，请在 ./iframes/3Dbanner/ 文件加中查看 */
/* End : kind - 擅长挽回的爱情类型 */

/* Start : service - 能够提供的挽回爱情服务 */
.slove-service-main {
  background: url("../images/slove/service-bg.png") center center no-repeat;
  background-size: contain;
  height: 5.1rem;
}
/* End : service - 能够提供的挽回爱情服务 */

/* Start : example - 成功案例 */
.slove-example-main-item {
  display: flex;
  justify-content: flex-start;
}
.slove-example-main-item:first-child {
  padding-bottom: .2rem;
}
.slove-example-main-item img {
  width: 100%;
  height: 100%;
  padding: 0 .2rem;
}
.slove-example-main-item-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: .15rem;
}
.slove-example-main-item-txt p:first-child {
  font-size: .28rem;
  font-weight: bold;
  padding-bottom: .1rem;
}
.slove-example-main-item-txt p:last-child {
  color: #fd3232;
  padding-top: .1rem;
}
/* End : example - 成功案例 */

/* Start : mentor - 导师团队 */
.slove-step-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.slove-mentor-main-item {
  display: flex;
  justify-content: center;
}
.slove-mentor-main-item img {
  width: 2.65rem;
  height: 3.72rem;
  padding: .1rem;
}
/* End : mentor - 导师团队 */

/* Start : step - 挽回爱情服务流程 */
.slove-progress-main {
  background: url(../images/util/progress-bg.png) no-repeat center center;
  background-size: 7.04rem 100%;
  height: 7.67rem;
  margin-top: .3rem;
}
/* End : step - 挽回爱情服务流程 */
