
body{
	overflow-x: auto;
	overflow-y: auto;

}

.w1200 {
	width: 1200px;
	margin: 0 auto;
	height: 8000px;

}
.body{
	width: 100%;
	max-width: 1200px;
}
.biaoti{
	text-align: center;
}
.biaoti h1{
	margin-top: 20px;
	margin-bottom: 30px;
	color: #FFA241;
}
.biaoti h3{
	color: #FF95B9;
}
.biaoti p{
	color: #FF95B9;
	text-align: center;
	line-height: 30px;
}
.centerdiv{  
    float:left;  
    width:10px;
    height: 1360px;  
    border-right: 2px solid #FFAE4A;  
    padding-bottom:200px; 
    margin-bottom:-200px;
    margin-top: 50px;
  	margin-left: 50px;
}  
.hr1{
	width: 250px;
	color: #FFFFFF;
	background-color: #FFFFFF;
	height: 1px;
	border: 0;
}
.body1 {
	width: 100%;
	height: 350px;
}
.body3{
	width: 100%;
	height: 800px;
}
.divcss5 {
	position: relative;
	width: 300px;
	height: 190px;
	margin: 50px auto;
	float: left;
	margin-left: 70px;
}
.divcss5 a,
.divcss5 span {
	display: none;
	text-decoration: none
}

.divcss5:hover {
	cursor: pointer
}

.divcss5:hover a.now {
	cursor: pointer;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	left: 0;
	display: block;
}

.divcss5:hover span {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	width: 100%;
	z-index: 10;
	/*height: 36px;*/
	height: 100%;
	line-height: 30px;
	background: #FF95B9;
	filter: alpha(opacity=60);
	-moz-opacity: 0.5;
	/* 设置显示文字定位位置，背景半透明 */
	opacity: 0.9;
}
.divcss5:hover span h3{
	margin-top: 10px;
}


.divcss6 {
	position: relative;
	width: 250px;
	height: 190px;
	margin: 50px auto;
	float: left;
	margin-left: 40px;
}

.divcss6 a,
.divcss6 span {
	display: none;
	text-decoration: none
}

.divcss6:hover {
	cursor: pointer
}

.divcss6:hover a.now {
	cursor: pointer;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	left: 0;
	display: block;
}

.divcss6:hover span {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	color: #FFFFFF;
	font-size: 16px;
	letter-spacing: 1px;
	text-align: center;
	width: 100%;
	z-index: 10;
	/*height: 36px;*/
	height: 100%;
	line-height: 30px;
	background: #FF95B9;
	filter: alpha(opacity=60);
	-moz-opacity: 0.5;
	/* 设置显示文字定位位置，背景半透明 */
	opacity: 0.9;
}
.divcss6:hover span h3{
	margin-top: 10px;
}
.divcss6:hover span :nth-child(3){
	margin-top: 10px;
}

.divcss7 {
	position: relative;
	width: 800px;
	height: 390px;
	margin: 0px auto;
	float: left;
	margin-left: 200px;
}

.divcss7 a,
.divcss7 span {
	display: none;
	text-decoration: none;
}

.divcss7:hover {
	cursor: pointer
}

.divcss7:hover a.now {
	cursor: pointer;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	left: 0;
	display: block;
}

.divcss7:hover span {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	color: #FFFFFF;
	font-size: 16px;
	letter-spacing: 1px;
	text-align: center;
	width: 100%;
	z-index: 10;
	/*height: 36px;*/
	height: 100%;
	line-height: 30px;
	background: #FF95B9;
	filter: alpha(opacity=60);
	-moz-opacity: 0.5;
	/* 设置显示文字定位位置，背景半透明 */
	opacity: 0.9;
}
.divcss7:hover span h3{
	margin-top: 120px;
}
.divcss7:hover span :nth-child(3){
	margin-top: 10px;
}

.body4{
	width: 1200px;
	height: 310px;
	margin:0 auto;
	border: 1px solid #FF95B9;
	border-radius: 200px 200px;
}
.body4 :hover{
	box-shadow: 0 10px 10px #FF95B9;
	border-radius: 200px 200px;
}
.body4 .dibu1{
	float: left;
}
.body4 .dibu1 img{
	height: 300px;
	width: 300px;
	border-radius: 200px 200px;
	padding: 5px 5px 5px 5px;
	border: 1px solid #FF95B9;
}
.body4 .dibu1 img{
	float: left;
}
.body4 .dibu1 p{
	float: left;
	}
.body4 .dibu1 p{
	margin-top: 80px;
	color: #FFA241;
	font-size: 22px;
	margin-left: 30px;
	padding: 10px 10px 10px 10px;
}
.body5{
	margin-top: 50px;
	width: 1200px;
	height: 850px;
}
.body5 .biaoti1{
	margin: 0 auto;
	width: 1200px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	background-color: #FFAE4A;
	color: #FFFFFF;
}
.body5 :nth-child(1){
	font-weight: bold;
	font-size: 28px;
}
.body5 :nth-child(2){
	font-size: 18px;
}
.body6{
	width: 1195px;
	height: 500px;
	margin: 20px auto;
	border: 3px solid #FFAE4A;
}
.body6 img{
	margin-left: 38px;
	margin-top: 60px;
	border: 2px solid #FF95B9;
	padding: 2px 2px 2px 2px;
}
.body6 img :hover{
}
.foot3{
	margin-top: 50px;
	width: 800px;
	height: 160px;
	margin: 20px auto;
	box-shadow: 0 10px 10px #FF95B9;
	color: #FFA241;
	text-align: center;
}
.foot3 h1{
	padding-top: 30px;

}
.foot3 h2{
	margin-top: 20px;
}
.foot3 button{
	margin-top: 10px;
	padding: 5px 10px 5px 10px;
	background-color: #FFFFFF;
	color: #FF95B9;
	font-size: 16px;
}
.foot3 button:hover{
	color: #FFFFFF;
	background-color: #FF95B9;
}
.body7{
	width: 1200px;
	height: 1800px;
	border: 1px solid #CCCCCC;
	box-shadow: 0 5px 10px #CCCCCC;
}
.body7 p{
	color: #8C8C8C;
	
}
.body7 div div h3{
	color: #FF95B9;
	
}
.left2{
	float: left;
	width: 500px;
	height: 1800px ;
	margin-top: 50px;
}
.left2 .biaoti2{
	float: right;
	margin-top: 50px;
	margin-right: -20px;
	color: #FFFFFF;
	background-color: #FF95B9;
	padding: 5px 10px 5px 10px;
	border-radius: 50px;
}
.left2 .biaoti2:hover{
	border: 1px solid #FF95B9;
	background-color: #FFFFFF;
	color: #FF95B9;
}
.bbody{
	width: 310px;
	height: 400px;
	margin-left: 140px;
	margin-top: 80px;
	border: 1px solid #FF95B9;
	border-top-right-radius: 50px;
	border-bottom-left-radius: 50px;
}
/*.bbody1:hover .biaoti2{
	border: 1px solid #FF95B9;
	background-color: #FFFFFF;
	color: #FF95B9;
}
.bbody:hover .biaoti2{
	border: 1px solid #FF95B9;
	background-color: #FFFFFF;
	color: #FF95B9;
}*/
.bbody img{
	border-top-right-radius: 50px;
	-webkit-border-bottom-left-radius:;
	margin-top: 10px;
	margin-left: 10px;
}
.bbody h3{
	font-weight: 100;
	text-align: center;
	margin-top: 10px;
}
.bbody p{
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 20px;
	letter-spacing: 1px;
	line-height: 25px;
}

.bbody1{
	width: 310px;
	height: 520px;
	margin-left: 140px;
	margin-top: 80px;
	border: 1px solid #FF95B9;
	border-top-right-radius: 50px;
	border-bottom-left-radius: 50px;
}
.bbody1 img{
	border-top-right-radius: 50px;
	margin-top: 10px;
	margin-left: 10px;
}
.bbody1 h3{
	font-weight: 100;
	text-align: center;
	margin-top: 10px;
}
.bbody1 p{
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 20px;
	letter-spacing: 1px;
	line-height: 25px;
}
.bbody1 p span{
	font-weight: 500;
	font-size: 1.2em;
	color: #FFA241;
}


.right2{
	float: right;
	width: 500px;
	height: 1800px ;
	margin-top: 50px;
	
}

.right2 .biaoti2{
	float: left;
	margin-top: 10px;
	margin-left: -100px;
	color: #FFFFFF;
	background-color: #FF95B9;
	padding: 5px 10px 5px 10px;
	border-radius: 50px;
}
.right2 .biaoti2:hover{
	border: 1px solid #FF95B9;
	background-color: #FFFFFF;
	color: #FF95B9;
}
.bbody2{
	width: 310px;
	height: 420px;
	margin-top: 80px;
	margin-left: -20px;
	border: 1px solid #FF95B9;
	border-bottom-right-radius: 50px;
	border-top-left-radius: 50px;
}
.bbody3{
	margin-top: -1px;
}
.bbody2 img{
	border-top-left-radius: 50px;
	margin-top: 10px;
	margin-left: 10px;
}
.bbody2 h3{
	font-weight: 100;
	text-align: center;
	margin-top: 10px;
}
.bbody2 p{
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 20px;
	letter-spacing: 1px;
	line-height: 25px;
}

.foot1{
	width: 60%;
	margin: 50px auto;
	border: 1px solid #CCCCCC;
	box-shadow: 0 10px 10px #CCCCCC;
	height: 150px;
	text-align: center;
	color: #FF95B9;
	
}
.foot1 ,s1,s2,s3,s4{
	padding-top: 50px;
}
.foot1 .s1{
	font-weight: bold;
	font-size: 20px;
}
.foot1 .s2{
	font-size:28px;
	font-family: verdana;
	font-weight: bold;
	
}
.foot1 .s3{
	line-height: 50px;
	font-size: 20px;
}
.foot1 .s4{

	font-size: 22px;
	border: 1px solid #FF95B9;
	border-radius: 50px;
	padding: 5px 50px 5px 50px;
	line-height: 40px;
}
.foot1 .s4:hover{
	color: #FFFFFF;
	background-color: #FF95B9;
}
.body2{
	width: 100%;
	margin-left: 100px;
	height: 800px;
}
.body2 .left1{
	float: left;
	width: 250px;
	margin-right: 60px;
}
.body2 .left1 p{
	margin-top: 30px;
	color: #505050;
}
.body2 .left1 p .s5{
	font-size: 18px;
	color: #FF95B8;
}
/*.body2 .left1:nth-child(1){
	text-indent: 32px;
} */
.body2 .zhong1{
	float: left;
	margin-top: 50px;
}
.body2 .zhong1 img{
	width: 390px;
	height: 500px;
}
.body2 .zhong1 div{
	background-color: #FF95B9;
	width: 390px;
	height: 100px;
	margin-top: -8px;
	margin-bottom: 50px;
}
.body2 .zhong1 div p{
	padding: 20px 10px 20px 10px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
}
.body2 .right1{
	float: left;
	width: 250px;
	margin-left:60px;
}
.body2 .right1 p{
	margin-top: 30px;
	color: #505050;
}
.body2 .right1 p .s5{
	font-size: 18px;
	color: #FF95B8;
}
.foot2{
	width: 1050px;
	height: 100px;
	overflow: hidden;
	text-align: center;
	padding-top: 30px;
	border: 1px solid #CCCCCC;
	box-shadow: 0 10px 10px #CCCCCC;
	margin: 0 auto;
	color: #FFFFFF;
	background-color: #FF95B9;
}
.foot2 h3{
	font-size: 22px;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 20px;
}
.foot2 p{
	font-size: 18px;
}
.body8{
	width:1200px;
	height: 1100px;
	margin-top: 200px;
	/*background-image: url(../../images/dabeijing3.jpg);
	background-size: 100% 100%;
	/*固定背景不动
	background-attachment: fixed;*/
}
.body8 .xiao{
	width: 200px;
	height: 200px;
	border: 1px solid #FF95B9;
	border-radius: 100px;
	float: left;
	line-height: 200px;
	text-align: center;
	margin-left: 200px;
	color: #FF95B8;
}
.body8 .zhong2{
	width: 600px;
	height: 600px;
	border: 1px solid #FFAE4A;
	border-radius: 300px;
	line-height: 100px;
	text-align: center;
	margin-left: 300px;
	margin-top: 50px;
}
.body8 .zhong2 h2{
	color: #FFAE4A;
}
.body8 .zhong2 h3{
	border: 1px solid #FF95B9;
	color: #FF95B8;
	border-radius: 50px;
	width: 60%;
	margin: 0 auto;
}
.body8 .zhong2 h3:hover{
	color: #FFFFFF;
	background-color: #FF95B9;
}
.body8 .xiao2{
	width: 200px;
	height: 200px;
	border: 1px solid #FF95B9;
	border-radius: 100px;
	float: left;
	line-height: 200px;
	text-align: center;
	margin-left: 200px;
	margin-top: -150px;
	color: #FF95B8;
}
.foot4{
	width: 1200px;
	margin: 100px auto;
	height: 200px;
	border: 1px solid #CCCCCC;
	box-shadow: 0 5px 10px #CCCCCC;
}
.foot4 h2{
	padding-top: 30px;
	margin-left: 400px;
	color: #FFAE4A;
}
.foot4 hr{
	width: 250px;
	margin-top: -15px;
	margin-left: 200px;
	color: #FF95B9;
}
.foot4 span{
	font-size: 22px;
	color: #FF95B9;
	padding-left: 20px;
	margin-top: 50px;
}
.foot4 p{
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 20px;
	color: #8C8C8C;
	letter-spacing: 1px;
	line-height: 30px;
}
