/** 样式预设 */
* {
    padding: 0;
    margin: 0;
}

html, body {
    min-width: 7.5rem;
    margin: 0 auto;
    font-family: "Microsoft YaHei";
}

.inner {
    padding: 0 .2rem;
}

.text-center {
    text-align: center;
}

a {
    text-decoration: none;
}
    a:link,
    a:visited,
    a:hover,
    a:active {
        text-decoration: none;
    }

ol, ul, li {
    list-style: none inside;
}

p {
    font-size: .26rem;
    color: #333;
    line-height: .4rem;
}

h3{
	font-size: .28rem;
    color: #333;
    line-height: .4rem;
}

footer {
  width: 100%;
  height: 1.5rem;
  background: url('../images/footer.png') no-repeat center center;
  background-size: 100%
}
